.catalog-card {
    position: relative;

    display: flex;
    width: 100%;
    padding-top: 1.04vw;
    padding-right: 1.56vw;
    padding-bottom: 3.07vw;
    padding-left: 1.56vw;
    flex-direction: column;
    align-items: center;

    border: 1px solid #DCDCDC;
    box-shadow: 
        -4.01vw 5.21vw 1.82vw 0px rgba(0, 0, 0, 0.00), 
        -2.60vw 3.33vw 1.67vw 0px rgba(0, 0, 0, 0.01), 
        -1.46vw 1.88vw 1.41vw 0px rgba(0, 0, 0, 0.05), 
        -0.63vw 0.83vw 1.04vw 0px rgba(0, 0, 0, 0.09), 
        -0.16vw 0.21vw 0.57vw 0px rgba(0, 0, 0, 0.10);

    overflow: hidden;
    cursor: pointer;
}

.catalog-card:hover {
    box-shadow: 
        0px 0px 0.83vw 0.16vw rgba(0, 0, 0, 0.25), 
        0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);
}

.catalog-card::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    display: inline-block;
    width: 100%;
    height: 100%;
    clip-path: polygon(22% 0, 100% 0, 100% 79%);

    background-color: rgba(247, 247, 247, 0.51);
}

.brands-card__arrow {
    height: 1.61vw;
    width: 2.40vw;
    align-self: start;

    background: no-repeat url('../../svg/arrow-with-line-green.svg');
    background-size: contain;
    background-position: center;
}

.brands-card__image {
    width: 9.38vw;
    height: 9.38vw;
    margin-top: 0.63vw;
}

.brands-card__image > img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.brands-card__wr-title {
    margin-top: 0.99vw;
}

.brands-card__title {
    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 700;

    color: #4D96AB;
}

.brands-card__line {
    width: 96%;
    height: 0.10vw;
    margin-top: 0.52vw;

    background: no-repeat linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
}

.brands-card__text {
    width: 100%;
    margin-top: 1.56vw;
}

.brands-card__text > p {
    font-family: 'Roboto';
    font-size: 0.83vw;
    font-weight: 400;
    text-align: center;

    color: #505050;
}

.brands-card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media(max-width: 961px) {
    .catalog-card {
        padding-top: 4vw;
        padding-right: 2.93vw;
        padding-bottom: 6.40vw;
        padding-left: 2.93vw;

        box-shadow: none;
    }
}

@media(max-width: 961px) {
    .catalog-card::before {


        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        display: inline-block;
        width: 100%;
        height: 100%;
        clip-path: polygon(22% 0, 100% 0, 100% 79%);

        background-color: rgba(247, 247, 247, 0.51);
    }
}

@media(max-width: 961px) {
    .brands-card__arrow {
        height: 5.33vw;
        width: 7.73vw;
    }
}

@media(max-width: 961px) {
    .brands-card__image {
        width: 26.67vw;
        height: 26.67vw;
        margin-top: 0;
    }
}

@media(max-width: 961px) {
    .brands-card__wr-title {
        margin-top: 4.53vw;
    }
}

@media(max-width: 961px) {
    .brands-card__title {
        font-size: 4.27vw;
    }
}

@media(max-width: 961px) {
    .brands-card__line {
        width: 96%;
        height: 1px;
        margin-top: 0.4vw;
        background: no-repeat linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
    }
}

@media(max-width: 961px) {
    .brands-card__text {
        margin-top: 2.93vw;
    }
}

@media(max-width: 961px) {
    .brands-card__text > p {
        font-size: 2.13vw;
    }
}