.brands-card {
    position: relative;

    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 1.04vw;
    padding-right: 1.56vw;
    padding-bottom: 2.60vw;
    padding-left: 1.56vw;
    flex-direction: column;
    align-items: center;

    border: 1px solid #DCDCDC;
    box-shadow: 
        -4.01vw 5.21vw 1.82vw 0px rgba(0, 0, 0, 0.00), 
        -2.60vw 3.33vw 1.67vw 0px rgba(0, 0, 0, 0.01), 
        -1.46vw 1.88vw 1.41vw 0px rgba(0, 0, 0, 0.05), 
        -0.63vw 0.83vw 1.04vw 0px rgba(0, 0, 0, 0.09), 
        -0.16vw 0.21vw 0.57vw 0px rgba(0, 0, 0, 0.10);
    background-color: #fff;

    overflow: hidden;
    cursor: pointer;
}

.brands-card:hover {
    box-shadow: 
        0px 0px 0.83vw 0.16vw rgba(0, 0, 0, 0.25), 
        0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);
}

.brands-card__arrow {
    height: 1.61vw;
    width: 2.40vw;
    align-self: start;

    background: no-repeat url('../../svg/arrow-with-line-green.svg');
    background-size: contain;
    background-position: center;
}

.brands-card__wr-brand {
    display: flex;
    margin-top: 1.2vw;
    justify-content: center;
    flex-grow: 1;
}

.brands-card__image {
    height: 9.38vw;
    margin-top: 0.63vw;
}

.brands-card__niktea-img {
    width: 94%;
}
.brands-card__althaus-img {
    width: 85.12%;
}
.brands-card__impassion-img {
    width: 76.19%;
}
.brands-card__r18-img {
    width: 94.4%;
}
.brands-card__lavazza-img {
    width: 78.15%;
}
.brands-card__oasis-img {
    width: 72.56%;
}
.brands-card__danesi-img {
    width: 72.56%;
}
.brands-card__chocolate-img {
    width: 69.77%;
}
.brands-card__monin-img {
    width: 82.1%;
}
.brands-card__clavis-img {
    width: 76.47%;
}
.brands-card__vedrenne-img {
    width: 92.11%;
}
.brands-card__wmf-img {
    width: 77.76%;
}
.brands-card__rancilio-img {
    width: 88.75%;
}
.brands-card__kaffit-img {
    width: 98.13%;
}
.brands-card__bonomi-img {
    width: 85.68%;
}

.brands-card__image > img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.brands-card__wr-title {
    display: grid;
    place-items: center;
    height: 9.38vw;
}

.brands-card__title {
    font-family: 'Play';
    font-size: 1.96vw;
    font-weight: 700;
    text-align: center;

    color: #4D96AB;
}

.brands-card__line {
    width: 96%;
    height: 0.10vw;

    background: no-repeat linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
}

.brands-card__text {
    width: 93%;
    height: 2.92vw;
    margin-top: 0.52vw;
}

.brands-card__text > p {
    font-family: 'Roboto';
    font-size: 0.63vw;
    font-weight: 400;
    text-align: center;

    color: #505050;
}

.brands-card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media(max-width: 961px) {
    .brands-card {
        padding-top: 4vw;
        padding-right: 4vw;
        padding-bottom: 7.73vw;
        padding-left: 4vw;

        border: 1px solid #DCDCDC;
        box-shadow: none;
    }
}

@media(max-width: 961px) {
    .brands-card__arrow {
        height: 5.33vw;
        width: 7.73vw;
        margin-left: 3%;
    }
}

@media(max-width: 961px) {
    .brands-card__wr-brand {
        margin-top: 0;
        flex-grow: 1;
    }
}

@media(max-width: 961px) {
    .brands-card__image {
        height: 26.93vw;
        margin-top: 0;
    }
}

@media(max-width: 961px) {
    .brands-card__wr-title {
        height: 26.93vw;
        margin-top: 0;
    }
}

@media(max-width: 961px) {
    .brands-card__title {
        font-size: 4.27vw;
    }
}

@media(max-width: 961px) {
    .brands-card__line {
        width: 67.38%;
        height: 1px;
    }
}

@media(max-width: 961px) {
    .brands-card__text {
        width: 100%;
        max-height: 18.67vw;
        height: auto;
        margin-top: 2.13vw;

        overflow: hidden;
    }
}

@media(max-width: 961px) {
    .brands-card__text > p {
        font-size: 2.13vw;
    }
}