.sku__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 0.78vw;
    row-gap: 1.04vw;
}

.sku__item {
    position: relative;

    height: 21.35vw;
    width: 24.11%;
    padding-top: 2.40vw;
    padding-bottom: 0.68vw;

    border: 1px solid #DEDBD3;
    background: #EEE;
    box-shadow: 
        -4.01vw 5.21vw 1.82vw 0px rgba(0, 0, 0, 0.00), 
        -2.60vw 3.33vw 1.67vw 0px rgba(0, 0, 0, 0.01), 
        -1.46vw 1.88vw 1.41vw 0px rgba(0, 0, 0, 0.05), 
        -0.63vw 0.83vw 1.04vw 0px rgba(0, 0, 0, 0.09), 
        -0.16vw 0.21vw 0.57vw 0px rgba(0, 0, 0, 0.10);

    cursor: pointer;
}

.sku__item:hover {
    box-shadow: 
        0px 0px 0.83vw 0.16vw rgba(0, 0, 0, 0.25), 
        0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);
}

