block header
    header.header
        .header__wr-content
            .header__content 
                .header__logo
                    img(src=require("../svg/logo.svg"), alt="")
                    a(href="/" title="Главная") 
                nav.header__nav
                    .header__wr-catalog-button
                        label(for="controll-catalog")
                            span.header__catalog-icon
                            span.header__catalog-text Каталог
                    .header__nav-list 
                        .header__nav-item Доставка
                            .header__nav-item-underline
                        .header__nav-item Оплата
                            .header__nav-item-underline
                        .header__nav-item Контакты
                            .header__nav-item-underline
                .header__icons-group
                    .header_wr-search
                        input(type="checkbox" id="header__search-checkbox")
                        label.header__search-icon(for="header__search-checkbox")
                        .header__search-line
                            input(type="text" value="Найти на Oasis...")
                    .header__phone-icon 
                        a(href="" title="") 
                    .header__favourite-icon
                    .header__account-icon
                        a(href="#0" title="вход в аккаунт") 
                    //- .header__basket-icon_active
                    .header__basket-icon
                        <svg viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.25 1.00067H0.5V3.50067H3.375L7.475 14.7507C7.73289 15.4801 8.21009 16.1119 8.84117 16.5595C9.47225 17.0071 10.2263 17.2485 11 17.2507H21.75V14.7507H11C10.7431 14.7506 10.4925 14.6713 10.2822 14.5237C10.072 14.3761 9.91234 14.1673 9.825 13.9257L9.25 12.2507H20.85C21.3925 12.2499 21.9201 12.0726 22.353 11.7457C22.786 11.4187 23.1008 10.9598 23.25 10.4382L25.5 2.58817C25.5508 2.42402 25.5672 2.25116 25.5482 2.08039C25.5293 1.90961 25.4753 1.74458 25.3896 1.59561C25.304 1.44663 25.1886 1.31692 25.0506 1.21455C24.9125 1.11219 24.7549 1.03938 24.5875 1.00067C24.4758 0.981548 24.3617 0.981548 24.25 1.00067ZM20.8125 9.75067H8.3125L6.0375 3.50067H22.5875L20.8125 9.75067Z" fill="#FAF8F1"/>
                        </svg>
                        a(href="#0" title="корзина") 
                        .header__basket-counter 2


        .header__wr-slider
            .header__slider
            input.header__checkbox-catalog(type="checkbox" id="controll-catalog")
            .header__wr-catalog
                label.header__wr-catalog-close(for="controll-catalog") 
                ul.header__catalog-list
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Кофе
                    li.header__catalog-item.header__catalog-item_tea
                        a.header__catalog-link(href="" title="") Чай
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Сиропы и кордиалы
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Молоко
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Вода и напитки
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Кофемашины
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Аксессуары
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Посуда WMF
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Подарочные наборы <br> и сертификаты
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Разное
                    li.header__catalog-item 
                        a.header__catalog-link(href="" title="") Весь каталог

                    li.header__catalog-item-sub.header__catalog-item-sub-tea
                        ul.header__sub-catalog-list
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-title(href="" title="Althaus") Чай Althaus
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Althaus BIO
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Deli pack на чашку
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Pyra pack в пирамидках
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Grand pack на чайник
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Чай листовой
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Чай Pure tea
                            
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-title(href="" title="") Чай Niktea
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Чай в пакетиках
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Чай в пирамидках
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Чай в пакетиках на чайник
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Чай листовой
                            li.header__sub-catalog-item 
                                a.header__sub-catalog-link(href="" title="") Чай Niktea Top Selection

