block header
    header.header
        .header__wr-content
            .header__content 
                .header__wr-controll-nav-mob
                    label.header__controll-nav-mob(for="nav-mobile")
                        <svg class="header__controll-nav-svg_on" class="header__svg-nav-mob_open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                            <path d="M2 8H18.25M2 15.5H28M11.75 23H28" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg class="header__controll-nav-svg_off" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path d="M17.5132 15.0753L17.0889 15.4996L17.5131 15.9238L24.863 23.2743L24.863 23.2743C25.5783 23.9895 25.5783 25.1482 24.863 25.8635L24.863 25.8635C24.1477 26.5788 22.989 26.5788 22.2736 25.8635L21.8494 26.2878L22.2736 25.8635L14.9238 18.514L14.4995 18.0897L14.0753 18.514L6.7254 25.8635L7.14966 26.2878L6.72539 25.8635C6.01009 26.5788 4.85129 26.5788 4.13599 25.8635L4.13597 25.8635C3.4207 25.1483 3.42068 23.9896 4.13598 23.2743L11.4858 15.9247L11.9101 15.5004L11.4858 15.0761L4.13598 7.72655C3.42069 7.01128 3.42069 5.85256 4.13598 5.13729C4.85129 4.42201 6.01009 4.42201 6.7254 5.13729L14.0753 12.4869L14.4995 12.9111L14.9238 12.4869L22.2736 5.13645C22.2736 5.13645 22.2737 5.13644 22.2737 5.13644C22.9889 4.42119 24.1477 4.42118 24.863 5.13646L25.2866 4.71289L24.863 5.13647C25.5783 5.85174 25.5783 7.01045 24.863 7.72571L25.2845 8.14718L24.863 7.72572L17.5132 15.0753Z" fill="white" stroke="#2F5F6D" stroke-width="1.2"/>
                        </svg>
                .header__logo
                    img(src=require("../svg/logo.svg"), alt="")
                    a(href="/" title="Главная") 
                nav.header__nav
                    .header__wr-catalog-button
                        label(for="controll-catalog")
                            span.header__catalog-icon
                            span.header__catalog-text Каталог
                    .header__nav-list 
                        a.header__nav-item(href="product-card.html" title="") Доставка
                            .header__nav-item-underline
                        a.header__nav-item(href="#0" title="") Оплата
                            .header__nav-item-underline
                        a.header__nav-item(href="#0" title="") Контакты
                            .header__nav-item-underline
                .header__icons-group
                    .header_wr-search
                        input(type="checkbox" id="header__search-checkbox")
                        label.header__search-icon.icon-scale-filter(for="header__search-checkbox")
                        .header__wr-search-line
                            input.header__search-line(type="text" placeholder="Найти на Oasis...")
                    .header__phone-icon.icon-scale-filter
                        a(href="#0" title="") 
                    .header__favourite-icon.icon-scale-filter
                    .header__account-icon.icon-scale-filter
                        a(href="#0" title="вход в аккаунт") 
                    //- .header__basket-icon_active
                    .header__basket-icon.icon-scale-filter.header__basket-icon_active
                        <svg viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.25 1.00067H0.5V3.50067H3.375L7.475 14.7507C7.73289 15.4801 8.21009 16.1119 8.84117 16.5595C9.47225 17.0071 10.2263 17.2485 11 17.2507H21.75V14.7507H11C10.7431 14.7506 10.4925 14.6713 10.2822 14.5237C10.072 14.3761 9.91234 14.1673 9.825 13.9257L9.25 12.2507H20.85C21.3925 12.2499 21.9201 12.0726 22.353 11.7457C22.786 11.4187 23.1008 10.9598 23.25 10.4382L25.5 2.58817C25.5508 2.42402 25.5672 2.25116 25.5482 2.08039C25.5293 1.90961 25.4753 1.74458 25.3896 1.59561C25.304 1.44663 25.1886 1.31692 25.0506 1.21455C24.9125 1.11219 24.7549 1.03938 24.5875 1.00067C24.4758 0.981548 24.3617 0.981548 24.25 1.00067ZM20.8125 9.75067H8.3125L6.0375 3.50067H22.5875L20.8125 9.75067Z" fill="#FAF8F1"/>
                        </svg>
                        a(href="#0" title="корзина") 
                        .header__basket-counter 2


        
                            


