.burger__mobile-list
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__coffee") Кофе
        input#burger__coffee.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-sub-list
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            label.burger__mobile-sub-title(for="burger__impassion") Impassion
            input#burger__impassion.burger__second-level(type="checkbox")
        //- 3-й уровень
        .burger__mobile-link-list
            .burger__mobile-link-item
                a(href="#0" title="Зерновой") Зерновой
            .burger__mobile-link-item
                a(href="#0" title="Молотый") Молотый
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            label.burger__mobile-sub-title(for="burger__R18") R18
            input#burger__R18.burger__second-level(type="checkbox")
        //- 3-й уровень
        .burger__mobile-link-list
            .burger__mobile-link-item
                a(href="#0" title="Эспрессо") Эспрессо
            .burger__mobile-link-item
                a(href="#0" title="Фильтр кофе") Фильтр кофе
            .burger__mobile-link-item
                a(href="#0" title="Дрип-пакеты") Дрип-пакеты
            .burger__mobile-link-item
                a(href="#0" title="Мерч R18") Мерч R18
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            a.burger__mobile-item-title(href="#0" title="lavazza") Lavazza
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            a.burger__mobile-item-title(href="#0" title="oasis") Oasis
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            a.burger__mobile-item-title(href="#0" title="oasis") Danesi
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            label.burger__mobile-sub-title(for="burger__chocolate") Шоколад
            input#burger__chocolate.burger__second-level(type="checkbox")
        //- 3-й уровень
        .burger__mobile-link-list
            .burger__mobile-link-item
                a(href="#0" title="Горячий шоколад") Горячий шоколад
            .burger__mobile-link-item
                a(href="#0" title="Порционный шоколад") Порционный шоколад
    
    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__tea") Чай
        input#burger__tea.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-sub-list
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            label.burger__mobile-sub-title(for="burger__althaus") Althaus
            input#burger__althaus.burger__second-level(type="checkbox")
        //- 3-й уровень
        .burger__mobile-link-list
            .burger__mobile-link-item
                a(href="#0" title="BIO") BIO
            .burger__mobile-link-item
                a(href="#0" title="Deli pack на чашку") Deli pack на чашку
            .burger__mobile-link-item
                a(href="#0" title="Pyra pack в пирамидках") Pyra pack в пирамидках
            .burger__mobile-link-item
                a(href="#0" title="Grand pack на чайник") Grand pack на чайник
            .burger__mobile-link-item
                a(href="#0" title="Листовой") Листовой
            .burger__mobile-link-item
                a(href="#0" title="Чай Pure tea") Чай Pure tea
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            label.burger__mobile-sub-title(for="burger__niktea") Niktea
            input#burger__niktea.burger__second-level(type="checkbox")
        //- 3-й уровень
        .burger__mobile-link-list
            .burger__mobile-link-item
                a(href="#0" title="Пакетики на чашку") Пакетики на чашку
            .burger__mobile-link-item
                a(href="#0" title="Пирамидки на чашку") Пирамидки на чашку
            .burger__mobile-link-item
                a(href="#0" title="Пакетики на чайник") Пакетики на чайник
            .burger__mobile-link-item
                a(href="#0" title="Листовой") Листовой
            .burger__mobile-link-item
                a(href="#0" title="Чай Niktea Top Selection") Чай Niktea Top Selection
    
    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__syrups") Сиропы и кордиалы
        input#burger__syrups.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-sub-list
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            label.burger__mobile-sub-title(for="burger__monin") Monin
            input#burger__monin.burger__second-level(type="checkbox")
        //- 3-й уровень
        .burger__mobile-link-list
            .burger__mobile-link-item
                a(href="#0" title="Сироп") Сироп
            .burger__mobile-link-item
                a(href="#0" title="Пюре") Пюре
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            label.burger__mobile-sub-title(for="burger__clavis") Clavis
            input#burger__clavis.burger__second-level(type="checkbox")
        //- 3-й уровень
        .burger__mobile-link-list
            .burger__mobile-link-item
                a(href="#0" title="Сироп") Сироп
            .burger__mobile-link-item
                a(href="#0" title="Кордиал") Кордиал
            .burger__mobile-link-item
                a(href="#0" title="Парфюм") Парфюм
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            a.burger__mobile-item-title(href="#0" title="SweetShot") SweetShot
        //- 2
        .burger__mobile-sub-item.burger__mobile-sub_second
            a.burger__mobile-item-title(href="#0" title="oasis") Vedrenne
    
    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__milk") Молоко
        input#burger__milk.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-link-list
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Альтернативное молоко") Альтернативное молоко
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Натуральное молоко") Натуральное молоко

    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__water") Вода и напитки
        input#burger__water.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-link-list
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="С газом") С газом
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Без газа") Без газа
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Сок") Сок
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Квас") Квас
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Холодный чай") Холодный чай

    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__coffee-machines") Кофемашины
        input#burger__coffee-machines.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-link-list
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="WMF") WMF
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Rancilio") Rancilio
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Kaffit") Kaffit
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Доп. оборудование") Доп. оборудование
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Аксессуары") Аксессуары
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Водоподготовка и чистящие средства") Водоподготовка и чистящие средства

    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__accessories") Аксессуары
        input#burger__accessories.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-link-list
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Althaus") Althaus
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Niktea") Niktea
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Impasson") Impasson
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Lavazza") Lavazza
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Danesi") Danesi
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Bonomi") Bonomi
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Аксессуары для бариста") Аксессуары для бариста

    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__wmf") Посуда WMF
        input#burger__wmf.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-link-list
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Детские наборы") Детские наборы
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Коллекции посуды WMF") Коллекции посуды
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Столовые приборы и бокалы WMF") Столовые приборы и бокалы
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Кастрюли и сковородки WMF") Кастрюли и сковородки
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Аксессуары WMF") Аксессуары

    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        a.burger__mobile-item-title(href="./contacts.html") Подарочные наборы

    //- -----------------------------------------------------------------------
    //- 1-й уровень
    .burger__mobile-item
        label.burger__mobile-item-title(for="burger__different") Разное
        input#burger__different.burger__first-level(type="checkbox")
    //- 2-й уровень
    .burger__mobile-link-list
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Бульон") Бульон
        .burger__mobile-link-item.burger__mobile-sub_second
            a(href="#0" title="Сахар") Сахар