.nav-m
    label(for="nav-mobile").nav-m__close-cover
    .nav-m__list 
        .nav-m__item 
            a.nav-m__link(href="#0" title="") Каталог
        .nav-m__item 
            a.nav-m__link(href="#0" title="") О нас
        .nav-m__item 
            a.nav-m__link(href="./delivery.html" title="") Доставка
        .nav-m__item 
            a.nav-m__link(href="./payment.html" title="") Оплата
        .nav-m__item 
            a.nav-m__link(href="#0" title="") Обмен и возврат
        .nav-m__item 
            a.nav-m__link(href="#0" title="") Контакты