input.nav-cat__checkbox(type="checkbox" id="controll-catalog")
.nav-cat__wrapper
    label.nav-cat__catalog-close(for="controll-catalog") 
    ul.nav-cat__list
        li.nav-cat__item.nav-cat__item_coffee
            a.nav-cat__link(href="" title="") Кофе
        li.nav-cat__item.nav-cat__item_tea
            a.nav-cat__link(href="" title="") Чай
        li.nav-cat__item.nav-cat__item_syrups
            a.nav-cat__link(href="" title="") Сиропы и кордиалы
        li.nav-cat__item.nav-cat__item_milk
            a.nav-cat__link(href="" title="") Молоко
        li.nav-cat__item.nav-cat__item_water
            a.nav-cat__link(href="" title="") Вода и напитки
        li.nav-cat__item.nav-cat__item_machines
            a.nav-cat__link(href="" title="") Кофемашины
        li.nav-cat__item.nav-cat__item_accessories
            a.nav-cat__link(href="" title="") Аксессуары
        li.nav-cat__item.nav-cat__item_wmf
            a.nav-cat__link(href="" title="") Посуда WMF
        li.nav-cat__item
            a.nav-cat__link(href="" title="") Подарочные наборы <br> и сертификаты
        li.nav-cat__item.nav-cat__item_different
            a.nav-cat__link(href="" title="") Разное
        li.nav-cat__item
            a.nav-cat__link(href="./catalog.html" title="Весь каталог") Весь каталог

        //- кофе
        li.nav-cat__item-sub.nav-cat__item-sub_coffee
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="impassion") impassion
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Зерновой
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Молотый

                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") R18
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Эспрессо
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Фильтр кофе
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Дрип-пакеты
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Мерч R18
                
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") lavazza
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") oasis
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") danesi

                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Шоколад
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Горячий шоколад
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Порционный шоколад

        //- чай
        li.nav-cat__item-sub.nav-cat__item-sub_tea
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Чай Althaus
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Althaus BIO
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Deli pack на чашку
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Pyra pack в пирамидках
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Grand pack на чайник
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Чай листовой
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Чай Pure tea
                
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Чай Niktea
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Чай в пакетиках
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Чай в пирамидках
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Чай в пакетиках на чайник
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Чай листовой
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Чай Niktea Top Selection
        
        //- сиропы
        li.nav-cat__item-sub.nav-cat__item-sub_syrups
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Monin
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Сироп
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Пюре

                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Clavis
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Сироп
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Кордиал
                li.nav-cat__sub-item  
                    a.nav-cat__sub-catalog-link(href="" title="") Парфюм
                
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") SweetShot
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Vedrenne
        
        //- молоко
        li.nav-cat__item-sub.nav-cat__item-sub_milk
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Альтернативное молоко
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Натуральное молоко
        
        //- вода и напитки
        li.nav-cat__item-sub.nav-cat__item-sub_water
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") С газом
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Без газа
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Сок
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Квас
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Холодный чай
        
        //- кофемашины
        li.nav-cat__item-sub.nav-cat__item-sub_machines
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") WMF
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Rancilio
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Kaffit
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Доп. оборудование
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Аксессуары
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Водоподготовка <br> и чистящие средства
        
        //- аксессуары
        li.nav-cat__item-sub.nav-cat__item-sub_accessories
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Althaus
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Niktea
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Impasson
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Lavazza
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Danesi
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Bonomi
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Аксессуары для бариста
        
        //- посуда WMF
        li.nav-cat__item-sub.nav-cat__item-sub_wmf
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Детские наборы
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Коллекции посуды WMF
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Столовые приборы и бокалы WMF
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Кастрюли и сковородки WMF
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Аксессуары WMF
        
        //- разное
        li.nav-cat__item-sub.nav-cat__item-sub_different
            ul.nav-cat__sub-list
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Бульон
                li.nav-cat__sub-item  
                    a.nav-cat__sub-title(href="" title="") Сахар

