label.reviews__add-review(for="switcher-reviews-modal") Написать отзыв
ul.reviews__list
    li.reviews__item 
        ul.reviews__head-list 
            li.reviews__head-item.reviews__avatar
            li.reviews__head-item.reviews__info
                .reviews__name Василий Петров
                .reviews__date 25.26.2024
            li.reviews__head-item.reviews__stars
                ul.reviews__stars-list 
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item
        .reviews__content
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi expedita tempore labore blanditiis ab dolor inventore iusto nesciunt distinctio officiis sed non, excepturi fugit voluptate facilis, quia commodi adipisci dignissimos. Lorem ipsum dolor.
        
    li.reviews__item 
        ul.reviews__head-list 
            li.reviews__head-item.reviews__avatar
            li.reviews__head-item.reviews__info
                .reviews__name Василий Петров
                .reviews__date 25.26.2024
            li.reviews__head-item.reviews__stars
                ul.reviews__stars-list 
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item
        .reviews__content
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi expedita tempore labore blanditiis ab dolor inventore iusto nesciunt distinctio officiis sed non, excepturi fugit voluptate facilis, quia commodi adipisci dignissimos. Lorem ipsum dolor.
        
    li.reviews__item 
        ul.reviews__head-list 
            li.reviews__head-item.reviews__avatar
            li.reviews__head-item.reviews__info
                .reviews__name Василий Петров
                .reviews__date 25.26.2024
            li.reviews__head-item.reviews__stars
                ul.reviews__stars-list 
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item
        .reviews__content
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi expedita tempore labore blanditiis ab dolor inventore iusto nesciunt distinctio officiis sed non, excepturi fugit voluptate facilis, quia commodi adipisci dignissimos. Lorem ipsum dolor.
        
    li.reviews__item 
        ul.reviews__head-list 
            li.reviews__head-item.reviews__avatar
            li.reviews__head-item.reviews__info
                .reviews__name Василий Петров
                .reviews__date 25.26.2024
            li.reviews__head-item.reviews__stars
                ul.reviews__stars-list 
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
                    li.reviews__stars-item.reviews__stars_active
        .reviews__content
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi expedita tempore labore blanditiis ab dolor inventore iusto nesciunt distinctio officiis sed non, excepturi fugit voluptate facilis, quia commodi adipisci dignissimos. Lorem ipsum dolor.
        
.reviews__wr-pagination 
    include pagination

input#switcher-reviews-modal(type="checkbox")
.reviews__modal-cover
    .reviews__modal
        .reviews__modal-wr-close
            label.reviews__modal-close(for="switcher-reviews-modal")
        .reviews__modal-wr-title 
            h2.reviews__modal-title Чай черный NIKTEA Сибирский Сбор
        form.reviews__form(action="" name="form_reviews" novalidate) 
            ul.reviews__modal-stars-list
                li.reviews__modal-stars-item 
                    label.reviews__modal-wr-star
                        input.reviews__input-star(type="checkbox" name="star-1")
                        div.reviews__modal-star(data-num="0")
                li.reviews__modal-stars-item 
                    label.reviews__modal-wr-star
                        input.reviews__input-star(type="checkbox" name="star-2")
                        div.reviews__modal-star(data-num="1")
                li.reviews__modal-stars-item  
                    label.reviews__modal-wr-star
                        input.reviews__input-star(type="checkbox" name="star-3")
                        div.reviews__modal-star(data-num="2")
                li.reviews__modal-stars-item 
                    label.reviews__modal-wr-star
                        input.reviews__input-star(type="checkbox" name="star-4")
                        div.reviews__modal-star(data-num="3")
                li.reviews__modal-stars-item  
                    label.reviews__modal-wr-star
                        input.reviews__input-star(type="checkbox" name="star-5")
                        div.reviews__modal-star(data-num="4")

            .reviews__modal-wr-text 
                textarea(name="text" placeholder="Расскажите о товаре, нам важно Ваше мнение" maxlength="250") 
            .reviews__wr-counter 
                .reviews__counter
                    span 0
                    span /
                    span 250 
            .reviews__modal-input-group
                label.reviews__modal-label.reviews__modal-wr-name
                    span.reviews__modal-input-name Имя
                    span.reviews__modal-input-error
                    input.reviews__modal-input(type="text" name="name" required)
                label.reviews__modal-label.reviews__modal-wr-secondname
                    span.reviews__modal-input-name Фамилия
                    input.reviews__modal-input(type="text" name="secondname")
                label.reviews__modal-label.reviews__modal-wr-email
                    span.reviews__modal-input-name Почта
                    span.reviews__modal-input-error
                    input.reviews__modal-input(type="email" name="email" required)
        //- .reviews__captcha_hide
        .reviews__captcha(name="form-reviews_captcha")
            .reviews__captcha-wr-img
                img.reviews__captcha-img(src=require('../../img/icons/captcha-icon.png') alt="" loading="lazy")
            .reviews__captcha-wr-input
                input.reviews__captcha-input(name="reviews_captcha")
            .reviews__captcha-wr-buttons 
                button.reviews__captcha-button(type="reset") Отмена
                button.reviews__captcha-button(type="button") ок
        .reviews__modal-wr-submit
            button.reviews__modal-submit(type="button") Отправить
        
        

//- .reviews__response_active 
.reviews__response-cover.reviews__response-cover-success 
    .reviews__response.reviews__modal-success 
        .reviews__modal-wr-close
            .reviews__modal-close
        .reviews__response-icon.reviews__response-icon_succ
        .reviews__modal-text 
            p Ваш отзыв успешно отправлен

.reviews__response-cover.reviews__response-cover-error
    .reviews__response.reviews__modal-error 
        .reviews__modal-wr-close
            .reviews__modal-close
        .reviews__response-icon.reviews__response-icon_err
        .reviews__modal-text 
            p Произошла ошибка,#[br] попробуйте еще раз.