.sel-address
    label.sel-address__label
        span Тип адреса
        .sel-address__wr-list
            input#sel-address__switcher.sel-address__switcher(type="checkbox")
            label.sel-address__selected-text(data-type="Домашний" for="sel-address__switcher") Домашний
            ul.sel-address__list 
                li.sel-address__item(data-type="Домашний") Домашний
                li.sel-address__item(data-type="Рабочий") Рабочий
                li.sel-address__item(data-type="Не придумал") Не придумал