.sel-address
    label.sel-address__label
        span Тип адреса
        span.sel-address__wr-list
            input.sel-address__switcher(type="checkbox")
            span.sel-address__selected-text(data-type="Домашний" for="sel-address__switcher") Домашний
            span.sel-address__list 
                span.sel-address__item(data-type="Домашний") Домашний
                span.sel-address__item(data-type="Рабочий") Рабочий
                span.sel-address__item(data-type="Не придумал") Не придумал