extends layout/layout

block content   

    ._404._404__wrapper
        ._404__wrapper-content 
            ._404__text 
                p Ой что-то пошло не так...
            ._404__code-error 
                p 404
            ._404__wr-button 
                a._404__button(href="./catalog.html" title="в каталог") В каталог