extends layout/layout

include mixines/bread-crumbs/bread-crumbs
include mixines/catalog-card


block content
    
    +bread-crumbs(bread_crumbs)

    .about-us.about-us__wrapper
        .about-us__wrapper-content
            .show-room
                .show-room__image 
                    img(src=require("../img/showroom.webp") alt="showroom")
                .show-room__wr-title 
                    h1.show-room__title Добро пожаловать в шоурум “ОАЗИС”
                .show-room__text 
                    p «ОАЗИС» — это официальный интернет-магазин компании «Алеф Трейд МСК», являющейся крупнейшим поставщиком горячих напитков премиум-класса и профессионального оборудования для их приготовления.
                    p Нашими фокусными брендами являются те, которые мы производим сами – чай Niktea и кофе Impassion, а также импортёрами которых мы являемся – чай Althaus, кофе Lavazza, Danesi, Bonomi, кофейное оборудование WMF и Rancilio.
                    p Конечно, ассортимент магазина не ограничивается только вышеописанными брендами. У нас Вы сможете найти прохладительные напитки, разнообразные аксессуары, столовые приборы, специальное оборудование для приготовления напитков и многое другое.

            .we-convenient
                .we-convenient__wr-title
                    h2.we-convenient__title С нами удобно
                ul.we-convenient__list
                    li.we-convenient__item 
                        .we-convenient__icon.we-convenient__icon_showroom
                        .we-convenient__text Шоурум
                    li.we-convenient__item 
                        .we-convenient__icon.we-convenient__icon_degustation
                        .we-convenient__text Дегустация
                    li.we-convenient__item 
                        .we-convenient__icon.we-convenient__icon_discount
                        .we-convenient__text Индивидуальные скидки
                    li.we-convenient__item 
                        .we-convenient__icon.we-convenient__icon_promo
                        .we-convenient__text Регулярные акции

            .partners
                .partners__wr-title
                    h2.partners__title С нами удобно
                ul.partners__list
                    li.partners__item 
                        .partners__icon.partners__icon_alef
                        .partners__text
                            p Алеф Трейд МСК – ведущий российский поставщик горячих напитков премиум-класса в сегменте фудсервис. Компания осуществляет поставки в лучшие рестораны и отели страны.
                            p Алеф Трейд МСК предлагает богатый ассортимент кофе, чая, сиропов и сопутствующих аксессуаров, являясь владельцем брендов Niktea, Impassion и эксклюзивным дистрибьютором Althaus, Lavazza, Danesi, Bonomi и Vedrenne. Подробнее о компании на сайте: #[a.partners__link(href="https://alephtrade.com/" title="сайт Алефтрейд" rel="nofollow") alephtrade.com]
                    li.partners__item 
                        .partners__icon.partners__icon_ist
                        .partners__text
                            p IST – крупнейший импортер профессионального кофейного оборудования и запчастей.
                            p Компания представляет в России и осуществляет техническое обслуживание оборудования известных мировых брендов: WMF (Германия), Rancilio (Италия), Mazzer (Италия), Fiorenzato (Италия), Marco (Ирландия), EGRO (Швейцария), Nivona (Швейцария) и многих других.
                            p Благодаря развитой федеральной сети дистрибьюторов компания осуществляет техническую поддержку на всей территории РФ. #[br] Подробнее о компании на сайте: #[a.partners__link(href="https://isttrade.ru/" title="сайт IST" rel="nofollow") isttrade.ru]
                    li.partners__item 
                        .partners__icon.partners__icon_wmf
                        .partners__text
                            p #[a.partners__link(href="https://wmf-posuda.ru/" title="сайт WMF-posuda" rel="nofollow") wmf-posuda.ru] – официальный интернет-магазин немецкой столовой посуды, приборов и аксессуаров WMF Professional в России. 
                            p Отличительные черты изделий WMF - великолепный дизайн, характеризующийся собственным выразительным языком форм, а также высочайшее качество применяемых материалов, наряду с высоким уровнем функциональности.
                            p Благодаря уникальному запатентованному сплаву Cromargan® посуда WMF обладает стойкостью к деформации, царапинам, повреждениям и к появлению коррозии или ржавчины.
                    li.partners__item 
                        .partners__icon.partners__icon_master
                        .partners__text
                            p Старый Мастер – лидирующий оптовый поставщик пива, безалкогольных напитков и пивного оборудования в Москве и Московской области.
                            p Старый Мастер является официальным дистрибьютором «Московской Пивоваренной Компании» и компании «САН ИнБев», российского подразделения AB InBev, а также предлагает уникальный ассортимент российского и импортного бутылочного и разливного крафтового пива, насчитывающий более 200 сортов.
                            p В портфель брендов безалкогольной продукции компании входят такие известные марки, как Нарзан, Borjomi, Perrier и многие другие. Подробнее о компании на сайте: #[a.partners__link(href="https://smbeer.ru/" title="сайт smbeer" rel="nofollow") www.smbeer.ru]
                    li.partners__item 
                        .partners__icon.partners__icon_r18
                        .partners__text
                            p #[a.partners__link(href="https://r18.coffee/" title="сайт Roasteria’18" rel="nofollow") Roasteria’18] – российский производитель обжаренного кофе, чьи кофейные бленды уже успели зарекомендовать себя на отечественном рынке.
                            p Ассортимент компании включает не только кофейное зерно традиционной обжарки, но и специальную линейку моносортов для альтернативных методов заваривания, где используется зерно высшего specialty–класса с полной прослеживаемостью до фермы и микролотов.