extends layout/layout

include mixines/bread-crumbs/bread-crumbs
include mixines/catalog-card


block content
    
    +bread-crumbs(bread_crumbs)

    .accont.accont__wrapper
        .accont__wrapper-content