extends layout/layout

include mixines/bread-crumbs/bread-crumbs
include mixines/label-input
include mixines/sku-card-list
include mixines/arrow-to-up


block content
    .account__wr-bread-crumbs
        +bread-crumbs(bread_crumbs)

    .account__wr-logout 
        a.account__logout(href="" title="logout") Выйти

    .account.account__wrapper
        .account__wrapper-content

            ul.account__ctrl-list 
                li.account__ctrl-item.account__ctrl-item_active(data-ctrl="profile") Профиль
                li.account__ctrl-item(data-ctrl="address") Адреса доставки
                li.account__ctrl-item(data-ctrl="history") История заказов
                li.account__ctrl-item(data-ctrl="favorites") Избранное
                li.account__ctrl-item(data-ctrl="loyalty") Программа лояльности

            ul.account__screen-list
                li.account__screen-item.account__screen-item_active(data-screen="profile")
                    .acc-user.account__item-content 
                        .acc-user__icon
                            .acc-user__discount #[span.acc-user__discount-text 10%]
                            .acc-user__avatar
                        form.acc-user__form(name="acc-user-data")
                            ul.acc-user__inputs-list 
                                li.acc-user__inputs-item.acc-user__item-second-name 
                                    label.label-input__label
                                        span.label-input__label-text Фамилия
                                        span.label-input__label-error
                                        input.label-input__input.acc-user__second-name(type="text" name="second-name" required disabled)
                                li.acc-user__inputs-item.acc-user__item-name 
                                    label.label-input__label
                                        span.label-input__label-text Имя
                                        span.label-input__label-error
                                        input.label-input__input.acc-user__name(type="text" name="name" required disabled)
                                li.acc-user__inputs-item.acc-user__item-patronimyc
                                    label.label-input__label
                                        span.label-input__label-text Отчество
                                        span.label-input__label-error
                                        input.label-input__input.acc-user__patronimyc(type="text" name="patronimyc" disabled)
                                li.acc-user__inputs-item.acc-user__item-phone
                                    label.label-input__label
                                        span.label-input__label-text Телефон
                                        span.label-input__label-error
                                        input.label-input__input.acc-user__phone(type="text" name="phone" disabled)
                                li.acc-user__inputs-item.acc-user__item-email
                                    label.label-input__label
                                        span.label-input__label-text Почта
                                        span.label-input__label-error
                                        input.label-input__input.acc-user__email(type="text" name="email" required disabled)
                            .acc-user__birth-date 
                                label.acc-user__birth-label
                                    span.acc-user__birth-text Дата рождения
                                    input.acc-user__birth-input(type="text" readonly value name="birth-date" disabled)
                            .acc-user__item-checkmarks 
                                label.acc-user__checkmarks-label.acc-user__personal-data
                                    //- .acc-user__checkmarks-input_invalid
                                    input.acc-user__checkmarks-input.acc-user__personal-input(type="checkbox" name="personal-data" disabled required)
                                    span.acc-user__checkmarks-text.acc-user__personal-text Согласие на обработку персональных данных
                                label.acc-user__checkmarks-label.acc-user__mailing
                                    //- .acc-user__checkmarks-input_invalid
                                    input.acc-user__checkmarks-input.acc-user__mailing-input(type="checkbox" name="mailing")
                                    span.acc-user__checkmarks-text.acc-user__mailing-text Согласие на обработку персональных данных
                            .account__form-buttons.acc-user__buttons 
                                button.account__form-button.acc-user__button-save(type="button" disabled) Сохранить
                                button.account__form-button.acc-user__button-edit(type="button") Редактировать
                                button.account__form-button.acc-user__button-delete(type="button") Удалить профиль


                li.account__screen-item(data-screen="address")
                    .acc-addr.account__item-content
                        .acc-addr__my-addresses
                            .account__wr-title
                                h2.account__title Мои адреса
                            .acc-addr__wr-select
                                include components/select-address
                        form.acc-addr__inputs(name="acc-address")
                            ul.acc-addr__form-list
                                li.acc-addr__form-item.acc-addr__item-zipcode
                                    +label-input('Индекс', 'acc-user__zipcode', 'zipcode', true)
                                li.acc-addr__form-item.acc-addr__item-area
                                    +label-input('Область', 'acc-user__area', 'area', true)
                                li.acc-addr__form-item.acc-addr__item-district
                                    +label-input('Район', 'acc-user__district', 'district', false)
                                li.acc-addr__form-item.acc-addr__item-city
                                    +label-input('Город', 'acc-user__city', 'city', true)
                                li.acc-addr__form-item.acc-addr__item-street
                                    +label-input('Улица', 'acc-user__street', 'street', true)
                                li.acc-addr__form-item.acc-addr__item-house
                                    +label-input('Дом', 'acc-user__house', 'house', true)
                                li.acc-addr__form-item.acc-addr__item-appartment
                                    +label-input('Квартира/Офис', 'acc-user__appartment', 'appartment', true)
                            .account__form-buttons.acc-addr__buttons 
                                button.account__form-button.acc-addr__button-save(type="button") Сохранить
                                button.account__form-button.acc-addr__button-cancel(type="button") Добавить
                                button.account__form-button.acc-addr__button-delete(type="button") Удалить


                li.account__screen-item(data-screen="history")
                    .acc-hist.account__item-content
                        .account__wr-title
                            h2.account__title Мои заказы
                        ul.acc-hist__orders-list 
                            li.acc-hist__orders-item 
                                .acc-hist__order
                                    .acc-hist__order-data 
                                        .acc-hist__date 23 мая 2024
                                        .acc-hist__number Закакз № 256263
                                        ul.acc-hist__state-list 
                                            li.acc-hist__state-item Выдан
                                            li.acc-hist__state-item Новый заказ
                                            li.acc-hist__state-item Ждем оплаты
                                            li.acc-hist__state-item Оплачен
                                            li.acc-hist__state-item.acc-hist__state-active Собран
                                            li.acc-hist__state-item Самовывоз
                                            li.acc-hist__state-item Доставляется
                                            li.acc-hist__state-item Выполнен (доставлен и оплачен)
                                            li.acc-hist__state-item Отменен
                                    ul.acc-hist__goods-list
                                        li.acc-hist__goods-item
                                            .acc-hist__sku-info 
                                                .acc-hist__wr-img
                                                    img.acc-hist__img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                                .acc-hist__wr-descr
                                                    .acc-hist__drand Аlthaus
                                                    .acc-hist__name Malty assam
                                                    .acc-hist__type Черный чай
                                            .acc-hist__amount 3
                                            .acc-hist__price 1500 р
                                    .acc-hist__wr-total
                                        .acc-hist__total
                                            p Итог: 3000 р

                                .acc-hist__wr-button
                                    button.acc-hist__button(type="button") Повторить
                            li.acc-hist__orders-item 
                                .acc-hist__order
                                    .acc-hist__order-data 
                                        .acc-hist__date 23 мая 2024
                                        .acc-hist__number Закакз № 256263
                                        ul.acc-hist__state-list 
                                            li.acc-hist__state-item.acc-hist__state-active Выдан
                                            li.acc-hist__state-item Новый заказ
                                            li.acc-hist__state-item Ждем оплаты
                                            li.acc-hist__state-item Оплачен
                                            li.acc-hist__state-item Собран
                                            li.acc-hist__state-item Самовывоз
                                            li.acc-hist__state-item Доставляется
                                            li.acc-hist__state-item Выполнен (доставлен и оплачен)
                                            li.acc-hist__state-item Отменен
                                    ul.acc-hist__goods-list
                                        li.acc-hist__goods-item
                                            .acc-hist__sku-info 
                                                .acc-hist__wr-img
                                                    img.acc-hist__img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                                .acc-hist__wr-descr
                                                    .acc-hist__drand Аlthaus
                                                    .acc-hist__name Malty assam
                                                    .acc-hist__type Черный чай
                                            .acc-hist__amount 3
                                            .acc-hist__price 1500 р
                                        li.acc-hist__goods-item
                                            .acc-hist__sku-info 
                                                .acc-hist__wr-img
                                                    img.acc-hist__img(src=require('../img/content/sales-hits-image-content.webp') alt="")
                                                .acc-hist__wr-descr
                                                    .acc-hist__drand Аlthaus
                                                    .acc-hist__name Malty assam
                                                    .acc-hist__type Черный чай
                                            .acc-hist__amount 3
                                            .acc-hist__price 1500 р
                                    .acc-hist__wr-total
                                        .acc-hist__total
                                            p Итог: 3000 р

                                .acc-hist__wr-button
                                    button.acc-hist__button(type="button") Повторить


                li.account__screen-item(data-screen="favorites") 
                    .acc-fav.account__item-content
                        .account__wr-title
                            h2.account__title Избранное
                        .acc-fav__wr-button 
                            button.acc-fav__button(type="button") Сбросить все
                        .acc-fav__wr-list  
                            +sku_cards_list(16)
                            .acc-fav__arrow-up.acc-fav__arrow-up_active
                                +arrow-to-up

                        .acc-fav__wr-pagination.acc-fav__wr-pagination_active
                            include components/pagination


                li.account__screen-item(data-screen="loyalty")
                    ul.acc-loyal__list.account__item-content
                        li.acc-loyal__item.acc-loyal__item-level 
                            .acc-loyal__wr-level-title
                                h2.acc-loyal__level-title Ваш уровень-Дегустатор
                            .acc-loyal__about-level
                                //- ??
                                .acc-loyal__level-side
                                    .acc-loyal__level-item.acc-loyal__level-item-side.acc-loyal__level-item-l
                                        .acc-loyal__level-circle-small.acc-loyal__level-back
                                            .acc-loyal__level-disc-icon
                                            .acc-loyal__level-num.acc-loyal__level-disc-num 7%
                                        .acc-loyal__level-text
                                            p В этом масяце Ваша скидка
                                
                                //- ??
                                .acc-loyal__level-center 

                                    .acc-loyal__level-center-cont
                                        .acc-loyal__level-line.acc-loyal__level-line-side.acc-loyal__level-line-l

                                        .acc-loyal__level-circle-big.acc-loyal__level-back
                                            .acc-loyal__level-summ-icon
                                            .acc-loyal__level-summ-num 250000
                                            .acc-loyal__level-text.acc-loyal__level-text-summ
                                                p Вы достигли суммы

                                        .acc-loyal__level-line.acc-loyal__level-line-side.acc-loyal__level-line-r

                                    .acc-loyal__level-line.acc-loyal__level-line-b

                                    .acc-loyal__level-item.acc-loyal__wr-level-bonus
                                        .acc-loyal__level-circle-small.acc-loyal__level-back
                                            .acc-loyal__level-bonus-icon
                                            .acc-loyal__level-num.acc-loyal__level-bonus-num 750
                                        .acc-loyal__level-text
                                            p Ваши бонусны

                                //- ??
                                .acc-loyal__level-side     
                                    .acc-loyal__level-item.acc-loyal__level-item-side.acc-loyal__level-item-r
                                        .acc-loyal__level-circle-small.acc-loyal__level-back
                                            .acc-loyal__level-cash-icon
                                            .acc-loyal__level-num.acc-loyal__level-cash-num 10%
                                        .acc-loyal__level-text
                                            p Ваш кэшбэк в этом месяце
                                        
                        li.acc-loyal__item.acc-loyal__item-discount
                            .acc-loyal__wr-discount-icon
                                .acc-loyal__reg-discount-icon
                                .acc-loyal__reg-discount-num 5%
                            h2.acc-loyal__title.acc-loyal__reg-discount-title При регистрации в личном кабинете,#[br] Вы получаете скидку #[span.acc-loyal__title_percent 5%] на первую покупку.
                        
                        li.acc-loyal__item.acc-loyal__item-bank
                            .acc-loyal__icon.acc-loyal__bank-icon
                            h2.acc-loyal__title.acc-loyal__bank-title Оплачивайте#[br] Ваши покупки бонусами
                            .acc-loyal__text.acc-loyal__bank-text
                                p #[span.acc-loyal__text_violet 1] бонусный балл = #[span.acc-loyal__text_violet 1] рублю
                                p Оплатить бонусами Вы сможете до #[span.acc-loyal__text_violet 40%] от Вашей покупки.
                                p Бонусы действуют в течении #[span.acc-loyal__text_violet 6 месяцев] с момента начисления.
                        
                        li.acc-loyal__item.acc-loyal__item-birth
                            .acc-loyal__icon.acc-loyal__birth-icon
                            h2.acc-loyal__title.acc-loyal__birth-title Скидка 15%#[br] в день рождения
                            .acc-loyal__text.acc-loyal__birth-text 
                                p Скидка действует в течении 5 дней до и после дня рождения. В акции участвует весь ассортимент, на который не распростороняются другие скидки.
                        
                        li.acc-loyal__item.acc-loyal__item-cashback
                            .acc-loyal__cashback-icon
                            h2.acc-loyal__title.acc-loyal__cashback-title Несгораемая скидка плюс кэшбек
                            ul.acc-loyal__statuses-list.acc-loyal__statuses-list_top
                                li.acc-loyal__statuses-item 
                                    .acc-loyal__statuses-balls.acc-loyal__statuses-icon_raised 50 000
                                    .acc-loyal__statuses-text 
                                        p 
                                            span При достижении общей суммы покупок свыше #[span.acc-loyal__statuses_orange 50 000]р
                                            span Вы получаете несгораемую скидку #[span.acc-loyal__statuses_orange 5% + 3% кэшбек]
                                    .acc-loyal__wr-progress
                                        .acc-loyal__indication
                                            ul.acc-loyal__indication-list 
                                                li.acc-loyal__indication-item.acc-loyal__indication_green
                                                li.acc-loyal__indication-item.acc-loyal__indication_green
                                                li.acc-loyal__indication-item.acc-loyal__indication_green
                                                li.acc-loyal__indication-item.acc-loyal__indication_green
                                                li.acc-loyal__indication-item.acc-loyal__indication_green
                                            .acc-loyal__indication-icon.acc-loyal__indication-icon_active
                                        .acc-loyal__progress-wr-text
                                            .acc-loyal__progress-text.acc-loyal__progress-raised.acc-loyal__progress-text_active Ваш уровень повышен
                                            .acc-loyal__progress-text.acc-loyal__progress-remain Осталось #[span.acc-loyal__progress_orange 49 250] до следующего уровня
                                li.acc-loyal__statuses-item 
                                    .acc-loyal__statuses-balls 100 000
                                    .acc-loyal__statuses-text 
                                        p 
                                            span При достижении общей суммы покупок свыше #[span.acc-loyal__statuses_orange 100 000]р
                                            span Вы получаете несгораемую скидку #[span.acc-loyal__statuses_orange 7% + 3% кэшбек]
                                    .acc-loyal__wr-progress
                                        .acc-loyal__indication
                                            ul.acc-loyal__indication-list 
                                                li.acc-loyal__indication-item.acc-loyal__indication_viol
                                                li.acc-loyal__indication-item.acc-loyal__indication_viol
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                            //- .acc-loyal__indication-icon_active
                                            .acc-loyal__indication-icon
                                        .acc-loyal__progress-wr-text
                                            .acc-loyal__progress-text.acc-loyal__progress-raised Ваш уровень повышен
                                            .acc-loyal__progress-text.acc-loyal__progress-remain.acc-loyal__progress-text_active Осталось #[span.acc-loyal__progress_orange 49 250] до следующего уровня
                                li.acc-loyal__statuses-item 
                                    .acc-loyal__statuses-balls 150 000
                                    .acc-loyal__statuses-text 
                                        p 
                                            span При достижении общей суммы покупок свыше #[span.acc-loyal__statuses_orange 150 000]р
                                            span Вы получаете несгораемую скидку #[span.acc-loyal__statuses_orange 10% + 3% кэшбек]
                                    .acc-loyal__wr-progress
                                        .acc-loyal__indication
                                            ul.acc-loyal__indication-list 
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                            .acc-loyal__indication-icon
                                        .acc-loyal__progress-wr-text
                                            .acc-loyal__progress-text.acc-loyal__progress-raised Ваш уровень повышен
                                            .acc-loyal__progress-text.acc-loyal__progress-remain.acc-loyal__progress-text_active Осталось #[span.acc-loyal__progress_orange 150 000] до следующего уровня

                            h2.acc-loyal__title.acc-loyal__cashback-title_b Далее Вам присваиваются статусы, которые увеличивают Ваш кэшбек


                            ul.acc-loyal__statuses-list.acc-loyal__statuses-list_bottom
                                li.acc-loyal__statuses-item 
                                    .acc-loyal__statuses-balls 250 000
                                    .acc-loyal__statuses-title Дегустатор
                                    .acc-loyal__statuses-text 
                                        p 
                                            span При достижении общей суммы покупок свыше #[span.acc-loyal__statuses_orange 250 000]р
                                            span Вы получаете несгораемую скидку #[span.acc-loyal__statuses_orange 10% + 4% кэшбек]
                                    .acc-loyal__wr-progress
                                        .acc-loyal__indication
                                            ul.acc-loyal__indication-list 
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                            .acc-loyal__indication-icon
                                        .acc-loyal__progress-wr-text
                                            .acc-loyal__progress-text.acc-loyal__progress-raised Ваш уровень повышен
                                            .acc-loyal__progress-text.acc-loyal__progress-remain.acc-loyal__progress-text_active Осталось #[span.acc-loyal__progress_orange 250 000] до следующего уровня

                                li.acc-loyal__statuses-item 
                                    .acc-loyal__statuses-balls 300 000
                                    .acc-loyal__statuses-title Эксперт
                                    .acc-loyal__statuses-text 
                                        p 
                                            span При достижении общей суммы покупок свыше #[span.acc-loyal__statuses_orange 300 000]р
                                            span Вы получаете несгораемую скидку #[span.acc-loyal__statuses_orange 10% + 5% кэшбек]
                                    .acc-loyal__wr-progress
                                        .acc-loyal__indication
                                            ul.acc-loyal__indication-list 
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                            .acc-loyal__indication-icon
                                        .acc-loyal__progress-wr-text
                                            .acc-loyal__progress-text.acc-loyal__progress-raised Ваш уровень повышен
                                            .acc-loyal__progress-text.acc-loyal__progress-remain.acc-loyal__progress-text_active Осталось #[span.acc-loyal__progress_orange 300 000] до следующего уровня

                                li.acc-loyal__statuses-item 
                                    .acc-loyal__statuses-balls 350 000
                                    .acc-loyal__statuses-title Амбассадор
                                    .acc-loyal__statuses-text 
                                        p 
                                            span При достижении общей суммы покупок свыше #[span.acc-loyal__statuses_orange 350 000]р
                                            span Вы получаете несгораемую скидку #[span.acc-loyal__statuses_orange 10% + 6% кэшбек]
                                    .acc-loyal__wr-progress
                                        .acc-loyal__indication
                                            ul.acc-loyal__indication-list 
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                            .acc-loyal__indication-icon
                                        .acc-loyal__progress-wr-text
                                            .acc-loyal__progress-text.acc-loyal__progress-raised Ваш уровень повышен
                                            .acc-loyal__progress-text.acc-loyal__progress-remain.acc-loyal__progress-text_active Осталось #[span.acc-loyal__progress_orange 350 000] до следующего уровня

                                li.acc-loyal__statuses-item 
                                    .acc-loyal__statuses-balls 400 000
                                    .acc-loyal__statuses-title VIP персона
                                    .acc-loyal__statuses-text 
                                        p 
                                            span При достижении общей суммы покупок свыше #[span.acc-loyal__statuses_orange 400 000]р
                                            span Вы получаете несгораемую скидку #[span.acc-loyal__statuses_orange 10% + 7% кэшбек]
                                    .acc-loyal__wr-progress
                                        .acc-loyal__indication
                                            ul.acc-loyal__indication-list 
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                                li.acc-loyal__indication-item
                                            .acc-loyal__indication-icon
                                        .acc-loyal__progress-wr-text
                                            .acc-loyal__progress-text.acc-loyal__progress-raised Ваш уровень повышен
                                            .acc-loyal__progress-text.acc-loyal__progress-remain.acc-loyal__progress-text_active Осталось #[span.acc-loyal__progress_orange 400 000] до следующего уровня