extends layout/layout

include mixines/bread-crumbs/bread-crumbs
include mixines/label-input
include mixines/textarea

block content
    .bread-crumbs__basket
        +bread-crumbs(bread_crumbs)
    
    .basket.basket__wrapper
        .basket__wrapper-content

            .basket__forms.basket__active
                .basket__wr-arrow-back
                    .basket__arrow-back
                .basket__wr-title
                    h1.basket__title Оформление заказа в интернет-магазине “Оазис МСК”
                .basket__text-no-reg.basket__text-no-reg_active
                    p 
                        span Вы незарегистрированны в личном кабинете.
                        span При регистрации, Вы получаете скидку #[span.basket__text-no-reg_color 5%] на первую покупку и будете участвовать в программе лояльности.
            
                form.basket__form-user(name="basket-form-user")
                    .basket__form-in-list
                        .basket__form-in-item
                            +label-input('Имя', 'basket__form-user-name', 'name', true)
                        .basket__form-in-item
                            +label-input('Фамилия', 'basket__form-user-surname', 'surname', true)
                        .basket__form-in-item
                            +label-input('Телефон', 'basket__form-user-phone', 'phone', true)
                        .basket__form-in-item
                            +label-input('Почта', 'basket__form-user-email', 'email', true)
                        .basket__form-in-item
                            +label-input('Доп. номер телефона', 'basket__form-user-additional-phone', 'additional-phone', false)
            
                //- ======================== START Способ доставки ================================
                .basket__del-title
                    h2.basket__title Способ доставки

                .basket__wr-type-address.basket__wr-type-address_active
                    include components/select-address

                .basket__grid-forms-list.basket__deliv-forms(data-typeforms='delivery')
                    //- для открытия формы, к табу добавляем атрибут active
                    label.basket__tab.basket__tab_mkad(data-item="mkad" )
                        //- input.basket__tab-check(type="checkbox" name="mkad" value="Москва в пределах МКАД")
                        span.basket__tab-title Москва в пределах #[br] МКАД
                    form.basket__grid-form.basket__deliv-form.basket__deliv-form_mkad(data-item="mkad" name="form_deliv_mkad")
                        .basket__grid-form-content
                            .basket__form-in-list.basket__form-deliv
                                .basket__form-in-item.basket__form-in.basket__form-in-street
                                    +label-input('Улица', 'basket__wr-form-deliv-street', 'street', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-house
                                    +label-input('Дом', 'basket__wr-form-deliv-house', 'house', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-apartment
                                    +label-input('Квартира/Офис', 'basket__wr-form-deliv-apartment', 'apartment', false)
                                .basket__form-in-item.basket__form-in.basket__form-in-entrance
                                    +label-input('Подъезд', 'basket__wr-form-deliv-entrance', 'entrance', false)
                                .basket__form-in-item.basket__form-in.basket__form-in-floor
                                    +label-input('Этаж', 'basket__wr-form-deliv-additional-floor', 'floor', false)
                                .basket__form-in-item.basket__form-in.basket__form-in-intercom
                                    +label-input('Код домофона', 'basket__wr-form-deliv-intercom', 'intercom', false)
                                .basket__form-in-item.basket__form-wishes
                                    +textarea('Комментарии к заказу', 'basket__form-deliv-wishes', 'wishes')
                    //- --
                    
                    label.basket__tab.basket__tab_behind-mkad(data-item="behind_mkad" )
                        //- input.basket__tab-check(type="checkbox" name="behind_mkad" value="Более 5 км от МКАДа")
                        span.basket__tab-title Более 5 км#[br] от МКАДа
                    form.basket__grid-form.basket__deliv-form.basket__deliv-form_behind-mkad(data-item="behind_mkad" name="form_deliv_behind_mkad")
                        .basket__grid-form-content
                            .basket__form-in-list.basket__form-deliv
                                .basket__form-in-item.basket__form-in.basket__form-in-city
                                    +label-input('Город', 'basket__wr-form-deliv-city', 'city', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-street
                                    +label-input('Улица', 'basket__wr-form-deliv-street', 'street', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-house
                                    +label-input('Дом', 'basket__wr-form-deliv-house', 'house', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-apartment
                                    +label-input('Квартира/Офис', 'basket__wr-form-deliv-apartment', 'apartment', false)
                                .basket__form-in-item.basket__form-in.basket__form-in-entrance
                                    +label-input('Подъезд', 'basket__wr-form-deliv-entrance', 'entrance', false)
                                .basket__form-in-item.basket__form-in.basket__form-in-floor
                                    +label-input('Этаж', 'basket__wr-form-deliv-additional-floor', 'floor', false)
                                .basket__form-in-item.basket__form-in.basket__form-in-intercom
                                    +label-input('Код домофона', 'basket__wr-form-deliv-intercom', 'intercom', false)
                                .basket__form-in-item.basket__form-wishes
                                    +textarea('Комментарии к заказу', 'basket__form-deliv-wishes', 'wishes') 
                    //- --
                    
                    label.basket__tab.basket__tab_pickup(data-item="pickup" )
                        //- input.basket__tab-check(type="checkbox" name="pickup" value="Самовывоз")
                        .basket__tab-title Самовывоз
                    form.basket__grid-form.basket__deliv-form.basket__deliv-form_pickup(data-item="pickup" name="form_deliv_pickup")
                        .basket__grid-form-content
                            .basket__pickup-wr-text
                                .basket__pickup-text
                                    p Вы можете забрать товары из нашего шоурума, #[span.basket__pickup-text_bold по рабочим дням с 10:00 до 18:00.]
                                    p По адресу: Россия, город Москва, Хорошевское шоссе, д. 32, корп. А, подъезд 2, офис 109.
                                .basket__pickup-text
                                    p Перемещение заказов с оптового склада на пункт выдачи составляет 1-2 дня.
                                    p Стоимость самовывоза - бесплатно.
                                .basket__pickup-text
                                    p Возможен заезд на территорию на личном #[br]транспорте, кроме такси и каршеринга.
                                    p Тел. для заказа пропуска: #[a.basket__pickup-tel(href="tel:+74957896727") +7 (495) 789-67-27]
                                .basket__pickup-text
                                    p #[span.basket__pickup-text_bold Для входа на территорию офиса необходимо иметь при себе паспорт или другой документ удостоверяющий личность!]
                            .basket__form-wishes.basket__form-pickup-area
                                +textarea('Комментарии к заказу', 'basket__form-deliv-wishes', 'wishes')
                    //- --

                    label.basket__tab.basket__tab_regions(data-item="regions" )
                        //- input.basket__tab-check(type="checkbox" name="regions" value="В регионы")
                        .basket__tab-title В регионы
                    form.basket__grid-form.basket__deliv-form.basket__deliv-form_regions(data-item="regions" name="form_deliv_regions")
                        .basket__grid-form-content
                            .basket__form-in-list.basket__form-deliv
                                .basket__form-in-item.basket__form-in.basket__form-in-zipcode
                                    +label-input('Индекс', 'basket__wr-form-deliv-zipcode', 'zipcode', false)
                                .basket__form-in-item.basket__form-in.basket__form-in-area
                                    +label-input('Область', 'basket__wr-form-deliv-area', 'area', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-district
                                    +label-input('Район', 'basket__wr-form-deliv-district', 'district', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-city
                                    +label-input('Город', 'basket__wr-form-deliv-city', 'city', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-street
                                    +label-input('Улица', 'basket__wr-form-deliv-street', 'street', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-house
                                    +label-input('Дом', 'basket__wr-form-deliv-house', 'house', true)
                                .basket__form-in-item.basket__form-in.basket__form-in-apartment
                                    +label-input('Квартира/Офис', 'basket__wr-form-deliv-apartment', 'apartment', false)
                                .basket__form-in-item.basket__form-wishes
                                    +textarea('Комментарии к заказу', 'basket__form-deliv-wishes', 'wishes') 
                    //- --
                    
                    label.basket__tab.basket__tab_points(data-item="points" )
                        //- input.basket__tab-check(type="checkbox" name="points" value="Пункты выдачи")
                        .basket__tab-title Пункты выдачи
                    form.basket__grid-form.basket__deliv-form.basket__deliv-form_points(data-item="points" name="form_deliv_points")
                        .basket__grid-form-content
                            .basket__deliv-points
                                .basket__points-description 
                                    p Вы можете выбрать пункт выдачи. Для доставки мы используем компанию.......
                                .basket__points-wr-search 
                                    +label-input('Введите нужный вам пункт выдачи', 'basket__points-search', false, false)
                                .basket__points-wr-map
                                    .basket__points-map
                                .basket__points-wr-address 
                                    .basket__points-address-text
                                        .basket__points-label Вы выбрали адрес:
                                        .basket__points-address г. Москва, ул. Хорошевская, д.32
                                    
                                    button.basket__points-button Подтвердить


                //- ======================== END Способ доставки ================================

                //- ======================== START Способ оплаты ================================

                .basket__pay-title
                    h2.basket__title Способ оплаты

                .basket__balls.basket__balls_active
                    .basket__balls-amount
                        p У Вас #[span.basket__balls-amount_bold 750] бонусных баллов
                    label.basket__balls-wr-deduct
                        span.basket__balls-text Списать бонусы
                        input.basket__balls-deduct-input(type="text" placeholder="0")


                .basket__grid-forms-list.basket__pay-forms(data-typeforms='payment')
                    label.basket__tab.basket__tab_cash(data-item="cash" )
                        //- input.basket__tab-check(type="checkbox" name="cash" value="Наличные")
                        span.basket__tab-title Наличные
                    
                    label.basket__tab.basket__tab_card(data-item="card" )
                        //- input.basket__tab-check(type="checkbox" name="mkad" value="Картой на сайте")
                        span.basket__tab-title Картой на сайте
                    
                    label.basket__tab.basket__tab_legal(data-item="legal" )
                        //- input.basket__tab-check(type="checkbox" name="mkad" value="Для юр. лица")
                        span.basket__tab-title Для юр. лица
                    form.basket__grid-form.basket__pay-form.basket__pay-form-legal 
                        .basket__grid-form-content
                            .basket__pay-form-in-text 
                                +label-input('Название организации, адрес, ИНН и ОГРН', 'basket__pay-form-input', 'legal', true)
                            .basket__wr-pay-file 
                                p.basket__file-title Прикрепите документ (jpg, png, txt, doc, docx, pdf)
                                .basket__file
                                    span.basket__file-text Ператащите сюда файл или нажмите кнопку
                                    label.basket__file-label
                                        | Загрузить
                                        input.basket__file-input(type="file" name="file_legal" multiple)

                //- ======================== END Способ оплаты ==================================


                //- ======================== START Согласие на обработку персональных данных ================================
                .basket__wr-cons-data.basket__wr-cons-data_active
                    label.basket__cons-data
                        input.basket__cons-data-checkbox(type="checkbox")
                        p.basket__cons-data-text Согласие на обработку персональных данных
                //- ======================== END Согласие на обработку персональных данных ================================


            //- ======================== START Перечень товаров в корзине ================================

            .basket__goods
                ul.basket__goods-item.order-goods__list 
                    li.order-goods__item
                        .order-goods__img 
                            img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                        .order-goods__text
                            .order-goods__description 
                                .order-goods__name
                                    p Аlthaus
                                    p Malty assam
                                .order-goods__type
                                    p черный чай
                            .order-goods__calc 
                                .order-goods__button.order-goods__decrement -
                                input.order-goods__units(type="text" name="goods-units" value="0")
                                .order-goods__button.order-goods__increment +
                            .order-goods__summ 1500 р
                    li.order-goods__item
                        .order-goods__img 
                            img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                        .order-goods__text
                            .order-goods__description 
                                .order-goods__name
                                    p Аlthaus
                                    p Malty assam
                                .order-goods__type
                                    p черный чай
                            .order-goods__calc 
                                .order-goods__button.order-goods__decrement -
                                input.order-goods__units(type="text" name="goods-units" value="0")
                                .order-goods__button.order-goods__increment +
                            .order-goods__summ 1500 р
                    li.order-goods__item
                        .order-goods__img 
                            img(src=require('../img/content/sales-hits-image2-content.webp') alt="")
                        .order-goods__text
                            .order-goods__description 
                                .order-goods__name
                                    p Аlthaus
                                    p Malty assam
                                .order-goods__type
                                    p черный чай
                            .order-goods__calc 
                                .order-goods__button.order-goods__decrement -
                                input.order-goods__units(type="text" name="goods-units" value="0")
                                .order-goods__button.order-goods__increment +
                            .order-goods__summ 1500 р

                .basket__goods-item.order-total__info
                    ul.order-total__info-list
                        li.order-total__item.order-total__wr-summ
                            .order-total__title Сумма товара:
                            .order-total__summ 4500 р
                        li.order-total__item.order-total__wr-discount
                            .order-total__title Скидка:
                            .order-total__summ 500 р
                        li.order-total__item.order-total__wr-delivery
                            .order-total__title Доставка:
                            .order-total__summ 00 р

                    .order-total__line

                    .order-total__final-price
                        .order-total__title Итог:
                        .order-total__summ 4000 р

                    .place-order__wrapper
                        button.place-order__button_desc Оформить заказ
                        button.place-order__button_mob Оформить заказ

            //- ======================== END Перечень товаров в корзине ================================