extends layout/layout

include mixines/bread-crumbs/bread-crumbs
include mixines/brand-card


block content
    include variable/brands
    
    +bread-crumbs(bread_crumbs)

    .brands.brands__wrapper
        ul.brands__cards-list
            each item in brands_cards_data
                li.brands__cards-item
                    +brand_card(item)

        .brands__wr-text 
            .brands__wr-title
                h1.brands__title текст
            .brands__wr-sub-title
                h3.brands__sub-title новая коллеция

            .brands__text 
                p Чайные пирамидки с ярлыком для разовой заварки в индивидуальных конвертах.Чай черный байховый «NIKTEA»® среднелистовой с добавками растительного сырья с ароматом лесных ягод «Сибирский Сбор»15 пирамидок по 2.7 г
                p Искусно купажированный чай с плантаций Индии и Цейлона.Очень ароматный сбор на основе крепкого черного чая с душистыми таежными ягодами. Вкус многогранный, с живой кислинкой и лесной ноткой. Чайные пирамидки с ярлыком для разовой заварки в индивидуальных конвертах.
                p Чай черный байховый «NIKTEA»® среднелистовой с добавками растительного сырья с ароматом лесных ягод «Сибирский Сбор»15 пирамидок по 2.7 г