extends layout/layout

include mixines/bread-crumbs/bread-crumbs

block content   
    +bread-crumbs(bread_crumbs)

    .delivery.delivery__wrapper
        .delivery__wrapper-content 
            ul.delivery__content-list

                li.delivery__content-item
                    .delivery__wr-title 
                        h2.delivery__content-title
                    .delivery__content-text 
                        p Доставка заказов стоимостью от 3000руб. осуществляется бесплатно.
                        p Минимальной суммы заказа нет, доставляем любые заказы.
                        p Стоимость доставки по Москве и в пределах МКАД – 300 руб.
                        p Срок доставки 1-2 дня, только в рабочие дни.

                li.delivery__content-item
                    .delivery__wr-title 
                        h2.delivery__content-title
                    .delivery__content-text 
                        p До 5 км (от МКАД), те же условия, как и по Москве (300 руб.).
                        p От 5 км до 100 км - 30 руб./км.
                        p Срок доставки 1-2 дня, только в рабочие дни.

                li.delivery__content-item
                    .delivery__wr-title 
                        h2.delivery__content-title
                    .delivery__content-text 
                        p
                        p

                li.delivery__content-item
                    .delivery__wr-title 
                        h2.delivery__content-title
                    .delivery__content-text 
                        p
                        p

                li.delivery__content-item
                    .delivery__wr-title 
                        h2.delivery__content-title
                    .delivery__content-text 
                        p
                        p

                li.delivery__content-item
                    .delivery__wr-title 
                        h2.delivery__content-title
                    .delivery__content-text 
                        p
                        p