extends layout/layout

include mixines/bread-crumbs/bread-crumbs

block content   
    +bread-crumbs(bread_crumbs)

    .delivery.delivery__wrapper
        .delivery__wrapper-content 
            ul.delivery__controll-list
                li.delivery__controll-item.delivery__controll-item_active(data-index="0") В пределах МКАД
                li.delivery__controll-item(data-index="1") За МКАД
                li.delivery__controll-item(data-index="2") В регионы
                li.delivery__controll-item(data-index="3") Самовывоз
                li.delivery__controll-item(data-index="4") Оформление заказа
                li.delivery__controll-item(data-index="5") Подъем заказов

            ul.delivery__content-list

                li.delivery__content-item.delivery__content-item_active(data-index="0")
                    .delivery__wr-title 
                        h2.delivery__content-title в пределах мкад
                    .delivery__content-text 
                        p Доставка заказов стоимостью от 3000руб. осуществляется #[span.delivery__content-text_bold бесплатно].
                        p Минимальной суммы заказа нет, доставляем любые заказы.
                        p Стоимость доставки по Москве и в #[span.delivery__content-text_bold пределах МКАД – 300 руб].
                        p Срок доставки 1-2 дня, только в рабочие дни.

                li.delivery__content-item(data-index="1")
                    .delivery__wr-title 
                        h2.delivery__content-title за мкад
                    .delivery__content-text 
                        p До 5 км (от МКАД), те же условия, как и по Москве (300 руб.).
                        p От 5 км до 100 км - 30 руб./км.
                        p Срок доставки 1-2 дня, только в рабочие дни.

                li.delivery__content-item(data-index="2")
                    .delivery__wr-title 
                        h2.delivery__content-title в регионы
                    .delivery__content-text 
                        p Доставка по России осуществляется через транспортные компании (ТК): СДЭК, Автотрейдинг, Деловые линии, Желдорэкспедиция, ПЭК или по выбору заказчика.
                        p Условия доставки до ТК совпадает с условиями доставки по Московскому региону.
                        p #[span.delivery__content-text_bold Предоплата 100%], безналичный расчёт или оплата картой на сайте.
                        p Срок отправки заказа 1-2 дня, только в рабочие дни.
                        p Услуги ТК покупатель оплачивает при получении груза.

                li.delivery__content-item(data-index="3")
                    .delivery__wr-title 
                        h2.delivery__content-title самовывоз
                    .delivery__content-text 
                        p Товары, имеющиеся в наличии* вы можете приобрести в пункте выдачи нашего интернет-магазина, #[span.delivery__content-text_bold по рабочим дням с 10:00 до 18:00]. #[br] *наличие товара на складе офиса уточняйте у менеджера нашего интернет-магазина.
                        p Перемещение заказов с оптового склада на пункт выдачи составляет 1-2 дня. #[br] Стоимость самовывоза - бесплатно.
                        p Возможен заезд на территорию на личном транспорте, кроме такси и каршеринга. Тел. для заказа пропуска: +7 (495) 789-67-27
                        p #[span.delivery__content-text_bold Для входа на территорию офиса необходимо иметь при себе паспорт или другой документ удостоверяющий личность!]

                li.delivery__content-item(data-index="4")
                    .delivery__wr-title 
                        h2.delivery__content-title оформление заказа
                    .delivery__content-text 
                        p Вы можете оформить заказ на сайте, или написать нам в мессенджерах.
                        p Заказы по телефону принимаются #[br] с #[span.delivery__content-text_bold 10:00 до 18:00] #[br] по рабочим дням.
                        p Заказы, принятые после #[span.delivery__content-text_bold 18:00], обрабатываются на следующий рабочий день.
                        p Заказы доставляются только после согласования с покупателем по телефону.

                li.delivery__content-item(data-index="5")
                    .delivery__wr-title 
                        h2.delivery__content-title подъем заказов
                    .delivery__content-text 
                        p Необходимость подъема товара согласовывается при заказе.
                        p Заказчику необходимо обеспечить подъезд транспорта к месту разгрузки или заказать пропуск (заранее).Расходы за въезд к месту разгрузки несет покупатель.
                        p До 15 кг подъем бесплатно.
                        p При объеме более 15 кг, цену уточняйте у менеджера.