extends layout/layout

include mixines/bread-crumbs/bread-crumbs
include mixines/sku-card-list

block content
    include variable/catalog
    
    +bread-crumbs(bread_crumbs)

    .prod-list
        
        .prod-list__wrapper
            .prod-list__sidebar
                .filters
                    .filter
                        .filter__title Формат
                        ul.filter__list
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name BIO
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Deli pack на чашку
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Pyra pack в пирамидках
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Grand pack на чайник
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Чай листовой
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Чай Pure tea

                    .filter
                        .filter__title Тип чая
                        ul.filter__list
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Черный чай
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Зеленый чай
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Травяной чай
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Фруктовый чай
                            li.filter__item 
                                label.filter__label
                                    input.filter__type-switcher(type="checkbox")
                                    span.filter__circle
                                    span.filter__type-name Ассорти

                    .filters__wr-button        
                        button.filters__button(type="button") Сбросить фильтр      
            .prod-list__content
                .prod-list__wr-title 
                    h1.prod-list__title Чай Althaus
                +sku_cards_list(10)
