.account__wrapper {
    display: flex;
    padding-top: 4.11vw;
    padding-bottom: 11.67vw;
    justify-content: center;
}

.account__wrapper-content {
    width: 67.683%;
    padding: 2.34vw 0 5.73vw;
}







@media(max-width: 961px) {
    .account__wrapper {
        padding-top: 8vw;
        padding-bottom: 16.27vw;
    }
}

@media(max-width: 961px) {
    .account__wrapper-content {
        width: 100%;
        padding: 8vw 0 18.93vw;
    }
}