.account__wr-logout {
    display: none;
}

.account__wrapper {
    display: flex;
    padding-top: 6.61vw;
    padding-bottom: 5.16vw;
    justify-content: center;
}

.account__wrapper-content {
    width: 83.683%;
    padding: 2.34vw 0 5.73vw;
}

/* -------- START CONTROL --------- */
.account__ctrl-list {
    display: flex;
    height: 3.13vw;
    
    background-color: #E5E4E9;
    box-shadow: 1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.account__ctrl-item {
    display: grid;
    place-items: center;
    width: 20%;
    
    font-family: 'Play';
    font-size: 1.04vw;
    
    color: #2F5F6D;

    cursor: pointer;
}

.account__ctrl-item_active {
    background-color: #2F5F6D;
    color: #fff;

    pointer-events: none;
}

/* -------- END CONTROL --------- */



.account__screen-item {
    display: none;
    justify-content: center;
}

.account__screen-item_active {
    display: flex;
}

.account__item-content {
    padding-top: 4.90vw;
}


/* -------- START USER --------- */
.acc-user {
    width: 81.1%;
}

.acc-user__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.42vw;
}

.acc-user__discount {
    display: flex;
    width: 2.86vw;
    height: 2.50vw;
    justify-content: center;
    align-items: end;

    background: no-repeat url('../../svg/crown.svg');
    background-size: contain;
    background-position: center;
}

.acc-user__discount-text {
    font-family: 'Play';
    font-size: 1.04vw;

    color: #FFF;
}

.acc-user__avatar {
    height: 8.13vw;
    width: 8.13vw;

    background: no-repeat url('../../svg/account-avatar.svg');
    background-size: contain;
    background-position: center;
}

.acc-user__form {
    margin-top: 2.03vw;
}

.acc-user__inputs-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    column-gap: 1.98vw;
    row-gap: 0.83vw;
}

.acc-user__birth-date {
    margin-top: 2.29vw;
}

.acc-user__birth-label {
    display: flex;
    flex-direction: column;
    gap: 0.09vw;
}

.acc-user__birth-text {
    font-family: 'Play';
    font-size: 0.73vw;

    color: #333;
}

.acc-user__birth-input {
    height: 100%;
    width: 27.88%;
    padding: 0.71vw 0.51vw;

    font-family: 'Play';
    font-size: 0.8vw;
    font-weight: 400;

    color: #333;
    outline: 0;
    border-radius: 0.21vw;
    border: 1px solid #CFCFCF;
    background-color: #EFEFEF;
    background-image: url('../../svg/calendar-fon.svg');
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right 2% center;
    caret-color: #333;

    cursor: pointer;
}

.acc-user__birth-input:disabled {
    cursor: default;
}

.acc-user__item-checkmarks {
    display: flex;
    margin-top: 3.75vw;
    gap: 0.57vw;
    flex-direction: column;
}

.acc-user__checkmarks-input {
    display: none;
}

.acc-user__checkmarks-text {
    display: flex;
    gap: 0.47vw;
    align-items: end;

    font-family: 'Play';
    font-size: 0.73vw;

    cursor: pointer;
}

.acc-user__checkmarks-input_invalid + .acc-user__checkmarks-text {
    color: #F00;
}

.acc-user__checkmarks-input:checked + .acc-user__checkmarks-text {
    color: #000;
}

.acc-user__checkmarks-text::before {
    content: "";

    display: inline-block;
    width: 1.30vw;
    height: 1.30vw;

    border-radius: 0.21vw;
    background-color: #EFEFEF;
    border: 1px solid #4D96AB;
}

.acc-user__checkmarks-input_invalid + .acc-user__checkmarks-text::before {
    border: 1px solid #F00;
}

.acc-user__checkmarks-input:checked + .acc-user__checkmarks-text::before {
    border: 1px solid #4D96AB;
    background-image: url('../../svg/checkmark-green.svg');
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center;
}



.acc-user__buttons {
    margin-top: 5.63vw;
}

.account__form-buttons {
    display: flex;
    gap: 0.63vw;
}

.account__form-button {
    width: 12.29vw;
    height: 2.60vw;

    font-family: 'Play';
    font-size: 0.83vw;
    
    color: #FFF;
    border: 0;
    outline: 0;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}

.account__form-button:disabled {
    background: rgba(77, 150, 171, 0.60);
}
/* -------- END USER --------- */


/* -------- START MY ADDRESSES --------- */
.acc-addr {
    width: 81.1%;
}

.acc-addr__wr-select {
    height: 1.56vw;
    margin-top: 3.02vw;
}

.acc-addr__inputs {
    margin-top: 1.93vw;
}

.acc-addr__form-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    column-gap: 1.98vw;
    row-gap: 0.83vw;
}

.acc-addr__item-zipcode {
    grid-row: 1;
    grid-column: 1;
}

.acc-addr__item-area {
    grid-row: 2;
    grid-column: 1;
}

.acc-addr__item-district {
    grid-row: 2;
    grid-column: 2;
}

.acc-addr__item-city {
    grid-row: 2;
    grid-column: 3;
}

.acc-addr__item-street {
    grid-row: 3;
    grid-column: 1;
}

.acc-addr__item-house {
    grid-row: 3;
    grid-column: 2;
}

.acc-addr__item-appartment {
    grid-row: 3;
    grid-column: 3;
}

.acc-addr__buttons {
    margin-top: 5.78vw;
}
/* -------- END MY ADDRESSES --------- */



/* -------- START HISTORY --------- */
.acc-hist {
    width: 79.5%;
}

.acc-hist__orders-list  {
    display: flex;
    padding-top: 3.18vw;
    flex-direction: column;
    gap: 1.04vw;
}

.acc-hist__orders-item {
    display: flex;
    align-items: end;
    gap: 1.85%;
}

.acc-hist__order {
    display: flex;
    padding: 0.94vw 1.98vw 0.94vw 1.04vw;
    flex-basis: 75.83%;
    flex-shrink: 0;
    justify-content: space-between;
    flex-wrap: wrap;

    background: #EFEFEF;
}

.acc-hist__date {
    font-family: 'Play';
    font-size: 0.73vw;

    color: #671993;
}

.acc-hist__number {
    margin-top: 0.73vw;

    font-family: 'Play';
    font-size: 0.83vw;

    color: #505050;
}

.acc-hist__state-list {
    margin-top: 0.21vw;
}

.acc-hist__state-item {
    display: none;

    font-family: 'Play';
    font-size: 0.68vw;
    color: #505050;
}

.acc-hist__state-active {
    display: block;
}

.acc-hist__goods-list {
    display: flex;
    width: 61.5%;
    gap: 1.04vw;
    flex-direction: column;
}

.acc-hist__goods-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acc-hist__sku-info {
    display: flex;
    align-items: center;
    gap: 1.98vw;
}

.acc-hist__wr-img {
    width: 3.54vw;
    height: 5.21vw;
}

.acc-hist__img {
    height: 100%;
    width: 100%;

    filter: drop-shadow(-0.16vw 0.16vw 0.36vw rgb(0, 0, 0, 0.25));
    
    object-fit: contain;
    object-position: center;
}

.acc-hist__drand,
.acc-hist__name {
    font-family: 'Play';
    font-size: 1.04vw;
}

.acc-hist__type {
    margin-top: 0.21vw;

    font-family: "SofiaSans";
    font-size: 0.78vw;

    color: #8E8E8E;
}

.acc-hist__amount {
    display: flex;
    width: 2.45vw;
    height: 1.46vw;
    justify-content: center;
    align-items: center;

    font-family: 'Play';
    font-size: 1.04vw;
    
    color: #726B68;
    border: 1px solid #FFF;
    background: #FFF;
}

.acc-hist__price {
    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;

    color: #671993;
}

.acc-hist__total {
    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;

    color: #671993;
}

.acc-hist__wr-total {
    display: flex;
    width: 100%;
    padding-top: 1.30vw;
    justify-content: end;
}

.acc-hist__wr-button {
    flex-grow: 1;
}

.acc-hist__button {
    width: 100%;
    height: 2.60vw;

    font-family: 'Play';
    font-size: 0.83vw;

    color: #FFF;
    border: 0;
    outline: 0;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}
/* -------- END HISTORY --------- */



/* -------- START FAVORITES --------- */
.acc-fav {
    width: 82.2%;
}

.account__title {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 700;

    color: #671993;
}

.acc-fav__wr-button {
    padding-top: 4.90vw;
}

.acc-fav__button {
    width: 12.29vw;
    height: 2.08vw;

    font-family: 'Play';
    font-size: 0.83vw;
    
    color: #FFF;
    border: 0;
    outline: 0;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}

.acc-fav__wr-list {
    position: relative;

    padding-top: 2.86vw;
}

.acc-fav__arrow-up {
    position: absolute;
    right: -6.1%;
    bottom: 0;

    display: none;
    width: 2.92vw;
    height: 2.92vw;
}

.acc-fav__arrow-up_active {
    display: block;
}

.acc-fav__wr-pagination {
    display: none;
    justify-content: center;
    margin-top: 3vw;
}

.acc-fav__wr-pagination_active {
    display: flex;
}
/* -------- END FAVORITES --------- */



/* -------- START LOYALTY --------- */
.acc-loyal__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    column-gap: 2.81vw;
    row-gap: 2.08vw;
    width: 81.51%;
}

.acc-loyal__item {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.26vw solid #69E8FA;
    background: #FFF;
    box-shadow: 
    0px 0px 0.89vw 0.16vw rgba(0, 0, 0, 0.25), 
    0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);
}

.acc-loyal__item-level {
    padding-top: 2.19vw;
    padding-bottom: 1.93vw;
    grid-column: 1 / 3;
    grid-row: 1;
    flex-direction: column;
}

.acc-loyal__level-title {
    font-family: 'Play';
    font-size: 1.88vw;
    font-weight: 700;

    color: #671993;
}

.acc-loyal__about-level {
    display: flex;
    margin-top: 1.98vw;
    width: 100%;
    justify-content: center;
}

.acc-loyal__level-side {
    display: flex;
    align-items: center;
}

.acc-loyal__level-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc-loyal__level-item-side {
    transform: translateY(-6.1%);
}

.acc-loyal__level-item-l {
    transform: translateX(12%);
}

.acc-loyal__level-circle-small {
    width: 8.13vw;
    height: 8.13vw;
}

.acc-loyal__level-back {
    display: flex;
    flex-direction: column;
    align-items: center;  

    background: no-repeat url('../../svg/disc-with-dot-green.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__level-disc-icon {
    height: 2.34vw;
    width: 2.34vw;
    margin-top: 1.1vw;

    background: no-repeat url('../../svg/star-level-percent.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__level-num {
    font-family: 'Play';
    font-size: 3.33vw;
    font-weight: 700;
    line-height: 0.8;
}

.acc-loyal__level-disc-num {
    color: #671993;
}

.acc-loyal__level-text {
    margin-top: 0.31vw;

    font-family: 'Play';
    font-size: 0.83vw;
    text-align: center;
}

.acc-loyal__level-center-cont {
    display: flex;
}

.acc-loyal__level-line-side {
    width: 4.17vw;
    height: 0.45vw;
    margin-bottom: 1.76vw;
    align-self: end;
}

.acc-loyal__level-line {
    background: no-repeat url('../../svg/line-for-level.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__level-line-l {
    transform: rotate(-21deg);
}

.acc-loyal__level-circle-big {
    height: 10.83vw;
    width: 10.83vw;
}

.acc-loyal__level-summ-icon {
    width: 3.33vw;
    height: 1.67vw;
    margin-top: 2.2vw;

    background: no-repeat url('../../svg/level-summ.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__level-summ-num {
    margin-top: 0.75vw;

    font-family: 'Play';
    font-size: 2.08vw;
    font-weight: 700;
    line-height: 0.9;
    
    text-shadow: 0px 0.21vw 0.21vw rgba(0, 0, 0, 0.25);
    color: #2F5F6D;
}

.acc-loyal__level-text-summ {
    margin-top: 0;

    text-shadow: 0px 0.21vw 0.21vw rgba(0, 0, 0, 0.25);
    color: #2F5F6D;
}

.acc-loyal__level-line-r {
    transform: rotate(201deg);
}

.acc-loyal__level-line-b {
    height: 4.32vw;
    width: 0.45vw;
    margin: 0.42vw auto 0.83vw;

    background: no-repeat url('../../svg/line-for-level-Y.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__level-bonus-icon {
    width: 2.19vw;
    height: 2.76vw;
    margin-top: 0.65vw;

    background: no-repeat url('../../svg/loyalty-bank-icon.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__level-bonus-num {
    color: #FF7A00;
}

.acc-loyal__level-item-r {
    transform: translateX(-12%);
}

.acc-loyal__level-cash-icon {
    height: 2.34vw;
    width: 2.34vw;
    margin-top: 1vw;

    background: no-repeat url('../../svg/cash-level.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__level-cash-num {
    padding-right: 0.3vw;

    color: #07E069;
}


.acc-loyal__item-discount {
    height: 10.73vw;
    justify-content: center;
    align-items: center;
    gap: 1.98vw;
    grid-column: 1 / 3;
    grid-row: 2;
}

.acc-loyal__item-cashback {
    grid-column: 1 / 3;
    grid-row: 4;
}

.acc-loyal__wr-discount-icon {
    display: flex;
    gap: 0.94vw;
    align-items: center;
}

.acc-loyal__reg-discount-icon {
    height: 4.95vw;
    width: 4.95vw;

    background: no-repeat url('../../svg/loyalty-percent.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__reg-discount-num {
    font-family: 'Play';
    font-size: 5vw;
    font-weight: 700;

    color: #FF7A00;
}

.acc-loyal__title {
    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 400;

    color: #671993;
}

.acc-loyal__title_percent {
    font-size: 1.67vw;
}

.acc-loyal__item-cashback,
.acc-loyal__item-bank,
.acc-loyal__item-birth {
    flex-direction: column;
    align-items: center;
}

.acc-loyal__item-bank,
.acc-loyal__item-birth {
    height: 100%;
    padding-top: 2.60vw;
    padding-bottom: 5.31vw;
}

.acc-loyal__icon {
    height: 8.07vw;
    width: 6.35vw;
}

.acc-loyal__bank-icon {
    background: no-repeat url('../../svg/loyalty-bank-icon.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__bank-title,
.acc-loyal__birth-title {
    margin-top: 1.35vw;

    text-align: center;
}

.acc-loyal__text {
    margin-top: 1.09vw;

    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 400;
    text-align: center;
}
.acc-loyal__text_violet {
    font-weight: 700;

    color: #671993;
}

.acc-loyal__bank-text {
    width: 75.5%;
}

.acc-loyal__birth-icon {
    background: no-repeat url('../../svg/loyalty-birth-icon.svg');
    background-size: contain;
    background-position: center bottom;
}

.acc-loyal__birth-text {
    width: 91%;
}

.acc-loyal__item-cashback {
    padding-top: 1.88vw;
    padding-bottom: 7.08vw;
}

.acc-loyal__cashback-icon {
    width: 7.08vw;
    height: 6.46vw;

    background: no-repeat url('../../svg/loyalty-cashback-icon.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__cashback-title {
    margin-top: 0.94vw;
}

.acc-loyal__statuses-list {
    display: flex;
    gap: 3.18vw;
}

.acc-loyal__statuses-list_top {
    margin-top: 2.66vw;
}

.acc-loyal__statuses-balls {
    display: grid;
    width: 4.17vw;
    height: 4.17vw;
    margin: 0 auto;
    place-items: center;
    
    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 700;
    text-align: center;
    
    border-radius: 50%;
    background-color: #4D96AB;
    filter: drop-shadow(0.31vw 0.42vw 0.78vw rgba(0, 0, 0, 0.25));
    color: #FFF;
    text-shadow: 0px 0.21vw 0.21vw rgba(0, 0, 0, 0.25);
}

.acc-loyal__statuses-icon_raised {
    background-color: #BBD0D6;
}

.acc-loyal__statuses-text {
    width: 11.7vw;
    margin-top: 1.25vw;

    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;
    text-align: center;
}

.acc-loyal__statuses-text > p {
    display: flex;
    flex-direction: column;
}

.acc-loyal__statuses_orange {
    font-weight: 700;
    
    color: #FF7A00;
}




.acc-loyal__wr-progress {
    padding-top: 0.36vw;
}

.acc-loyal__indication {
    display: flex;
    height: 0.63vw;
    align-items: end;
    justify-content: center;
    gap: 0.10vw;
}

.acc-loyal__indication-list {
    display: flex;
    width: 91.5%;
    flex-shrink: 0;
    gap: 0.10vw;
}

.acc-loyal__indication-item {
    height: 0.10vw;
    flex-basis: 20%;
    flex-shrink: 1;

    background: #D7D7D7;
}

.acc-loyal__indication_viol {
    background: #671993;
}
.acc-loyal__indication_green {
    background: #00CE18;
}

.acc-loyal__indication-icon {
    display: none;
    width: 7.2%;
    height: 100%;
    flex-shrink: 0;

    background: no-repeat url('../../svg/checkmark-light-green.svg');
    background-size: contain;
    background-position: center;
}

.acc-loyal__indication-icon_active {
    display: block;
}

.acc-loyal__progress-wr-text {
    padding-top: 1px;
}

.acc-loyal__progress-text {
    display: none;

    font-family: 'Play';
    font-size: 0.42vw;
    text-align: center;
}

.acc-loyal__progress-text_active {
    display: block;
}

.acc-loyal__progress_orange {
    font-weight: 700;

    color: #FF7A00;
}





.acc-loyal__cashback-title_b {
    margin-top: 1.88vw;
}

.acc-loyal__statuses-list_bottom {
    margin-top: 1.35vw;
}

.acc-loyal__statuses-title {
    margin-top: 0.68vw;

    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;
    text-align: center;
}

.acc-loyal__statuses-list_bottom .acc-loyal__statuses-text {
    margin-top: 0.99vw;
}
/* -------- END LOYALTY -------------*/


@media(max-width: 961px) {
    .account__wr-bread-crumbs {
        display: none;
    }   
}

@media(max-width: 961px) {
    .account__wr-logout {
        display: block;
        padding-top: 8vw;
        padding-left: 5.33vw;
    }   
}

@media(max-width: 961px) {
    .account__logout {
        font-family: 'Play';
        font-size: 4.27vw;

        color: #2F5F6D;
    }
}

@media(max-width: 961px) {
    .account__wrapper {
        padding-top: 0;
        padding-bottom: 16.27vw;
    }
}

@media(max-width: 961px) {
    .account__wrapper-content {
        width: 100%;
        padding: 6.5vw 0 18.93vw;
    }
}




/* -------- START CONTROL -------------*/
@media(min-width: 962px) {
    .account__ctrl-item:hover {
        background: linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
        color: #fff;
    }
}

@media(max-width: 961px) {
    .account__ctrl-list {
        height: auto;
        flex-direction: column;
    
        box-shadow: none;
    }
}

@media(max-width: 961px) {
    .account__ctrl-item {
        height: 13.33vw;
        width: 100%;
    
        font-size: 5.33vw;

        border-bottom: 1px solid #CBCBCB;
    }
}

@media(max-width: 961px) {
    .account__ctrl-item_active {
        background: linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
        color: #fff;
    }
}

/* -------- END CONTROL -------------*/



/* -------- START USER -------------*/
@media(max-width: 961px) {
    .account__item-content {
        padding-top: 9.07vw;
    }  
}

@media(max-width: 961px) {
    .acc-user {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media(max-width: 961px) {
    .acc-user__icon {
        gap: 2.13vw;
    }
}

@media(max-width: 961px) {
    .acc-user__discount {
        width: 12.27vw;
        height: 10.67vw;
    }
}

@media(max-width: 961px) {
    .acc-user__discount-text {
        font-size: 4.5vw;
    }
}

@media(max-width: 961px) {
    .acc-user__avatar {
        width: 32.80vw;
        height: 32.80vw;
    }
}

@media(max-width: 961px) {
    .acc-user__form {
        margin-top: 4.80vw;
    }
}

@media(max-width: 961px) {
    .acc-user__inputs-list {
        display: flex;
        flex-direction: column;
        gap: 3.47vw;
    }
}

@media(max-width: 961px) {
    .acc-user__item-birth-date {
        margin-top: 9.07vw;
    }
}

@media(max-width: 961px) {
    .acc-user__item-checkmarks {
        margin-top: 9.07vw;
        gap: 6.93vw;
    }
}

@media(max-width: 961px) {
    .acc-user__checkmarks-text {
        gap: 2.40vw;

        font-size: 3.73vw;
    }
}

@media(max-width: 961px) {
    .acc-user__checkmarks-text::before {
        width: 6.67vw;
        height: 6.67vw;
        border-radius: 1.07vw;
    }
}

@media(max-width: 961px) {
    .acc-user__buttons {
        margin-top: 11.47vw;
    }
}

@media(max-width: 961px) {
    .account__form-buttons {
        flex-direction: column;
        align-items: center;
        gap: 4vw;
    }
}

@media(max-width: 961px) {
    .account__form-button {
        width: 72.6%;
        height: 10.67vw;

        font-size: 4.27vw;

        border-radius: 2.13vw;

        box-shadow: -1.07vw 1.07vw 2.40vw 0px #9AA4A7;
    }
}
/* -------- END USER -------------*/


/* -------- START ADDRESS -------------*/
@media(max-width: 961px) {
    .acc-addr {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media(max-width: 961px) {
    .account__item-content {
        padding-top: 9.07vw;
    }
}

@media(max-width: 961px) {
    .account__title {
        font-size: 4.27vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .acc-addr__wr-select {
        height: 8vw;
        margin-top: 13.07vw;
    }
}

@media(max-width: 961px) {
    .acc-addr__inputs {
        margin-top: 7.73vw;
    }
}

@media(max-width: 961px) {
    .acc-addr__form-list {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 961px) {
    .acc-addr__buttons {
        margin-top: 17.33vw;
    }
}
/* -------- END ADDRESS -------------*/


/* -------- START HISTORY -------------*/

@media(max-width: 961px) {
    .acc-hist {
        width: 100%;
    }
}

@media(max-width: 961px) {
    .acc-hist__orders-list {
        padding-top: 16.80vw;
        gap: 21.33vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__orders-item {
        flex-direction: column;
        gap: 6.13vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__order {
        flex-basis: initial;
        flex-shrink: initial;
        width: 100%;
        padding: 4.80vw 5.33vw 4.53vw;
        flex-direction: column;
        justify-content: initial;
    }
}

@media(max-width: 961px) {
    .acc-hist__date {
        font-size: 3.73vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__number {
        margin-top: 3.73vw;

        font-size: 4.27vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__state-list {
        margin-top: 1.07vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__state-item {
        font-size: 3.47vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__goods-list {
        width: 100%;
        margin-top: 6.13vw;
        gap: 18.40vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__goods-item {
        display: grid;
        grid-template-columns: 80% 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: initial;
    }
}

@media(max-width: 961px) {
    .acc-hist__sku-info {
        grid-column: 1;
        grid-row: 1 / 3;
        gap: 9.87vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__wr-img {
        width: 17.87vw;
        height: 26.13vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__drand, .acc-hist__name {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__type {
        margin-top: 1.07vw;

        font-size: 4vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__amount {
        width: 12.53vw;
        height: 7.47vw;
        justify-self: end;

        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__price {
        justify-self: end;

        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__wr-total {
        padding-top: 0;
    }
}

@media(max-width: 961px) {
    .acc-hist__total {
        font-size: 4.80vw;
    }
}

@media(max-width: 961px) {
    .acc-hist__wr-button {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-grow: initial;
    }
}

@media(max-width: 961px) {
    .acc-hist__button {
        width: 60.73%;
        height: 10.67vw;

        font-size: 4.27vw;

        box-shadow: -1.07vw 1.07vw 2.40vw 0px #9AA4A7;
        border-radius: 2.13vw;
    }
}
/* -------- END HISTORY -------------*/


/* -------- START FAVORITES -------------*/
@media(max-width: 961px) {
    .acc-fav {
        width: 100%;
    }
}

@media(max-width: 961px) {
    .acc-fav__wr-button {
        display: flex;
        justify-content: center;
        padding-top: 7.20vw;
    }
}

@media(max-width: 961px) {
    .acc-fav__button {
        width: 60.73%;
        height: 10vw;
    
        font-size: 4.27vw;
    
        box-shadow: -1.07vw 1.07vw 2.40vw 0px #9AA4A7;
        border-radius: 2.13vw;
    }
}

@media(max-width: 961px) {
    .acc-fav__wr-list {
        display: flex;
        flex-direction: column;
        padding-top: 11.47vw;
    }
}

@media(max-width: 961px) {
    .acc-fav__arrow-up {
        position: static;
    
        width: 12vw;
        height: 12vw;
        margin-top: 6vw;
        margin-right: 3vw;
        align-self: end;
    }
}

@media(max-width: 961px) {
    .acc-fav__wr-pagination {
        margin-top: 8vw;
    }
}
/* -------- END FAVORITES -------------*/



/* -------- START LOYALTY -------------*/
@media(max-width: 961px) {
    .account__screen-item[data-screen="loyalty"] > .account__item-content {
        background-color: #E5E4E9;
    } 
}

@media(max-width: 961px) {
    .acc-loyal__list {
        display: flex;
        width: auto;
        padding-top: 9.07vw;
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 8vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__item {
        width: 95.734%;
        flex-direction: column;
        gap: 0;

        border: 1.33vw solid #69E8FA;
        box-shadow: 0px 0px 4.27vw 0.80vw rgba(0, 0, 0, 0.25), 0px 0px 8vw 2.13vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 961px) {
    .acc-loyal__item-level {
        padding-top: 9.87vw;
        padding-bottom: 19.73vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-title {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__about-level {
        margin-top: 12vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-side {
        align-items: end;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-item-side {
        margin-bottom: 4.2vw;
    }   
}

@media(max-width: 961px) {
    .acc-loyal__level-item-l {
        margin-right: -10vw;

        transform: initial;
    }   
}

@media(max-width: 961px) {
    .acc-loyal__level-circle-small {
        height: 19.47vw;
        width: 19.47vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-disc-icon {
        width: 5.07vw;
        height: 5.07vw;
        margin-top: 4vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-num {
        margin-top: 0.2vw;

        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-text {
        width: 93%;
        margin-top: 2vw;

        font-size: 3.47vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-line-side {
        width: 16.6vw;
        height: 1.07vw;
        margin-bottom: -5vw;

        background-size: 100% auto;
        background-position: center;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-line-l {
        margin-right: -9vw;

        transform: rotate(-39deg);
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-circle-big {
        height: 32.80vw;
        width: 32.80vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-summ-icon {
        width: 10.67vw;
        height: 5.33vw;
        margin-top: 6.8vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-summ-num {
        margin-top: 1vw;

        font-size: 6.40vw;

        text-shadow: 0px 1.07vw 1.07vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-text-summ {
        line-height: 0.85;

        text-shadow: 0px 1.07vw 1.07vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-line-r {
        margin-left: -9vw;

        transform: rotate(219deg);
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-line-b {
        height: 13.5vw;
        width: 1.4vw;
        margin: 0.72vw auto 1.5vw;

        background-size: auto 100%;
        background-position: top center;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-bonus-icon {
        height: 6.40vw;
        width: 5.07vw;
        margin-top: 3vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__level-cash-icon {
        height: 5.07vw;
        width: 5.07vw;
        margin-top: 4vw;
    }
}

@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    .acc-loyal__level-item-r {
        margin-left: -10vw;

        transform: initial;
    }
}

@media(max-width: 961px) {
    .acc-loyal__item-discount {
        height: auto;
        padding-top: 10.67vw;
        padding-bottom: 12.27vw;
        justify-content: initial;
        align-items: center;
    }
}

@media(max-width: 961px) {
    .acc-loyal__wr-discount-icon {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
}

@media(max-width: 961px) {
    .acc-loyal__reg-discount-icon {
        height: 13.33vw;
        width: 13.33vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__reg-discount-num {
        font-size: 10.67vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__title {
        margin-top: 5.33vw;

        font-size: 3.73vw;
        text-align: center;
    }
    .acc-loyal__title_percent {
        font-size: 3.73vw;
        font-weight: 700;
    }
}

@media(max-width: 961px) {
    .acc-loyal__item-bank {
        padding-top: 5.87vw;
        padding-bottom: 5.8vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__bank-icon {
        width: 20vw;
        height: 25.33vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__title:not(.acc-loyal__reg-discount-title) {
        font-size: 6.40vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__text {
        margin-top: 7.20vw;

        font-size: 4.27vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__bank-text {
        width: 87.5%;
    }
}

@media(max-width: 961px) {
    .acc-loyal__item-birth {
        padding-top: 7.20vw;
        padding-bottom: 19.20vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__birth-icon {
        width: 24vw;
        height: 24vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__birth-text {
        width: 89%;
    }
}

@media(max-width: 961px) {
    .acc-loyal__item-cashback {
        padding-top: 7.47vw;
        padding-bottom: 23.47vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__cashback-icon {
        width: 24.80vw;
        height: 22.40vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__cashback-title {
        width: 80%;
    }
}

@media(max-width: 961px) {
    .acc-loyal__statuses-list {
        flex-direction: column;
        gap: 6.13vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__statuses-list_top {
        margin-top: 10.40vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__statuses-balls {
        width: 26.67vw;
        height: 26.67vw;

        font-size: 5.33vw;

        text-shadow: 0px 1.07vw 1.07vw rgba(0, 0, 0, 0.25);
        filter: drop-shadow(1.60vw 2.13vw 3.73vw rgba(0, 0, 0, 0.25));
    }
}

@media(max-width: 961px) {
    .acc-loyal__statuses-text {
        width: 62.7vw;
        margin-top: 4vw;

        font-size: 3.73vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__wr-progress {
        padding-top: 3vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__indication {
        height: 3.20vw;
        width: 96%;
        margin: 0 auto;
        gap: 0.5vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__indication-list {
        gap: 0.53vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__indication-item {
        height: 0.53vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__progress-wr-text {
        padding-top: 0.53vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__progress-text {
        font-size: 2.13vw;
    }
}

@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    .acc-loyal__cashback-title_b {
        width: 93%;
        margin-top: 10.67vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__statuses-list_bottom {
        margin-top: 6.13vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__statuses-title {
        margin-top: 3.67vw;

        font-size: 4.27vw;
    }
}

@media(max-width: 961px) {
    .acc-loyal__statuses-list_bottom .acc-loyal__statuses-text {
        margin-top: 9.07vw;
    }
}
/* -------- END LOYALTY -------------*/