.basket__wrapper {
    display: flex;
    padding-top: 2.40vw;
    padding-bottom: 10.26vw;
    justify-content: center;
}

.basket__wrapper-content {
    display: flex;
    width: 84.919%;
    gap: 3.28vw;
}

.basket__forms {
    flex-grow: 1;
}

.basket__title {
    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;

    color: #671993;
}

.basket__text-no-reg {
    margin-top: 0.47vw;

    font-family: "SofiaSans";
    font-size: 0.73vw;
    font-weight: 400;

    color: #2F5F6D;
}

.basket__text-no-reg > p {
    display: flex;
    flex-direction: column;
}

.basket__text-no-reg_color {
    font-weight: 700;
    
    color: #671993;
}

.basket__form-user {
    margin-top: 2.08vw;
}

.basket__form-in-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content);
    row-gap: 1.51vw;
}

.basket__form-in-item {
    width: 95.87%;
}

.basket__form-in-item.basket__form-wishes {
    width: 100%;
    grid-row: 3;
    grid-column: 1/5;
}



/* Сетка для способы доставки и оплаты */
.basket__grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content min-content;
}

.basket__form-tab {
    grid-row: 1;
}

.basket__grid-form {
    display: none;
    grid-row: 2;
    grid-column: 1/5;
}

.basket__form-tab[active] + .basket__grid-form {
    display: block;
}

/* START способы доставки */
.basket__form-tab_mkad {
    grid-column: 1;
}
.basket__form-tab_behind-mkad {
    grid-column: 2;
}
.basket__form-tab_behind-pickup {
    grid-column: 3;
}
.basket__form-tab_behind-regions {
    grid-column: 4;
}
.basket__form-tab_behind-points {
    grid-column: 5;
}

.basket__form-deliv {
    row-gap: 0.94vw;
}

/* END способы доставки */



/* START перечень товаров и цена */

.basket__goods {
    display: flex;
    width: 33.726%;
    flex-direction: column;
    gap: 1.41vw;
}

.basket__goods-item {
    padding-top: 2.66vw;
    padding-right: 1.20vw;
    padding-bottom: 2.66vw;
    padding-left: 2.03vw;

    border-radius: 0.47vw;
    background: #EFEFEF;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
}

.order-goods__list {
    display: flex;
    padding-top: 1.20vw 2.03vw 1.20vw 2.66vw;
    flex-direction: column;
    gap: 1.61vw;
}

.order-goods__item {
    display: flex;
}

.order-goods__img {
    width: 5.21vw;
    height: 5.21vw;
}

.order-goods__img > img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.order-goods__text {
    display: flex;
    margin-left: 1.04vw;
    gap: 2.03vw;
    align-items: center;
}

.order-goods__name {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-wrap: nowrap;

    color: #000;
}

.order-goods__type {
    font-family: "SofiaSans";
    font-size: 0.78vw;
    font-weight: 400;

    color: #8E8E8E;
}

.order-goods__calc {
    display: flex;
    height: 1.46vw;
    gap: 0.26vw;
}

.order-goods__button {
    display: grid;
    width: 1.82vw;
    place-items: center;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 400;

    color: #FFF;
    border: 1px solid #FFF;
    background: #4D96AB;

    cursor: pointer;
}

.order-goods__units {
    width: 2.45vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;

    color: #726B68;
}

.order-goods__summ {
    flex-shrink: 0;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;

    color: #671993;
}


.order-total__info {  
    display: flex;
    padding-bottom: 1.93vw;
    flex-direction: column;

    color: #671993;
}

.order-total__info-list {
    display: flex;
    flex-direction: column;
    gap: 0.89vw;
}

.order-total__item {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.order-total__title {
    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 400;
}

.order-total__summ {
    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;
}

.order-total__line {
    height: 1px;
    width: 94%;
    margin-top: 1.46vw;
    align-self: center;

    background: #D3D3D3;
}

.order-total__final-price {
    display: flex;
    margin-top: 0.83vw;
    align-items: end;
    gap: 1.51vw;
    align-self: flex-end;
}

.place-order__wrapper {
    display: flex;
    margin-top: 2.66vw;
    justify-content: center;
}

.place-order__button {
    width: 96.28%;
    height: 2.60vw;
    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    border: 0;
    outline: 0;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}

/* END перечень товаров и цена */



@media(max-width: 961px) {
    .basket__wrapper {
        padding-top: 8.80vw;
        padding-bottom: 40.27vw;
    }
}

@media(max-width: 961px) {
    .basket__wrapper-content {
        width: 93.58%;
    }
}