.basket__wrapper {
    display: flex;
    padding-top: 2.40vw;
    padding-bottom: 10.26vw;
    justify-content: center;
}

.basket__wrapper-content {
    display: flex;
    width: 84.919%;
    gap: 3.28vw;
}

.basket__forms {
    flex-grow: 1;
}

.basket__wr-arrow-back {
    display: none;
}

.basket__title {
    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;

    color: #671993;
}

.basket__text-no-reg {
    display: none;
    margin-top: 0.47vw;

    font-family: "SofiaSans";
    font-size: 0.73vw;
    font-weight: 400;

    color: #2F5F6D;
}

.basket__text-no-reg_active {
    display: block;
}

.basket__text-no-reg > p {
    display: flex;
    flex-direction: column;
}

.basket__text-no-reg_color {
    font-weight: 700;
    
    color: #671993;
}

.basket__form-user {
    margin-top: 2.08vw;
}

.basket__form-in-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content);
    row-gap: 1.51vw;
}

.basket__form-in-item {
    width: 95.87%;
}



/* START Общая сетка для способы доставки и оплаты */
.basket__grid-forms-list {
    display: grid;
    margin-top: 0.64vw;
    grid-template-rows: min-content min-content;
    column-gap: 2%;
    row-gap: 2.30vw;
}

.basket__tab {
    display: flex;
    height: 3.65vw;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-row: 1;

    border-radius: 0.47vw;
    border: 1px solid #615F5D;
    background: #FFF;
    box-shadow: 0.21vw 0.21vw 0.52vw 0px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}


.basket__tab-title {
    display: flex;
    align-items: center;
    gap: 0.83vw;

    font-family: "SofiaSans";
    font-size: 0.73vw;
    font-weight: 400;

    color: #671993;

    user-select: none;
}

.basket__tab-title::before {
    content: "";

    display: block;
    width: 0.57vw;
    height: 0.57vw;
    flex-shrink: 0;

    background-color: #D9D9D9;
    border-radius: 50%;
}

.basket__tab[active] > .basket__tab-title::before {
    background-color: #671993;
    box-shadow: 0px 0px 0.32vw 0.17vw rgba(103, 25, 147, 0.35);
}

.basket__grid-form {
    display: none;
    grid-row: 2;
}
/* END Общая сетка для способы доставки и оплаты */

/* START способы доставки */

.basket__wr-type-address {
    display: none;
    height: 1.56vw;
    margin-top: 1.15vw;
    margin-bottom: 1.6vw;
}

.basket__wr-type-address_active {
    display: block;
}

.basket__deliv-forms {
    grid-template-columns: 
        19.15%
        15.68%
        15.68%
        15.68%
        17.262%
        1fr
    ;
}

.basket__tab_mkad {
    grid-column: 1;
}
.basket__tab_behind-mkad {
    grid-column: 2;
}
.basket__tab_behind-pickup {
    grid-column: 3;
}
.basket__tab_behind-regions {
    grid-column: 4;
}
.basket__tab_behind-points {
    grid-column: 5;
}


.basket__tab[active] + .basket__grid-form {
    display: block;
}

.basket__deliv-form {
    grid-column: 1 / 7;
}



.basket__form-deliv {
    row-gap: 0.94vw;
}

.basket__form-wishes {
    width: 100%;
    grid-row: 3;
    grid-column: 1/5;
}

.basket__form-deliv-wishes.label-textarea__area {
    height: 5.99vw;
    width: 53.372%;
}

.basket__pickup-wr-text {
    display: flex;
    flex-direction: column;
    gap: 1vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    
    color: #505050;
}

.basket__pickup-text_bold {
    font-weight: 700;
}

.basket__pickup-tel {
    color: inherit;
    text-wrap: nowrap;
}

.basket__form-pickup-area {
    margin-top: 1.51vw;
}

.basket__points-description {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;

    color: #505050;
}

.basket__points-wr-search {
    padding-top: 1.88vw;
}

.basket__points-search {
    width: 42.66%;
}

.basket__points-map {
    height: 23.80vw;
    width: 48.18vw;
    margin-top: 1.72vw;

    border: 0.16vw solid #2F5F6D;
}

.basket__points-wr-address {
    display: flex;
    padding-top: 2.03vw;
    gap: 3.59vw;
    align-items: start;
}

.basket__points-address-text {
    max-width: 54%;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    line-height: 0.95;

    color: #505050;
}

.basket__points-button {
    width: 15.68vw;
    height: 2.08vw;

    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    border: 0;
    color: #FFF;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}
/* END способы доставки */

/* START способы оплаты */

.basket__pay-title {
    padding-top: 2vw;
}

.basket__balls {
    display: none;
    padding-top: 1.93vw;
    padding-bottom: 1.8vw;
}

.basket__balls_active {
    display: block;
}

.basket__balls-amount {
    font-family: "SofiaSans";
    font-size: 0.83vw;
    font-weight: 400;

    color: #671993;
}

.basket__balls-amount_bold {
    font-weight: 700;
}

.basket__balls-wr-deduct {
    display: flex;
    gap: 1.09vw;
    align-items: center;
    padding-top: 0.63vw;
}

.basket__balls-text {
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;

    color: #505050;
}

.basket__balls-deduct-input {
    width: 11.30vw;
    height: 1.56vw;
    padding-left: 0.36vw;
    padding-right: 0.36vw;

    font-family: 'Play';
    font-size: 0.8vw;
    font-weight: 400;

    color: #333;
    outline: 0;
    border-radius: 0.21vw;
    border: 1px solid #615F5D;
    background-color: #EFEFEF;
    caret-color: #333;
}

.basket__balls-deduct-input:focus::placeholder {
    visibility: hidden;
}

.basket__pay-forms {
    grid-template-columns: 
        15.68%
        18.155%
        15.68%
        1fr;
}

.basket__pay-form {
    grid-column: 1 / 5;
}

.basket__wr-pay-file {
    padding-top: 1.88vw;
}

.basket__file-title {
    padding-bottom: 0.31vw;

    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;

    color: #333;
}

.basket__file {
    display: flex;
    width: 35.614%;
    height: 5.99vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.52vw;

    border-radius: 0.21vw;
    border: 1px solid #615F5D;
    background: #FFF;
}

.basket__file-text {
    font-family: "SofiaSans";
    font-size: 0.63vw;
    font-weight: 400;

    color: #CCC;
}

.basket__file-label {
    display: grid;
    place-items: center;
    width: 7.81vw;
    height: 1.56vw;

    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}

.basket__file-input {
    display: none;
}
/* END способы оплаты */


/* START персональные данные */
.basket__wr-cons-data {
    padding-top: 2.86vw;
}

.basket__cons-data {
    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;

    cursor: pointer;
}

.basket__cons-data-checkbox {
    display: none;
}

.basket__cons-data-text {
    display: flex;
    gap: 0.47vw;
    align-items: end;

    user-select: none;
}

.basket__cons-data-text::before {
    content: "";

    display: inline-block;
    width: 1.30vw;
    height: 1.30vw;

    border-radius: 0.42vw;
    background-color: #EFEFEF;
    border: 1px solid #4D96AB;
}

.basket__cons-data-checkbox:checked + .basket__cons-data-text::before {
    background: no-repeat url('../../svg/checkmark-green.svg');
    background-size: 60% auto;
    background-position: center;
}
/* END персональные данные */


/* START перечень товаров и цена */

.basket__goods {
    display: flex;
    padding-top: 15.20vw;
    width: 33.726%;
    flex-direction: column;
    gap: 1.41vw;
}

.basket__goods-item {
    padding-top: 2.66vw;
    padding-right: 1.20vw;
    padding-bottom: 2.66vw;
    padding-left: 2.03vw;

    border-radius: 0.47vw;
    background: #EFEFEF;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
}

.order-goods__list {
    display: flex;
    flex-direction: column;
    gap: 1.61vw;
}

.order-goods__item {
    display: flex;
}

.order-goods__img {
    width: 5.21vw;
    height: 5.21vw;
}

.order-goods__img > img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.order-goods__text {
    display: flex;
    margin-left: 1.04vw;
    gap: 2.03vw;
    align-items: center;
}

.order-goods__name {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-wrap: nowrap;

    color: #000;
}

.order-goods__type {
    font-family: "SofiaSans";
    font-size: 0.78vw;
    font-weight: 400;

    color: #8E8E8E;
}

.order-goods__calc {
    display: flex;
    height: 1.46vw;
    gap: 0.26vw;
}

.order-goods__button {
    display: grid;
    width: 1.82vw;
    place-items: center;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 400;

    color: #FFF;
    border: 1px solid #FFF;
    background: #4D96AB;

    cursor: pointer;
}

.order-goods__units {
    width: 2.45vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;

    color: #726B68;
}

.order-goods__summ {
    flex-shrink: 0;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;

    color: #671993;
}


.order-total__info {  
    display: flex;
    padding-bottom: 1.93vw;
    flex-direction: column;

    color: #671993;
}

.order-total__info-list {
    display: flex;
    flex-direction: column;
    gap: 0.89vw;
}

.order-total__item {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.order-total__title {
    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 400;
}

.order-total__summ {
    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;
}

.order-total__line {
    height: 1px;
    width: 94%;
    margin-top: 1.46vw;
    align-self: center;

    background: #D3D3D3;
}

.order-total__final-price {
    display: flex;
    margin-top: 0.83vw;
    align-items: end;
    gap: 1.51vw;
    align-self: flex-end;
}

.place-order__wrapper {
    display: flex;
    margin-top: 2.66vw;
    justify-content: center;
}

.place-order__button_desc {
    width: 96.28%;
    height: 2.60vw;
    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    border: 0;
    outline: 0;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}


.place-order__button_mob {
    display: none;
}
/* END перечень товаров и цена */



@media(max-width: 961px) {
    .bread-crumbs__basket {
        display: none;
    }
}

@media(max-width: 961px) {
    .basket__wrapper {
        display: block;
        padding-top: 0;
        padding-bottom: 40.27vw;
    }
}

@media(max-width: 961px) {
    .basket__wrapper-content {
        width: 100%;
        gap: 0;
        justify-content: center;
    }
}

@media(max-width: 961px) {
    .basket__forms, .basket__goods {
        display: none;
    }

    .basket__active {
        display: flex;
    }
}


@media(max-width: 961px) {
    .basket__forms {
        width: 88.393%;
        flex-direction: column;
        flex-grow: initial;
    }
}

@media(max-width: 961px) {
    .basket__wr-arrow-back {
        display: block;
        padding-top: 4vw;
        padding-bottom: 8.80vw;
    }   
}

@media(max-width: 961px) {
    .basket__arrow-back {
        display: grid;
        place-items: center;
        width: 12vw;
        height: 12vw;

        border-radius: 50%;
        background-color: #4D96AB;
    }

    .basket__arrow-back::before {
        content: "";

        display: inline-block;
        width: 7.73vw;
        height: 4.27vw;

        background: no-repeat url('../../svg/arrow-to-up.svg');
        background-size: contain;
        background-position: center;

        transform: rotate(-90deg);
    }
}

@media(max-width: 961px) {
    .basket__wr-title {
        width: 55.7%;
        margin: 0 auto;
        padding-bottom: 3.20vw;
    }

    .basket__title {
        font-size: 5.33vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .basket__text-no-reg {
        margin-top: 5.33vw;

        font-size: 3.73vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .basket__form-user {
        margin-top: 6.13vw;
    }
}

@media(max-width: 961px) {
    .basket__form-in-list {
        display: flex;
        flex-direction: column;
        row-gap: 2.67vw;
    }
}

@media(max-width: 961px) {
    .basket__form-in-item {
        width: 100%;
    }
}


/* START Общая сетка для способы доставки и оплаты */
@media(max-width: 961px) {
    .basket__grid-form {
        display: block;
        height: 0;

        overflow: hidden;
    }
}
/* УТВ Общая сетка для способы доставки и оплаты */

/* START способы доставки */
@media(max-width: 961px) {
    .basket__del-title {
        margin-top: 9.33vw;
    }
}

@media(max-width: 961px) {
    .basket__deliv-forms {
        margin-top: 6.67vw;
    }
}

@media(max-width: 961px) {
    .basket__wr-type-address {
        height: 8vw;
        margin-top: 13.87vw;
        margin-bottom: 1.6vw;
    }
}

@media(max-width: 961px) {
    .basket__grid-forms-list {
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: 5.33vw;
    }
}

@media(max-width: 961px) {
    .basket__tab {
        height: 18.67vw;
        padding-left: 30%;
        justify-content: start;

        border-radius: 2.40vw;
        box-shadow: 1.07vw 1.07vw 2.67vw 0px rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 961px) {
    .basket__tab-title {
        gap: 2.93vw;

        font-size: 3.73vw;
    }

    .basket__tab-title::before {
        width: 2.93vw;
        height: 2.93vw;
    }

    .basket__tab-check:checked + .basket__tab-title::before {
        box-shadow: 0px 0px 1.72vw 1.17vw rgba(103, 25, 147, 0.3);
    }
}

@media(max-width: 961px) {
    .basket__form-deliv-wishes.label-textarea__area {
        height: 35.73vw;
        width: 100%;
    }
}

@media(max-width: 961px) {
    .basket__pickup-wr-text {
        gap: 7.20vw;

        font-size: 5.33vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .basket__form-pickup-area {
        margin-top: 0;
        padding-top: 7.20vw;
    }
}

@media(max-width: 961px) {
    .basket__points-description {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .basket__points-wr-search {
        padding-top: 6.13vw;
    }
}

@media(max-width: 961px) {
    .basket__points-search {
        width: 100%;
    }
}

@media(max-width: 961px) {
    .basket__points-map {
        height: 118.67vw;
        width: 100%;
        margin-top: 8.80vw;

        border: 0.80vw solid #2F5F6D;
    }
}

@media(max-width: 961px) {
    .basket__points-wr-address {
        padding-top: 11.20vw;
        flex-direction: column;
        gap: 5.33vw;
        align-items: initial;
    }
}

@media(max-width: 961px) {
    .basket__points-address-text {
        max-width: initial;

        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .basket__points-button {
        width: 100%;
        height: 10.67vw;

        font-size: 4.27vw;

        border-radius: 2.13vw;
        box-shadow: -1.07vw 1.07vw 2.40vw 0px #9AA4A7;
    }
}

/* END способы доставки */


/* START способы оплаты */
@media(max-width: 961px) {
    .basket__balls {
        padding-top: 9.33vw;
        padding-bottom: 8.80vw;
    }
}

@media(max-width: 961px) {
    .basket__pay-forms {
        margin-top: 6.67vw;
    }
}

@media(max-width: 961px) {
    .basket__balls-amount {
        font-size: 4.27vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .basket__balls-wr-deduct {
        padding-top: 3.20vw;
        gap: 0;
        justify-content: space-between;
    }
}

@media(max-width: 961px) {
    .basket__balls-text {
        font-size: 4.27vw;
    }
}

@media(max-width: 961px) {
    .basket__balls-deduct-input {
        width: 49.33vw;
        height: 8vw;
        padding-left: 1.36vw;
        padding-right: 1.36vw;

        font-size: 4.27vw;

        border-radius: 1.07vw;
    }
}

/* END способы оплаты */


/* START Согласие на обработку персональных даннных */
/* END Согласие на обработку персональных даннных */


@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    
}

@media(max-width: 961px) {
    
}




/* START перечень товаров и цена */

@media(max-width: 961px) {
    .basket__goods {
        width: 100%;
        gap: 5.33vw;
    }
}

@media(max-width: 961px) {
    .basket__goods-item {
        padding-top: 6.93vw;
        padding-right: 5.87vw;
        padding-bottom: 13.87vw;
        padding-left: 5.87vw;

        border-radius: 2.40vw;
        box-shadow: 0 0 4.3vw rgba(0, 0, 0, 0.3);
    }
}

@media(max-width: 961px) {
    .order-goods__list {
        gap: 9.87vw;
    }
}

@media(max-width: 961px) {
    .order-goods__img {
        width: 19.20vw;
        height: 19.20vw;
        flex-shrink: 0;
    }
}

@media(max-width: 961px) {
    .order-goods__text {
        margin-left: 3.80vw;
        padding-top: 1.4vw;
        column-gap: 6.53vw;
        row-gap: 4.63vw;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media(max-width: 961px) {
    .order-goods__name {
        font-size: 4.27vw;
    }
}

@media(max-width: 961px) {
    .order-goods__type {
        font-size: 3.47vw;
    }
}

@media(max-width: 961px) {
    .order-goods__calc {
        height: 7.47vw;
        gap: 1.33vw;
    }
}

@media(max-width: 961px) {
    .order-goods__button {
        width: 9.33vw;

        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .order-goods__units {
        width: 12.53vw;

        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .order-goods__summ {
        width: 100%;

        font-size: 5.33vw;
        text-align: right;
    }
}

@media(max-width: 961px) {
    .order-total__info {
        padding-top: 10.93vw;
        padding-bottom: 6.13vw;

        box-shadow: 0 0 11.3vw 1vw rgba(0, 0, 0, 0.3);
    }   
}

@media(max-width: 961px) {
    .order-total__info-list {
        gap: 5.87vw;
    }
}

@media(max-width: 961px) {
    .order-total__title {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .order-total__summ {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .order-total__line {
        width: 88.19%;
        margin-top: 5.07vw;
    }
}

@media(max-width: 961px) {
    .order-total__final-price {
        margin-top: 3.73vw;
        gap: 10.13vw;
    }
}

@media(max-width: 961px) {
    .place-order__wrapper {
        margin-top: 25.07vw;
    }
}

@media(max-width: 961px) {
    .place-order__button_mob {
        display: block;
        width: 100%;
        height: 10.67vw;

        font-family: 'Play';
        font-size: 4.27vw;
        font-weight: 400;
    
        color: #FFF;
        border: 0;
        outline: 0;
        border-radius: 2.13vw;
        box-shadow: -1.07vw 1.07vw 2.40vw 0px #9AA4A7;
        background: #4D96AB;
        box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;
    }

    .place-order__button_desc {
        display: none;
    }
}
/* END перечень товаров и цена */