.delivery__wrapper {
    display: flex;
    padding-top: 4.11vw;
    padding-bottom: 11.67vw;
    justify-content: center;
}

.delivery__wrapper-content {
    width: 70.21%;
    padding: 2.50vw 2.24vw 8.39vw;

    border-radius: 0.52vw;
    background: #EEE;
    box-shadow: 
        -20.53vw 26.67vw 9.33vw rgba(0, 0, 0, 0),
        -13.33vw 17.07vw 8.53vw rgba(0, 0, 0, 0.01),
        -7.47vw 9.60vw 7.20vw rgba(0, 0, 0, 0.05),
        -3.20vw 4.27vw 5.33vw rgba(0, 0, 0, 0.09),
        -0.80vw 1.07vw 2.93vw rgba(0, 0, 0, 0.10);
}

.delivery__controll-list {
    display: none;
}

.delivery__content-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.60vw;
    row-gap: 2.60vw;
}

.delivery__content-item {
    display: flex;
    width: 48%;
    padding: 1.56vw ;
    flex-direction: column;
    align-items: center;

    background: #FFF;
    box-shadow: -1vw 1vw 2vw rgba(0, 0, 0, 0.2);
}

.delivery__wr-title {
    width: 68%;
    padding-bottom: 0.42vw;

    border-image:
        linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%) 1
        / 0 0 0.16vw 0;
}

.delivery__content-title {
    font-family: 'Play';
    font-size: 1.46vw;
    font-weight: 700;
    text-align: center;

    color: #27CFFF;
}

.delivery__content-text {
    display: flex;
    margin-top: 1.09vw;
    flex-direction: column;
    gap: 1.35vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;

    color: #505050;
}

.delivery__content-text_bold {
    font-weight: 700;
}

@media(max-width: 961px) {
    .delivery__wrapper {
        padding-top: 11.73vw;
        padding-bottom: 39.73vw;
    } 
}

@media(max-width: 961px) {
    .delivery__wrapper-content {
        width: 100%;
        padding: 0;

        border-radius: initial;
        box-shadow: none;
        background-color: initial;
    }
}

@media(max-width: 961px) {
    .delivery__controll-list {
        display: block;
        padding-bottom: 12vw;
    }
}

@media(max-width: 961px) {
    .delivery__controll-item {
        display: grid;
        height: 13.33vw;
        place-items: center;

        font-family: 'Play';
        font-size: 5.33vw;
        font-weight: 400;
        text-align: center;
        
        color: #2F5F6D;
        border-bottom: 1px solid #4D96AB;
    }

    .delivery__controll-item:first-child {
        border-top: 1px solid #4D96AB;
    }
    
    .delivery__controll-item_active {
        background: no-repeat linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
        color: #fff;
    }
}

@media(max-width: 961px) {
    .delivery__content-list {
        display: block;
        padding: 5.87vw 5.33vw;

        border-radius: 2.67vw;
        background: #EEE;
        box-shadow: 
            6.67vw 8.27vw 10.67vw 0px rgba(0, 0, 0, 0.06), 
            1.60vw 2.13vw 5.87vw 0px rgba(0, 0, 0, 0.07);
    }
}

@media(max-width: 961px) {
    .delivery__content-item {
        display: none;
        width: 100%;
        min-height: 73.60vw;
        padding: 6.40vw 4.27vw;

        background: #FFF;
        box-shadow: 
            -20.53vw 26.67vw 9.33vw rgba(0, 0, 0, 0),
            -13.33vw 17.07vw 8.53vw rgba(0, 0, 0, 0.01),
            -7.47vw 9.60vw 7.20vw rgba(0, 0, 0, 0.05),
            -3.20vw 4.27vw 5.33vw rgba(0, 0, 0, 0.09),
            -0.80vw 1.07vw 2.93vw rgba(0, 0, 0, 0.10);
    }

    .delivery__content-item_active {
        display: block;
    }
}

@media(max-width: 961px) {
    .delivery__wr-title {
        display: none;
    }
}

@media(max-width: 961px) {
    .delivery__content-text {
        margin-top: 0;
        gap: 4.80vw;

        font-size: 3.73vw;
    }
}
