.card-wrapper {
    display: flex;
    margin-top: 4.17vw;
    flex-direction: column;
    align-items: center;
}

/* START Карточка товара со слайдером */

.product {
    display: flex;
    width: 71%;
    padding-bottom: 2.81vw;

    border-radius: 0.52vw;
    background-color: #EEE;
    box-shadow: 
    1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 
    0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.product__wr-images {
    position: relative;

    display: flex;
    flex-shrink: 0;
    width: 48%;
    padding-top: 1.25vw;
    flex-direction: column;
    align-items: center;
}

.product__wr-slider {
    width: 51.57%;
    padding-top: 2.97vw;
    padding-bottom: 2.97vw;
}

.product__new {
    position: absolute;
    top: 0.5vw;
    left: 7%;

    display: none;
    width: 6.98vw;
    height: 6.09vw;

    background: no-repeat url('../../svg/product-new.svg');
    background-size: contain;
    background-position: center;
}

.product__new_active {
    display: block;
}

.product__slider {
    height: 25vw;
}

@media(min-width: 962px) {
    .product__slide {
        opacity: 0 !important;
    }
    .product__slide.swiper-slide-visible {
        opacity: 1 !important;
    }
}

.product__slide {
    transition: transform 0.15s linear;
    
    cursor: pointer;
}

.product__slide > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.product__favorites {
    position: absolute;
    top: 2.7vw;
    right: 1.6%;

    width: 1.56vw;
    height: 1.56vw;

    background: no-repeat url('../../svg/favorites-heart-black.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.product__goods-wr-arrow_mobile {
    display: none;
}

.product__wr-thumbs {
    position: relative;
    width: 80%;
}

.product__thumbs {
    height: 8.39vw;
}

.product__thumbs-wrapper {
    transition-timing-function: linear !important;
    width: fit-content; 
    margin: 0 auto;
}

.product__thumb-slide {
    cursor: pointer;
}

.product__thumb-slide > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}


.product__goods-wr-arrow {
    position: absolute;
    top: 50%;

    height: 1.77vw;
    width: 0.89vw;

    transition: transform 0.15s linear;
    
    cursor: pointer;
}

.product__goods-wr-arrow-prev {
    left: 0;

    transform: translate(-100%, -50%);
}

.product__goods-wr-arrow-prev:hover {
    transform: translate(-100%, -50%) scale(1.2);
}

.product__goods-wr-arrow-next {
    right: 0;

    transform: translate(100%, -50%);
}

.product__goods-wr-arrow-next:hover {
    transform: translate(100%, -50%) scale(1.2);
}

.product__goods-arrow {
    height: 100%;
    width: 100%;

    cursor: pointer;
}


.product__goods-prev {
    background: no-repeat url('../../svg/card-product-arrow-prev.svg');
    background-size: contain;
    background-position: center;
}


.product__goods-next {
    background: no-repeat url('../../svg/card-product-arrow-next.svg');
    background-size: contain;
    background-position: center;
}


.product__wr-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 2.29vw;
    padding-left: 2.53%;
    padding-right: 4.89%;
}

.product__wr-title {
    width: fit-content;

    font-family: 'Play';
    font-weight: 700;
    
    color: #2F5F6D;
}

.product__title {
    font-size: 1.67vw;
}

.product__sub-title {
    font-size: 1.04vw;
    text-align: right;
}

.product__wr-title_m {
    display: none;
}

.product__tab-button_m {
    display: none;
}
   
#product__tab-char {
    display: none;
}
#product__tab-about {
    display: none;
}
#product__tab-review {
    display: none;
}

.product__characteristics {
    margin-top: 2.71vw;
}

.characteristics__item {
    display: flex;

    font-family: 'Play';

    color: #615F5D;
}

.characteristics__item:not(:first-child) {
    margin-top: 1.04vw;
}

.characteristics__item_hide {
    display: none;
}

.characteristics__item_active {
    display: flex;
}

.characteristics__title {
    min-width: 39%;
    max-width: 39%;

    font-size: 1.15vw;
    font-weight: 700;
}

.characteristics__data {
    font-size: 1.04vw;
    font-weight: 400;
}

.characteristics__data_uppercase {
    text-transform: uppercase;
}

.characteristics__types-list {
    display: flex;
    height: 100%;
    width: 100%;
    column-gap: 0.42vw;
}

.characteristics__types-item {
    position: relative;

    display: grid;
    width: 1.41vw;
    height: 1.41vw;
    place-items: center;

    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 50%;
    
}

.characteristics__types-item_active {   
    padding: 5%;

    background: 
    no-repeat linear-gradient(to right, #FFFFFF, #FFFFFF) padding-box,
    no-repeat linear-gradient(to right,#6AE9FB, #2F5F6D) border-box;
}

.characteristics__types-body {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;

    font-family: 'Play';
    font-size: 0.63vw;
    font-weight: 400;
    line-height: 0.9;

    border-radius: 50%;

    cursor: pointer;
}

.characteristics__types-body_black {
    background-color: #000;
}

.characteristics__types-item_active > .characteristics__types-body_black {
    border: 1px solid #fff;    
}

.characteristics__types-body_bw {
    background: no-repeat linear-gradient(to right, #fff 0%, #fff 50%, #000 50%, #000 100%);
}

.characteristics__types-item_active > .characteristics__types-body_bw {
    border: 1px solid #fff;    
}

.characteristics__wr-composition {
    display: flex;
}

.characteristics__composition {
    /* display: -webkit-box; */
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    /* height: 7.51vw; */

    transition: height 0.3s linear;

    overflow: hidden;
    text-overflow: ellipsis;
}

.characteristics__composition p {
    height: fit-content;
    min-height: 100%;
}

.characteristics__data-arrow {
    width: 1vw;
    height: 0.68vw;
    margin-bottom: 0.26vw;
    align-self: flex-end;
    flex-shrink: 0;

    background: no-repeat url('../../svg/arrow-composition-down.svg');
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

.characteristics__data-arrow[data-state="active"] {
    transform: rotate(180deg);
}

.characteristics__wr-available {
    display: flex;
    width: 100%;
    justify-content: space-between;

    color: #FF7A00;
}

.characteristics__available-item {
    display: none;
}

.characteristics__available_active {
    display: block;
}

.characteristics__amount {
    text-align: right;
}

.product__price-buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.product__wr-price {
    margin-top: 0;
    margin-right: 1%;
}

.product__price {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
    gap: 0.94vw;
}

.product__wr-price-current {
    font-family: 'Play';
    font-size: 1.46vw;
    font-weight: 400;
    
    color: #671993;
}

.product__wr-price-old {
    position: relative;

    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 400;

    color: #615F5D;
}

.product__wr-price-old::after {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;

    width: 133%;
    height: 1px;

    background: #505050;

    transform: translate(-50%, -50%) rotate(-15deg);
}

.characteristics__price_m {
    display: none;
}

.product__buttons {
    margin-top: 1.4vw;
}

.product__activity-list {
    width: 100%;
}

.product__activity-item {
    display: none;
}

.product__activity_active {
    display: grid;
}

.product__activity-buy {
    grid-template-columns: 1fr 1fr;
}

.product__wr-add {
    display: none;
    gap: 0.36vw;
    justify-self: start;
    grid-column: 1;
}

.product__wr-add_active {
    display: flex;
}

.product__add-piece {
    display: grid;
    place-items: center;
    width: 2.60vw;
    height: 2.08vw;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 400;

    color: #fff;
    border: 1px solid #FFF;
    background-color: #4D96AB;

    cursor: pointer;
}

.product__decrement::before {
    content: "-";
}

.product__added-pieces {
    width: 3.49vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;
    
    color: #726B68;
    border: none;
    outline: none;
}

.product__increment::before {
    content: "+";
}

.product__button {
    display: flex;
    height: 2.08vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    background-color: #4D96AB;
    border-radius: 0.42vw;
    border: none;
    outline: none;

    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    user-select: none;
    cursor: pointer;
}

.product__buy,
.product__in-basket {
    display: none;
    width: 86.2%;
    justify-self: end;
    grid-column: 2;
}

.product__in-basket {
    background-color: #671993;
}

.product__in-basket > span:last-child {
    font-size: 0.73vw;
}

.product__buy_active {
    display: flex;
}

.product__inform,
.product__communication {
    width: 37.7%;
    justify-self: end;
}

.product__wr-maybe {
    display: flex;
    justify-content: space-between;
    padding-left: 5.33%;
}

.product__maybe {
    width: 44.02%;
}

.product__maybe-buy {
    width: 47.7%;

    pointer-events: none;
}

.product__zoom-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    place-items: center;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 100000;
}

.product__zoom-cover_active {
    display: grid;
}

.product__zoom-wr-slider {
    position: relative;
    width: 30.36vw;
    height: 41.77vw;
}

.product__zoom-image {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;
}

.product__zoom-arrow {
    position: absolute;
    top: 50%;

    width: 1.46vw;
    height: 2.92vw;

    filter: drop-shadow(0px 0.21vw 0.21vw rgba(0, 0, 0, 0.25));

    transition: transform 0.15s linear;

    cursor: pointer;
}

.product__zoom-arrow:hover {
    transform: scale(1.2) translateY(-50%);
}

.product__zoom-arrow_prev {
    left: -50%;

    background: no-repeat url('../../svg/zoom-arrow-prev.svg');
    background-size: contain;
    background-position: center;

    transform: translateY(-50%);
}

.product__zoom-arrow_next {
    right: -50%;

    background: no-repeat url('../../svg/zoom-arrow-next.svg');
    background-size: contain;
    background-position: center;

    transform: translateY(-50%);
}

.zoom__close {
    position: absolute;
    top: 1.56vw;
    right: 1.56vw;

    height: 1.56vw;
    width: 1.56vw;

    background: no-repeat url('../../svg/close-zoom.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

/* END Карточка товара со слайдером */


/* START Отзывы и описание */

.product-desc {
    width: 71%;
    margin-top: 1.67vw;
}

#product-desc__controll {
    display: none;
}

.product-desc__controll {
    display: flex;
    gap: 0.52vw;
}

.product-desc__button {
    display: grid;
    width: 12.29vw;
    height: 2.08vw;
    place-items: center;
    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    background: #4D96AB;
    border-radius: 0.42vw;
    box-shadow: -0.21vw 0.21vw 0.42vw 0px #9AA4A7;
    
    user-select: none;
    cursor: pointer;
}

.product-desc__button.product-desc__button_active {
    background: #671993;

    pointer-events: none;
}

.product-desc__wr-content {
    margin-top: 2.08vw;
}

.product-desc__content {
    display: none;
    border-radius: 0.52vw;
    background: #EEE;
    box-shadow: 
        1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 
        0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.product-desc__content-about {
    padding: 2.08vw 2.40vw 3.80vw 1.41vw;
}

.product-desc__content-about.product-desc__content_active {
    display: block;
}
.product-desc__content-review.product-desc__content_active {
    display: flex;
}

.package__title {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 700;
    text-align: center;

    color: #000;
}

.package__tabs-list {
    display: flex;
    margin-top: 1.15vw;
    justify-content: center;
    column-gap: 1.56vw;
    row-gap: 1vw;
    flex-wrap: wrap;
}

.package__tabs-item {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 700;
    text-decoration: underline;

    color: #615F5D;

    cursor: pointer;
}

.package__tabs-item_active {
    color: #000;
}

.product-desc__wr-title {
    margin-top: 2.66vw;
} 
.product-desc__wr-title h2 { 
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 700;
    text-align: center;

    color: #615F5D;
}

.product-desc__text {
    display: flex;
    margin-top: 1.41vw;
    flex-direction: column;
    gap: 1.41vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;

    color: #505050;
}


.package__content-list {
    margin-top: 4.11vw;
}

.package__content-item {
    display: none;
}

.package__content-item_active {
    display: block;
}

.package__table-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4.11vw;
    justify-content: space-between;
    padding-left: 1.77vw;
    padding-right: 1.77vw;
    padding-bottom: 2.08vw;
}

.package__table-item {
    width: 47.44%;
}

.package__table-wr-title {
    padding-bottom: 0.68vw;

    border-image: linear-gradient(to right, #6AE9FB 0%, #2F5F6D 100%) 1 / 0 0 0.10vw;
}

.package__table-title {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 700;
    text-align: center;
    
    color: #000;
}

.package__properties-item {
    position: relative;

    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.30vw;
    padding-top: 0.68vw;
    padding-right: 1.20vw;
    padding-bottom: 0.68vw;
    padding-left: 1.20vw;
}

.package__properties-item_milk-system {
    align-items: center;
}

.package__properties-text {
    font-family: 'Play';
    font-size: 0.96vw;
    font-weight: 400;

    color: #000;
}

.package__property {
    justify-self: start;

    white-space: nowrap;
}

.package__value {
    justify-self: end;
    text-align: right;
}

.package__value_fn {
    padding-top: 0.16vw;
}

.package__value_fn,
.package__value_milk-system {
    font-size: 0.75vw;
}

.package__note-icon {
    position: absolute;
    top: -3px;
    right: -3.7%;

    width: 1.09vw;
    height: 1.09vw;

    background: no-repeat url('../../svg/notes-pop-up.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.package__note-icon > input {
    display: none;
}

.package__note-content {
    position: absolute;
    top: -40px;
    right: 2px;
    z-index: 1;

    width: 8.94vw;
    height: 2.24vw;
    padding-top: 38.3%;
    padding-right: 26%;

    font-family: 'Play';
    font-size: 0.47vw;
    font-weight: 400;
    text-align: right;

    color: #FF7A00;
    clip-path: polygon(30% 1%, 100% 0, 100% 61%, 30% 62%, 0 100%);
    background-color: #fff;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));

    transition: opacity 0.2s linear;

    transform: translate(100%, 0);

    visibility: hidden;
    opacity: 0;
}

.package__note-icon > input:checked + .package__note-content {
    visibility: visible;
    opacity: 1;
}

.prices__list {
    display: flex;
    padding-top: 1.8vw;
    flex-wrap: wrap;
    column-gap: 1.82vw;
    row-gap: 1.82vw;
}

.prices__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices__link-icon {
    width: 2.60vw;
    height: 3.49vw;

    background: no-repeat url('../../svg/product-card-description-pdf.svg');
    background-size: contain;
    background-position: center;
    filter: drop-shadow(3px 3px 5.5px rgba(0, 0, 0, 0.25));
}

.prices__link-title {
    margin-top: 0.26vw;

    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;

    color: #615F5D;
}

.product-desc__content-review {
    padding-top: 1.51vw;
    padding-bottom: 2.14vw;
    flex-direction: column;
    align-items: center;
}

.product-desc__add-review {
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-left: 6.66%;
    gap: 0.52vw;

    font-family: 'Roboto';
    font-size: 0.73vw;
    font-weight: 500;
    line-height: 0.5;

    color: #5D5B58;

    cursor: pointer;
}

.product-desc__add-review::before {
    content: "";

    display: inline-block;
    width: 1.56vw;
    height: 1.56vw;

    background: no-repeat url('../../svg/write-review.svg');
    background-position: center;
    background-size: contain;
}

.reviews__list {
    display: flex;
    width: 70.1%;
    margin-top: 1.35vw;

    row-gap: 1.46vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews__item {
    width: 48%;
    min-height: 14.06vw;
    padding: 1.04vw;

    border-radius: 1.04vw;
    background: #FFF;
}

.reviews__head-list {
    display: flex;
    align-items: center;
}

.reviews__avatar {
    width: 3.33vw;
    height: 3.33vw;
    flex-shrink: 0;

    background: no-repeat url('../../svg/review-standart-avatar.svg');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.reviews__info {
    margin-left: 0.57vw;
    flex-shrink: 0;
}

.reviews__name {
    font-family: 'Roboto';
    font-size: 0.94vw;
    font-weight: 700;
    letter-spacing: 0.0047vw;
    
    color: #212353;
}

.reviews__date {
    font-family: 'Roboto';
    font-size: 0.73vw;
    font-weight: 500;
    letter-spacing: 0.0073vw;

    color: #C2C2C2;
}

.reviews__stars {
    align-self: flex-start;
    flex-grow: 1;
}

.reviews__stars-list {
    display: flex;
    gap: 0.26vw;
    justify-content: flex-end;
}

.reviews__stars-item {
    height: 1.67vw;
    width: 1.67vw;

    background: no-repeat url('../../svg/star-grey.svg');
    background-position: center;
    background-size: contain;
}

.reviews__content {
    margin-top: 0.99vw;
}

.reviews__content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    
    
    font-family: 'Roboto';
    font-size: 0.94vw;
    font-weight: 400;
    
    color: #4B5D68;

    overflow: hidden;
}

.reviews__pagination-list {
    display: flex;
    margin-top: 1.88vw;
    gap: 0.26vw;
}

.reviews__pagination-item {
    display: flex;
    height: 1.67vw;
    width: 1.67vw;
    align-items: center;
    justify-content: center;

    
    font-family: "Open Sans";
    font-size: 0.68vw;
    font-weight: 600;
    
    color: #333;
    border-radius: 0.42vw;
    border: 1px solid #F1F1F1;
    background-color: #FFF;

    cursor: pointer;
}

.reviews__pagination_active {
    background: #671993;
    color: #FFF;

    pointer-events: none;
}

.reviews__pagination_start {
    background-image: url('../../svg/reviews-pagination-arrow-start.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 0.42vw;
}

.reviews__pagination_prev {
    background-image: url('../../svg/reviews-pagination-arrow-prev.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 0.42vw;
}

.reviews__pagination_next {
    background-image: url('../../svg/reviews-pagination-arrow-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 0.42vw;
}

.reviews__pagination_end {
    background-image: url('../../svg/reviews-pagination-arrow-end.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 0.42vw;
}

#switcher-reviews-modal {
    display: none;
}

.reviews__modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    
    display: none;
    justify-content: center;
    height: 100%;

    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
}

#switcher-reviews-modal:checked + .reviews__modal-cover {
    display: flex;
}

.reviews__modal {
    position: sticky;
    top: 0.52vw;

    width: 31.43%;
    height: fit-content;
    margin-top: 0.3vw;
    padding-top: 1.30vw;
    padding-right: 1.30vw;
    padding-bottom: 3.13vw;
    padding-left: 1.30vw;

    border-radius: 0.52vw;
    background: #FFF;
    box-shadow: 
        0px 0px 0.83vw 0.16vw rgba(0, 0, 0, 0.25), 
        0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);
}

.reviews__modal-wr-close {
    display: flex;
    width: 100%;
    justify-content: end;
}

.reviews__modal-close {
    height: 1.56vw;
    width: 1.56vw;

    background: no-repeat url('../../svg/icon-close-green.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.reviews__modal-wr-title {
    padding-top: 1.09vw;
}

.reviews__modal-title {
    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

.reviews__form {
    padding-top: 2.14vw;
    padding-right: 0.36vw;
    padding-left: 0.36vw;
}

.reviews__modal-stars-list {
    display: flex;
    justify-content: center;
    gap: 1.56vw;
}

.reviews__modal-stars-item {
    position: relative;
}

.reviews__modal-wr-star input {
    position: absolute;
    top: -1px;
    left: -1px;

    height: 0;
    width: 0;

    visibility: hidden;
    overflow: hidden;
}

.reviews__modal-star {
    height: 1.98vw;
    width: 1.98vw;

    background: no-repeat url('../../svg/star-grey.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.reviews__stars_active {
    background: no-repeat url('../../svg/star-violet.svg');
    background-position: center;
    background-size: contain;
}

.reviews__modal-wr-text {
    padding-top: 2.50vw;
}

.reviews__modal-wr-text textarea {
    width: 100%;
    height: 8.28vw;
    padding: 0.78vw;
    resize: none;

    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;

    color: #6d6c6c;
    border-radius: 0.42vw;
    border: 1px solid #F6F6F6;
    outline: none;
    background: #F6F6F6;
}
.reviews__modal-wr-text > textarea:focus {
    border: 1px solid #9b9a9a;
}

.reviews__modal-wr-text > textarea::placeholder {
    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;

    color: #858585; 
}
.reviews__modal-wr-text > textarea:focus::placeholder {
    visibility: hidden;
}

.reviews__modal-input-group {
    display: flex;
    flex-direction: column;
    gap: 0.83vw;
    padding-top: 1.25vw;
}

.reviews__modal-label {
    display: flex;
    flex-direction: column;
    gap: 0.31vw;
}

.reviews__modal-input-name {
    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;

    color: #858585;
}

.reviews__modal-label[invalid] > .reviews__modal-input-name {
    display: none;
}

.reviews__modal-input-error {
    display: none;

    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;

    color: #F00;
}

.reviews__modal-label[invalid] > .reviews__modal-input-error {
    display: block;
}

.reviews__modal-input {
    width: 100%;
    height: 2.03vw;
    padding-left: 0.78vw;
    padding-right: 0.78vw;

    font-family: 'Play';
    font-size: 0.73vw;
    font-weight: 400;

    color: #6d6c6c;
    border-radius: 0.21vw;
    border: 1px solid #CFCFCF;
    background: #FFF;
}
.reviews__modal-input:focus {
    border: 1px solid #9b9a9a;
    outline: none;
}

.reviews__modal-label[invalid] > .reviews__modal-input {
    border: 1px solid #F00;
}

.reviews__modal-wr-submit {
    display: none;
    padding-top: 2.03vw;
}

.reviews__modal-submit_active {
    display: block;
}

.reviews__modal-submit {
    width: 100%;
    height: 2.60vw;

    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;

    color: #FFF;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}

.reviews__captcha {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 1.51vw;
}

.reviews__captcha_active {
    display: flex;
}

.reviews__captcha-wr-img {
    width: 5.99vw;
    height: 2.60vw;
}

.reviews__captcha-img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
    object-position: center;
}

.reviews__captcha-wr-input {
    padding-top: 0.99vw;
}

.reviews__captcha-input {
    width: 5.99vw;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;

    font-family: 'Roboto';
    font-size: 1vw;
    font-weight: 500;
    text-align: center;

    border: none;
    outline: none;
    border-bottom: 0.10vw solid #5A87BC;
    caret-color: #5A87BC;
    color: #5A87BC;
}

.reviews__captcha-wr-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    padding-top: 1.82vw;
}

.reviews__captcha-button {
    font-family: 'Roboto';
    font-size: 0.73vw;
    font-weight: 500;

    color: #5A87BC;
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}

.reviews__captcha-button:last-child {
    text-transform: uppercase;
}

.reviews__response-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    place-items: center;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);

    z-index: 100000;
}

.reviews__response_active {
    display: grid;
}

.reviews__response {
    display: flex;
    width: 18.23vw;
    height: 15.63vw;
    padding: 1.04vw;
    flex-direction: column;
    align-items: center;

    border-radius: 0.52vw;
    background: #FFF;
    box-shadow: 
        0px 0px 0.83vw 0.16vw rgba(0, 0, 0, 0.25), 
        0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);
}

.reviews__response-icon {
    width: 4.69vw;
    height: 4.69vw;
    margin-top: 1.35vw;
}

.reviews__response-icon_succ {
    background: no-repeat url('../../svg/reviews-success.svg');
    background-size: contain;
    background-position: center;
}

.reviews__response-icon_err {
    background: no-repeat url('../../svg/reviews-error.svg');
    background-size: contain;
    background-position: center;
}

.reviews__modal-text {
    margin-top: 1.72vw;
}

.reviews__modal-text p {
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

/* END Отзывы и описание */



/* START Вам может быть интересно */

.interesting {
    width: 85%;
    margin-top: 5.68vw;
    margin-bottom: 5.31vw;
}

.interesting__wr-title h2 {
    font-family: 'Play';
    font-size: 1.88vw;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

.interesting-sl {
    margin-top: 1.9vw;

    filter: drop-shadow(-1vw 1vw 2vw rgba(0, 0, 0, 0.18));

    --timing: 0.4s;
}

.interesting-sl__wrapper {
    height: 27vw;
    width: fit-content;
    margin: 0 auto;
    align-items: center;

    transition-timing-function: linear !important;
}

.interesting-sl__slide {
    display: flex;
    height: 79.1%;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1.04vw;

    border: 1px solid #DEDBD3;
    background: #EEE;

    transition: 
        height var(--timing) linear, 
        width var(--timing) linear, 
        padding-bottom var(--timing) linear,
        box-shadow var(--timing) linear,
        transform var(--timing) linear;
}




@media(min-width: 962px) {
    .interesting-sl__slide.swiper-slide-active {
        z-index: 2;
        
        padding-bottom: 1.35vw;
    
        box-shadow: 0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);

        transform: scale(1.099);
    }
}

.interesting-sl__wr-img {
    width: 42%;
    margin: 0 auto;

    transition: width var(--timing) linear;
}

@media(min-width: 962px) {
    .swiper-slide-active .interesting-sl__wr-img {
        width: 46.4%;
    }
}

.interesting-sl__wr-img img {
    height: 100%;
    width: 100%;
    
    filter: drop-shadow(-4px 2px 12px rgba(0, 0, 0, 0.5));

    object-fit: contain;
    object-position: bottom;

}

.interesting-sl__wr-title {
    margin-top: 2.3vw;

    transition: margin-top var(--timing) linear;
}

@media(min-width: 962px) {
    .swiper-slide-active .interesting-sl__wr-title {
        margin-top: 1.76vw;
    }
}

.interesting-sl__wr-title h2 {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;

    color: #000;

    transition: font-size var(--timing) linear;
}

@media(min-width: 962px) {
    .swiper-slide-active .interesting-sl__wr-title h2 {
        font-size: 1.25vw;
    }
}

.interesting-sl__wr-price {
    transition: margin-top var(--timing) linear;
}

@media(min-width: 962px) {
    .swiper-slide-active .interesting-sl__wr-price {
        margin-top: 0.4vw;
    }
}

.interesting-sl__wr-price p {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;

    color: #671993;

}

.interesting-sl__wr-button {
    margin-top: 0.42vw;

    transition: margin-top var(--timing) linear;
}

@media(min-width: 962px) {
    .swiper-slide-active .interesting-sl__wr-button {
        margin-top: 0.78vw;
    }
}

.interesting-sl__wr-button a {
    display: grid;
    place-items: center;
    width: 8.75vw;
    height: 2.60vw;
    margin: 0 auto;
    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.42vw 0px #9AA4A7;

    transition: width var(--timing) linear;
}

@media(min-width: 962px) {
    .swiper-slide-active .interesting-sl__wr-button a {
        width: 10.42vw;
    }
}

.interesting-sl__arrows {
    display: flex;
    margin-top: 1vw;
    gap: 1.28vw;
    justify-content: center;
}

.interesting-sl__arrow {
    width: 2.40vw;
    height: 0.73vw;

    cursor: pointer;
}

.interesting-sl__prev {
    background: no-repeat url('../../svg/arrow-promo-slider-prev.svg');
    background-size: 100% auto;
    background-position: center;
}

.interesting-sl__next {
    background: no-repeat url('../../svg/arrow-promo-slider-next.svg');
    background-size: 100% auto;
    background-position: center;
}










@media(max-width: 961px) {
    .card-wrapper {
        margin-top: 8vw;
    }
}

@media(max-width: 961px) {
    .product {
        width: 100%;
        padding-bottom: 0;
        flex-direction: column;
        align-items: center;

        border-radius: 0;
        background-color: #EEE;
        box-shadow: none;
    }
}

@media(max-width: 961px) {
    .product__wr-images {
        width: 100%;
        padding-top: 0;
    }
}

@media(max-width: 961px) {
    .product__wr-slider {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media(max-width: 961px) {
    .product__new {
        top: 2.5vw;
        left: 5%;
        z-index: 2;

        width: 26.67vw;
        height: 22.93vw;
    }
}

@media(max-width: 961px) {
    .product__slider {
        height: 90.8vw;
        padding-top: 16.53vw;
        padding-bottom: 12.80vw;
    }
}

@media(max-width: 961px) {
    .product__slide {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 961px) {
    .product__slide img {
        width: 49.87%;

        filter: drop-shadow(-2vw 2vw 4vw rgba(0, 0, 0, 0.2));
    }

    .product__slide > img:hover {
        transform: initial;
    }
}

@media(max-width: 961px) {
    .product__favorites {
        top: 2.5vw;
        right: 5.9%;

        width: 8vw;
        height: 8vw;
    }
}

@media(max-width: 961px) {
    .product__goods-wr-arrow_mobile {
        position: absolute;
        top: 50%;
        z-index: 3;

        display: block;
        width: 5.73vw;
        height: 9.07vw;

        transform: translateY(-50%);
    }

    .product__goods-wr-arrow_mobile-prev {
        left: 4.7%;

        background: no-repeat url('../../svg/card-product-arrow-prev.svg');
        background-position: center;
        background-size: auto 100%;
    }
    .product__goods-wr-arrow_mobile-next {
        right: 4.7%;

        background: no-repeat url('../../svg/card-product-arrow-next.svg');
        background-position: center;
        background-size: auto 100%;
    }
}

@media(max-width: 961px) {
    .product__wr-thumbs {
        display: none;
    }
}

@media(max-width: 961px) {
    .product__thumbs {
        height: 30.93vw;
    }
}

@media(max-width: 961px) {
    .product__goods-wr-arrow {
        display: none;
    }
}

@media(max-width: 961px) {
    .product__wr-info {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 961px) {
    .product__wr-title {
        display: none;
    }

    .product__wr-title_m {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .product__title_m {
        font-family: 'Play';
        font-weight: 700;
        font-size: 5.33vw;
        text-align: center;

        color: #2F5F6D;
    }
}

@media(max-width: 961px) {
    .characteristics__price_m {
        display: flex;
        margin-top: 5.07vw;
        justify-content: center;
        gap: 4vw;
    }

    .product__wr-price-current {
        font-size: 7.47vw;
    }

    .product__wr-price-old {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .product__tab-button_m {
        display: grid;
        place-items: center;

        height: 13.33vw;

        font-family: 'Play';
        font-size: 5.33vw;
        font-weight: 400;

        border-bottom: 1px solid #4D96AB;
        color: #2F5F6D;
        background-color: #eee;
    }

    .product__char-tab-button_m {
        margin-top: 4.27vw;

        border-top: none;
    }

    .product__tab-active {
        color: #fff;
        background: linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
    }
}

@media(max-width: 961px) {
    .product__characteristics {
        display: flex;
        height: 0;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 4.5%;
        padding-left: 4.5%;
        flex-direction: column;

        transition: 
            height 0.3s linear, 
            padding-top 0.3s linear,
            padding-bottom 0.3s linear;

        overflow: hidden;
    }
}

@media(max-width: 961px) {
    .characteristics__item {
        height: fit-content;
        padding-bottom: 6.93vw;
    }

    .characteristics__item:not(:first-child) {
        margin-top: 0;
        padding-top: 1.04vw;
    }
    .characteristics__item:first-child {
        padding-top: 7.20vw;
    }

    .characteristics__item:last-child {
        padding-bottom: 14.13vw; 
    }
}

@media(max-width: 961px) {
    .characteristics__title {
        min-width: 50%;
        font-size: 4.27vw;
    }

    .characteristics__available-title {
        display: flex;
        align-items: end;
    }
}

@media(max-width: 961px) {
    .characteristics__data {
        font-size: 3.47vw;

        display: flex;
        align-items: center;
    }

    .characteristics__composition {
        display: block;
        -webkit-line-clamp: initial;
        -webkit-box-orient: initial;
        height: auto;
        transition: height 0.3s linear;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .characteristics__data-arrow {
        display: none;
    }
}

@media(max-width: 961px) {
    .characteristics__types-list {
        column-gap: 5.60vw;
    }
}

@media(max-width: 961px) {
    .characteristics__types-item {
        width: 6.67vw;
        height: 6.67vw;
    }
}

@media(max-width: 961px) {
    .characteristics__types-body {
        font-size: 3.20vw;
    }
}

@media(max-width: 961px) {
    .characteristics__wr-available {
        align-items: end;
    }
}

@media(max-width: 961px) {
    .characteristics__available-item[data-type="awaiting"] {
        width: min-content;
    }
}

@media(max-width: 961px) {
    .product__price-buttons {
        display: none;
    }
}

@media(max-width: 961px) {
    .zoom__close {
        top: 3.56vw;
        right: 3.56vw;
    
        height: 6.56vw;
        width: 6.56vw;
    }
}

@media(max-width: 961px) {
    .product-desc {
        width: 100%;
        margin-top: 0;
    }
}

@media(max-width: 961px) {
    .product-desc__controll {
        display: none;
    }
}

@media(max-width: 961px) {
    .product-desc__wr-content {
        margin-top: 0;
    }
}

@media(max-width: 961px) {
    .product-desc__content {
        display: block;
        height: 0;

        border-radius: initial;
        background: #EEE;
        box-shadow: none;

        overflow: hidden;
    }

    .product-desc__content-about {
        display: block;
        padding-top: 0;
        padding-right: 5.33vw;
        padding-bottom: 0;
        padding-left: 5.33vw;

        transition: 
            height 0.3s linear,
            padding-top 0.3s linear,
            padding-bottom 0.3s linear;
    }
}

@media(max-width: 961px) {
    .package__wr-title {
        padding-top: 5.7vw;
    }   
}

@media(max-width: 961px) {
    .package__title {
        font-size: 4.27vw;
    }
}

@media(max-width: 961px) {
    .package__tabs-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        margin: 0 auto;
        padding-top: 5.60vw;
        column-gap: 4.80vw;
        row-gap: 5.60vw;
        flex-wrap: wrap;
    } 
}

@media(max-width: 961px) {
    .package__tabs-item {
        justify-self: center;

        font-size: 3.73vw;
    }  
}

@media(max-width: 961px) {
    .product-desc__wr-title {
        padding-top: 6.40vw;
        margin-top: 0;
    }

    .product-desc__wr-title h2 {
        font-size: 5.33vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .product-desc__text {
        margin-top: 0;
        padding-top: 8vw;
        padding-bottom: 13.87vw;
        gap: 7.5vw;
        font-size: 5.33vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .package__content-list {
        margin-top: 0;
    }
}

@media(max-width: 961px) {
    .package__table-list {
        row-gap: 0;
        justify-content: initial;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 17.5vw;
    }
}

@media(max-width: 961px) {
    .package__table-item {
        width: 100%;
        padding-top: 10.13vw;
    }

    .package__table-item:first-child {
        padding-top: 0;
    }
}

@media(max-width: 961px) {
    .package__table-wr-title {
        padding-bottom: 4.53vw;
    
        border-image: linear-gradient(to right, #6AE9FB 0%, #2F5F6D 100%) 1 / 0 0 0.53vw;
    }
}

@media(max-width: 961px) {
    .package__table-title {
        font-size: 4.27vw;
        text-align: left;
    }
}

@media(max-width: 961px) {
    .package__properties-item {
        padding-top: 3.20vw;
        padding-right: 6.13vw;
        padding-bottom: 3.20vw;
        padding-left: 6.13vw;
    }
}

@media(max-width: 961px) {
    .package__properties-item_milk-system {
        align-items: initial;
    }
}

@media(max-width: 961px) {
    .package__properties-text {
        font-size: 2.67vw;
    }
}

@media(max-width: 961px) {
    .package__value_fn {
        padding-top: 0;
    }
}

@media(max-width: 961px) {
    .package__value_fn,
    .package__value_milk-system {
        font-size: 2.67vw;
    }
}

@media(max-width: 961px) {
    .package__note-icon {
        display: none;
    }
}

@media(max-width: 961px) {
    .package__note-content {
        display: none;
    }
}

@media(max-width: 961px) {
    .prices__list {
        padding-top: 19vw;
        padding-bottom: 19vw;
    }
}

@media(max-width: 961px) {
    .prices__link-icon {
        width: 13.33vw;
        height: 17.87vw;
    }
}

@media(max-width: 961px) {
    .prices__link-title {
        margin-top: 1.33vw;

        font-size: 3.73vw;
    }
}

@media(max-width: 961px) {
    .product-desc__content-review {
        display: flex;
        padding-top: 0;
        padding-bottom: 0;

        transition: 
            height 0.3s linear,
            padding-top 0.3s linear,
            padding-bottom 0.3s linear;
    }
}

@media(max-width: 961px) {
    .product-desc__add-review {
        margin-left: 7.20vw;
        padding-top: 5.60vw;
        gap: 2.67vw;
        font-size: 3.73vw;
    }

    .product-desc__add-review::before {
        content: "";

        width: 8vw;
        height: 8vw;
    }
}

@media(max-width: 961px) {
    .reviews__list {
        width: 89.1%;
        margin-top: 0;
        padding-top: 5.33vw;
        flex-direction: column;
        row-gap: 2.67vw;
        justify-content: initial;
        flex-wrap: nowrap;
    }
}

@media(max-width: 961px) {
    .reviews__item {
        width: 100%;
        min-height: 41.87vw;
        padding: 5.87vw 4.80vw 5.87vw 2.13vw;

        border-radius: 0;
        background: #FFF;
        box-shadow: 0 0 1.8vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 961px) {
    .reviews__avatar {
        width: 12.53vw;
        height: 12.53vw;
    }
}

@media(max-width: 961px) {
    .reviews__info {
        margin-left: 2.13vw;
    }
}

@media(max-width: 961px) {
    .reviews__name {
        font-size: 4.27vw;
        font-weight: 700;
        letter-spacing: initial;
    }
}

@media(max-width: 961px) {
    .reviews__date {
        font-size: 2.93vw;
        letter-spacing: initial;
    }
}

@media(max-width: 961px) {
    .reviews__stars-list {
        margin-top: 2.7vw;
        gap: 0.53vw;
    }
}

@media(max-width: 961px) {
    .reviews__stars-item {
        height: 5.07vw;
        width: 5.07vw;
    }
}

@media(max-width: 961px) {
    .reviews__content {
        margin-top: 0;
        margin-left: 19%;
    }
}

@media(max-width: 961px) {
    .reviews__content p {
        font-size: 3.47vw;
    }
}

@media(max-width: 961px) {
    .reviews__pagination-list {
        margin-top: 0;
        padding-top: 13.87vw;
        padding-bottom: 17.07vw;
        gap: 2.13vw;
    }
}

@media(max-width: 961px) {
    .reviews__pagination-item {
        height: 9.33vw;
        width: 9.33vw;

        font-size: 3.47vw;

        border-radius: 2.13vw;
        box-shadow: 0 0 1.8vw rgba(0, 0, 0, 0.25);
    }

    .reviews__pagination-item:nth-child(5n) {
        display: none;
    }
}

@media(max-width: 961px) {
    .reviews__pagination_start,
    .reviews__pagination_prev,
    .reviews__pagination_next,
    .reviews__pagination_end {
        background-size: auto 2.4vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-cover {
        position: absolute;
        place-items: center;
    }
}

@media(max-width: 961px) {
    .reviews__modal {
        position: static;
        top: 144.52vw;

        width: 89.34%;
        margin-top: -30.3vw; /*2.3vw*/
        padding-top: 6.67vw;
        padding-right: 5.07vw;
        padding-bottom: 8.53vw;
        padding-left: 5.07vw;

        border-radius: 2.13vw;
        background: #FFF;
        box-shadow: 
            0px 0px 4.27vw 0.80vw rgba(0, 0, 0, 0.25), 
            0px 0px 8vw 2.13vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 961px) {
    .reviews__modal-close {
        height: 6.67vw;
        width: 6.67vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-wr-title {
        padding-top: 6.67vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-title {
        font-size: 6.40vw;
    }
}

@media(max-width: 961px) {
    .reviews__form {
        padding-top: 7.20vw;
        padding-right: 0;
        padding-left: 0;
    }
}

@media(max-width: 961px) {
    .reviews__modal-stars-list {
        gap: 2.67vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-star {
        height: 9.07vw;
        width: 9.07vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-wr-text {
        padding-top: 7.47vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-wr-text textarea {
        height: 42.40vw;
        padding: 3.20vw 4.27vw;

        font-size: 3.4vw;

        border-radius: 2.13vw;
    }
    .reviews__modal-wr-text > textarea::placeholder {
        font-size: 2.67vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-input-group {
        padding-top: 6.13vw;
        gap: 5.07vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-label {
        gap: 1.60vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-input-name {
        font-size: 3.73vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-input {
        height: 10.40vw;
        padding-left: 0.78vw;
        padding-right: 0.78vw;

        font-size: 3.4vw;

        border-radius: 1.07vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-wr-submit {
        padding-top: 0;
    }
}

@media(max-width: 961px) {
    .reviews__modal-submit {
        height: 10.67vw;

        font-size: 4.27vw;

        border-radius: 2.13vw;
        box-shadow: -1.07vw 1.07vw 2.40vw 0px #9AA4A7;
    }
}

@media(max-width: 961px) {
    .reviews__captcha {
        padding-top: 4.51vw;
    }
}

@media(max-width: 961px) {
    .reviews__captcha-wr-img {
        width: 21vw;
        height: 8.8vw;
    }
}

@media(max-width: 961px) {
    .reviews__captcha-wr-input {
        padding-top: 3vw;
    }
}

@media(max-width: 961px) {
    .reviews__captcha-input {
        width: 21vw;
 
        font-size: 3vw;

        border-bottom: 0.53vw solid #5A87BC;
    }
}

@media(max-width: 961px) {
    .reviews__captcha-wr-buttons {
        gap: 4.5vw;
        padding-top: 5.82vw;
    }
}

@media(max-width: 961px) {
    .reviews__captcha-button {
        font-size: 3vw;
    }
}





@media(max-width: 961px) {
    .reviews__response-cover {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    
        display: none;
        place-items: center;
    
        background-color: rgba(0, 0, 0, 0.3);
    
        z-index: 100000;
    }
    
    .reviews__response_active {
        display: grid;
    }
}

@media(max-width: 961px) {
    .reviews__response {
        width: 77.33vw;
        height: 71.20vw;
        padding: 5.33vw;
    
        border-radius: 10px;
        box-shadow: 
            0px 0px 4.27vw 0.80vw rgba(0, 0, 0, 0.25), 
            0px 0px 8vw 2.13vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 961px) {
    .reviews__response-icon {
        width: 24vw;
        height: 24vw;
        margin-top: 6.93vw;
    }
}

@media(max-width: 961px) {
    .reviews__modal-text {
        margin-top: 8.80vw;
    }
    
    .reviews__modal-text p {
        font-size: 4.27vw;
    }
}





@media(max-width: 961px) {
    .interesting {
        width: 100%;
        margin-top: 15.47vw;
        margin-bottom: 28vw;
    }
}

@media(max-width: 961px) {
    .interesting__wr-title h2 {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .interesting-sl {
        margin-top: 9.07vw;
        margin-left: 5.33vw;
        filter: drop-shadow(-1vw 1vw 2vw rgba(0, 0, 0, 0.18));
    }
}

@media(max-width: 961px) {
    .interesting-sl__wrapper {
        height: 70vw;
        width: fit-content;
        margin: 0 auto;
        align-items: center;
        transition-timing-function: linear !important;
    }
}

@media(max-width: 961px) {
    .interesting-sl__slide {
        padding-bottom: 4.64vw;
    }
}


@media(max-width: 961px) {
    .interesting-sl__wr-img {
        width: 49%;
        
        transition: opacity 0.3s linear;

        opacity: 0;
    }

    .interesting-sl__slide.swiper-slide-active > .interesting-sl__wr-img {
        opacity: 1;
    }
    .interesting-sl__slide.swiper-slide-next > .interesting-sl__wr-img {
        opacity: 1;
    }

    .interesting-sl__wr-img img {
        filter: drop-shadow(-4px 2px 12px rgba(0, 0, 0, 0.4));
    }
}

@media(max-width: 961px) {
    .interesting-sl__wr-title {
        transition: opacity 0.3s linear;

        opacity: 0;
    }

    .interesting-sl__slide.swiper-slide-active > .interesting-sl__wr-title {
        opacity: 1;
    }
    .interesting-sl__slide.swiper-slide-next > .interesting-sl__wr-title {
        opacity: 1;
    }

    .interesting-sl__wr-title h2 {
        font-size: 3.73vw;
    }
}

@media(max-width: 961px) {
    .interesting-sl__wr-price {
        display: none;
    }
}

@media(max-width: 961px) {
    .interesting-sl__wr-button {
        margin-top: 3.82vw;
        
        transition: opacity 0.3s linear;

        opacity: 0;
    }

    .interesting-sl__slide.swiper-slide-active > .interesting-sl__wr-button {
        opacity: 1;
    }
    .interesting-sl__slide.swiper-slide-next > .interesting-sl__wr-button {
        opacity: 1;
    }
}

@media(max-width: 961px) {
    .interesting-sl__wr-button a {
        width: 32vw;
        height: 8vw;

        font-size: 3.73vw;

        border-radius: 2.13vw;
        box-shadow: -1.07vw 1.07vw 2.40vw 0px #9AA4A7;
    }
}

@media(max-width: 961px) {
    .interesting-sl__arrows {
        display: none;
    }
}


