.prod-list{
    padding-top: 2.60vw;
}

.prod-list__title {
    font-family: 'Play';
    font-size: 1.67vw;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

.prod-list__wrapper {
    display: flex;
    padding-top: 2.24vw;
    padding-right: 7.02vw;
    padding-bottom: 6.41vw;
}

.prod-list__sidebar {
    width: 26.2%;
    padding-left: 8.54vw;
}

.filter__title {
    padding-top: 0.68vw;
    padding-bottom: 0.73vw;

    font-family: 'Play';
    font-size: 0.78vw;
    font-weight: 700;

    color: #242424;

    cursor: pointer;
}

.filter__title::before {
    content: "";

    display: inline-block;
    height: 0.42vw;
    width: 0.63vw;
    margin-right: 0.63vw;
    vertical-align: middle;

    background: no-repeat url('../../svg/filter-arrow-open-close.svg');
    background-size: contain;
    background-position: center;

    transition: transform 0.15s linear;
}

.filter__title__active::before {
    transform: rotate(180deg);
}

.filter__list {
    height: 0;
    padding-left: 0.16vw;

    transition: height 0.15s linear;

    overflow: hidden;
}

.filter__item {
    height: fit-content;
}

.filter__label {
    display: flex;
    gap: 0.42vw;
    padding-top: 0.73vw;
    padding-bottom: 0.73vw;

    cursor: pointer;
}

.filter__type-switcher {
    display: none;
}

.filter__circle {
    display: grid;
    width: 0.83vw;
    height: 0.83vw;
    place-items: center;

    border-radius: 50%;
    border: 1px solid #0F6CBD;
}

.filter__circle::after {
    content: "";

    display: none;
    height: 0.42vw;
    width: 0.42vw;

    border-radius: 50%;
    background-color: #0F6CBD;
}

.filter__type-switcher:checked + .filter__circle::after {
    display: inline-block;
}

.filters__wr-button {
    margin-top: 3.80vw;
    margin-left: 0.2vw;
}

.filters__button {
    width: 10.21vw;
    height: 2.60vw;

    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}

.filters__button:active {
    box-shadow: none;
}



.prod-list__content {
    padding-left: 4.6%;
    flex-grow: 1;
}