mixin brand_card(data)
    .brands-card(class="brands-card__" + data.title_class)
        .brands-card__arrow
        .brands-card__wr-brand
            if !data.title_card
                .brands-card__image(class="brands-card__" + data.title_class + "-img")
                    img(src=data.path alt=data.alt)
            else 
                .brands-card__wr-title
                    h2.brands-card__title #{data.title_card}

        .brands-card__line 
        .brands-card__text 
            p #{data.text}

        a.brands-card__link(href="#0" title="")