mixin label-input(lable_text, class_text, name_text, req)
    label.label-input__label
        span.label-input__label-text #{lable_text}
        if req
            span.label-input__label-error
        input.label-input__input(class=class_text type="text" name=name_text required=req) 
    