mixin textarea(lable_text, class_text, name_text)
    label.label-textarea__label
        span.label-textarea__text #{lable_text}
        textarea.label-textarea__area(class=class_text type="text" name=name_text maxlength="300") 