.bread-crumbs__wrapper {
    margin-top: 2.86vw;
    margin-left: 8.1%;
}

.card-wrapper {
    display: flex;
    margin-top: 4.17vw;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    width: 71%;
    padding-bottom: 2.81vw;

    border-radius: 0.52vw;
    background-color: #EEE;
    box-shadow: 
    1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 
    0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.product__wr-images {
    position: relative;

    display: flex;
    flex-shrink: 0;
    width: 48%;
    padding-top: 1.25vw;
    flex-direction: column;
    align-items: center;
    /* flex-grow: 1; */
    /* justify-content: center; */
}

.product__wr-slider {
    width: 51.57%;
    padding-top: 2.97vw;
    padding-bottom: 2.97vw;
}

.product__new {
    position: absolute;
    top: 0.5vw;
    left: 7%;

    display: none;
    width: 6.98vw;
    height: 6.09vw;

    background: no-repeat url('../svg/product-new.svg');
    background-size: contain;
    background-position: center;
}

.product__new_active {
    display: block;
}

.product__slide {
    opacity: 0 !important;
}
.product__slide.swiper-slide-visible {
    opacity: 1 !important;
}

.product__slide > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.product__favorites {
    position: absolute;
    top: 2.7vw;
    right: 1.6%;

    width: 1.56vw;
    height: 1.56vw;

    background: no-repeat url('../svg/favorites-heart-black.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.product__wr-thumbs {
    position: relative;
    width: 80%;
}

.product__thumbs {
    height: 8.39vw;
}

.product__thumbs-wrapper {
    width: fit-content;
    margin: 0 auto;
}

.product__thumb-slide > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}


.product__goods-wr-arrow {
    position: absolute;
    top: 50%;

    height: 1.77vw;
    width: 0.89vw;
    
    cursor: pointer;
}

.product__goods-wr-arrow-prev {
    left: 0;

    transform: translate(-100%, -50%);
}

.product__goods-wr-arrow-next {
    right: 0;

    transform: translate(100%, -50%);
}

.product__goods-arrow {
    height: 100%;
    width: 100%;

    cursor: pointer;
}


.product__goods-prev {
    background: no-repeat url('../svg/card-product-arrow-prev.svg');
    background-size: contain;
    background-position: center;
}


.product__goods-next {
    background: no-repeat url('../svg/card-product-arrow-next.svg');
    background-size: contain;
    background-position: center;
}


.product__wr-info {
    padding-top: 2.29vw;
    padding-left: 2.53%;
}

.produc__wr-title {
    width: fit-content;

    font-family: 'Play';
    font-weight: 700;
    
    color: #2F5F6D;
}

.product__title {
    font-size: 1.67vw;
}

.product__sub-title {
    font-size: 1.04vw;
    text-align: right;
}

.product__characteristics {
    margin-top: 2.71vw;
    padding-right: 9.89%;
}

.characteristics__item {
    display: flex;

    font-family: 'Play';

    color: #615F5D;
}

.characteristics__item:not(:first-child) {
    margin-top: 1.04vw;
}

.characteristics__title {
    min-width: 39%;

    font-size: 1.15vw;
    font-weight: 700;
}

.characteristics__data {
    font-size: 1.04vw;
    font-weight: 400;
}

.characteristics__wr-composition {
    display: flex;
}

.characteristics__composition {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    height: 7.51vw;

    transition: height 0.3s linear;

    overflow: hidden;
    text-overflow: ellipsis;
}

.characteristics__composition p {
    height: fit-content;
    min-height: 100%;
}

.characteristics__data-arrow {
    width: 1vw;
    height: 0.68vw;
    margin-bottom: 0.26vw;
    align-self: flex-end;
    flex-shrink: 0;

    background: no-repeat url('../svg/arrow-composition-down.svg');
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

.characteristics__data-arrow[data-state="active"] {
    transform: rotate(180deg);
}

.characteristics__wr-available {
    display: flex;
    width: 100%;
    justify-content: space-between;

    color: #FF7A00;
}

.characteristics__available-item {
    display: none;
}

.characteristics__available_active {
    display: block;
}

.characteristics__amount {
    text-align: right;
}

.characteristics__item.characteristics__buttons {
    margin-top: 1.4vw;
}

.characteristics__activity-item {
    display: none;
}

.characteristics__activity_active {
    display: grid;
}

.characteristics__item-price {
    margin-top: 0;
    margin-right: 1%;
}

.characteristics__price {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
    gap: 0.94vw;
}

.characteristics__wr-price-current {
    font-family: 'Play';
    font-size: 1.46vw;
    font-weight: 400;
    
    color: #671993;
}

.characteristics__wr-price-old {
    position: relative;

    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 400;

    color: #615F5D;
}

.characteristics__wr-price-old::after {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;

    width: 133%;
    height: 1px;

    background: #505050;

    transform: translate(-50%, -50%) rotate(-15deg);
}

.characteristics__activity-list {
    width: 100%;
}

.characteristics__activity-buy {
    grid-template-columns: 1fr 1fr;
}

.characteristics__wr-add {
    display: none;
    gap: 0.36vw;
    justify-self: start;
    grid-column: 1;
}

.characteristics__wr-add_active {
    display: flex;
}

.characteristics__add-piece {
    display: grid;
    place-items: center;
    width: 2.60vw;
    height: 2.08vw;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 400;

    color: #fff;
    border: 1px solid #FFF;
    background-color: #4D96AB;
}

.characteristics__decrement::before {
    content: "-";
}

.characteristics__added-pieces {
    width: 3.49vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;
    
    color: #726B68;
    border: none;
    outline: none;
}

.characteristics__increment::before {
    content: "+";
}

.characteristics__button {
    display: flex;
    height: 2.08vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    background-color: #4D96AB;
    border-radius: 0.42vw;
    border: none;
    outline: none;

    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    user-select: none;
    cursor: pointer;
}

.characteristics__buy,
.characteristics__in-basket {
    display: none;
    width: 86.2%;
    justify-self: end;
    grid-column: 2;
}

.characteristics__in-basket {
    background-color: #671993;
}

.characteristics__in-basket > span:last-child {
    font-size: 0.73vw;
}

.characteristics__buy_active {
    display: flex;
}

.characteristics__inform,
.characteristics__communication {
    width: 37.7%;
    justify-self: end;
}

.characteristics__wr-maybe {
    display: flex;
    justify-content: space-between;
    padding-left: 5.33%;
}

.characteristics__maybe {
    width: 44.02%;
}

.characteristics__maybe-buy {
    width: 47.7%;

    pointer-events: none;
}

.product-desc {
    width: 71%;
    margin-top: 1.67vw;
}

#product-desc__controll {
    display: none;
}

.product-desc__controll {
    display: flex;
    gap: 0.52vw;
}

.product-desc__button {
    display: grid;
    width: 12.29vw;
    height: 2.08vw;
    place-items: center;
    
    font-family: 'Play';
    font-size: 0.83vw;
    font-weight: 400;
    
    color: #FFF;
    background: #4D96AB;
    border-radius: 0.42vw;
    box-shadow: -0.21vw 0.21vw 0.42vw 0px #9AA4A7;
    
    user-select: none;
    cursor: pointer;
}

.product-desc__description {
    background: #671993;

    pointer-events: none;
}

#product-desc__controll:checked + .product-desc__controll > .product-desc__description {
    background: #4D96AB;

    pointer-events: initial;
}
#product-desc__controll:checked + .product-desc__controll > .product-desc__reviews {
    background: #671993;

    pointer-events: none;
}

.product-desc__wr-content {
    margin-top: 2.08vw;
}

.product-desc__content {
    display: none;
    border-radius: 0.52vw;
    background: #EEE;
    box-shadow: 
        1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 
        0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.product-desc__content-about {
    display: block;
    padding: 2.08vw 2.40vw 3.80vw 1.41vw;
}

#product-desc__controll:checked ~ .product-desc__wr-content > .product-desc__content-about {
    display: none;
}
#product-desc__controll:checked ~ .product-desc__wr-content > .product-desc__content-review {
    display: flex;
}

.product-desc__wr-title h2 { 
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 700;

    color: #615F5D;
}

.product-desc__text {
    display: flex;
    margin-top: 1.41vw;
    flex-direction: column;
    gap: 1.41vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;

    color: #505050;
}

.product-desc__content-review {
    padding-top: 1.51vw;
    padding-bottom: 2.14vw;
    flex-direction: column;
    align-items: center;
}

.product-desc__add-review {
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-left: 6.66%;
    gap: 0.52vw;

    font-family: 'Roboto';
    font-size: 0.73vw;
    font-weight: 500;
    line-height: 0.5;

    color: #5D5B58;
}

.product-desc__add-review::before {
    content: "";

    display: inline-block;
    width: 1.56vw;
    height: 1.56vw;

    background: no-repeat url('../svg/write-review.svg');
    background-position: center;
    background-size: contain;
}

.reviews__list {
    display: flex;
    width: 70.1%;
    margin-top: 1.35vw;

    row-gap: 1.46vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews__item {
    width: 48%;
    min-height: 14.06vw;
    padding: 1.04vw;

    border-radius: 1.04vw;
    background: #FFF;
}

.reviews__head-list {
    display: flex;
    align-items: center;
}

.reviews__avatar {
    width: 3.33vw;
    height: 3.33vw;
    flex-shrink: 0;

    background: no-repeat url('../svg/review-standart-avatar.svg');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.reviews__info {
    margin-left: 0.57vw;
    flex-shrink: 0;
}

.reviews__name {
    font-family: 'Roboto';
    font-size: 0.94vw;
    font-weight: 700;
    letter-spacing: 0.0047vw;
    
    color: #212353;
}

.reviews__date {
    font-family: 'Roboto';
    font-size: 0.73vw;
    font-weight: 500;
    letter-spacing: 0.0073vw;

    color: #C2C2C2;
}

.reviews__stars {
    align-self: flex-start;
    flex-grow: 1;
}

.reviews__stars-list {
    display: flex;
    gap: 0.26vw;
    justify-content: flex-end;
}

.reviews__stars-item {
    height: 1.67vw;
    width: 1.67vw;

    background: no-repeat url('../svg/star-grey.svg');
    background-position: center;
    background-size: contain;
}

.reviews__stars_active {
    background: no-repeat url('../svg/star-violet.svg');
    background-position: center;
    background-size: contain;
}

.reviews__content {
    margin-top: 0.99vw;
}

.reviews__content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    
    
    font-family: 'Roboto';
    font-size: 0.94vw;
    font-weight: 400;
    
    color: #4B5D68;

    overflow: hidden;
}

.reviews__read-more {
    margin-top: 1.82vw;
}

.reviews__read-more a {
    font-family: 'Roboto';
    font-size: 0.73vw;
    font-weight: 500;
    letter-spacing: 0.0073vw;

    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.13vw;
    
    color: #C2C2C2;
}

.reviews__pagination-list {
    display: flex;
    margin-top: 1.88vw;
    gap: 0.26vw;
}

.reviews__pagination-item {
    display: flex;
    height: 1.67vw;
    width: 1.67vw;
    align-items: center;
    justify-content: center;

    
    font-family: "Open Sans";
    font-size: 0.68vw;
    font-weight: 600;
    
    color: #333;
    border-radius: 0.42vw;
    border: 1px solid #F1F1F1;
    background-color: #FFF;

    cursor: pointer;
}

.reviews__pagination_start {
    background-image: url('../svg/reviews-pagination-arrow-start.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 0.42vw;
}

.reviews__pagination_prev {
    background-image: url('../svg/reviews-pagination-arrow-prev.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 0.42vw;
}

.reviews__pagination_next {
    background-image: url('../svg/reviews-pagination-arrow-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 0.42vw;
}

.reviews__pagination_end {
    background-image: url('../svg/reviews-pagination-arrow-end.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 0.42vw;
}


/* Вам может быть интересно */
.interesting {

}






@media(max-width: 961px) {
    .bread-crumbs__wrapper {
        margin-left: 5.4%;
        margin-top: 6.67vw;
    }
}

@media(max-width: 961px) {
    .card-wrapper {
        margin-top: 8vw;
    }
}

@media(max-width: 961px) {
    .product {
        width: 100%;
        padding-bottom: 0;
        flex-direction: column;
        align-items: center;

        border-radius: 0;
        background-color: #EEE;
        box-shadow: none;
    }
}

@media(max-width: 961px) {
    .product__wr-images {
        width: 100%;
        padding-top: 0;
    }
}

@media(max-width: 961px) {

}

@media(max-width: 961px) {
    .product__thumbs {
        height: 30.93vw;
    }
}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {
    .product__goods-wr-arrow {
        display: none;
    }
}