.bread-crumbs__wrapper {
    margin-top: 2.86vw;
    margin-left: 8.1%;
}

.card-wrapper {
    display: flex;
    margin-top: 4.17vw;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    width: 71%;
    padding-bottom: 2.81vw;

    background-color: #EEE;
    box-shadow: 
    1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 
    0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.product__wr-images {
    position: relative;

    display: flex;
    flex-shrink: 0;
    width: 48%;
    padding-top: 1.25vw;
    flex-direction: column;
    align-items: center;
    /* flex-grow: 1; */
    /* justify-content: center; */
}

.product__wr-slider {
    padding-top: 2.97vw;
    padding-bottom: 2.97vw;
}

.product__wr-slider {
    width: 51.57%;
}

.product__slide > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.product__wr-thumbs {
    position: relative;
    width: 80%;
}

.product__thumbs {
    height: 8.39vw;
}

.product__thumbs-wrapper {
    width: fit-content;
    margin: 0 auto;
}

/* .product__thumb-slide {
    pointer-events: none;
} */

.product__thumb-slide > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}


.product__goods-wr-arrow {
    position: absolute;
    top: 50%;

    height: 1.77vw;
    width: 0.89vw;
    
    cursor: pointer;
}

.product__goods-wr-arrow-prev {
    left: 0;

    transform: translate(-100%, -50%);
}

.product__goods-wr-arrow-next {
    right: 0;

    transform: translate(100%, -50%);
}

.product__goods-arrow {
    height: 100%;
    width: 100%;

    cursor: pointer;
}


.product__goods-prev {
    background: no-repeat url('../svg/card-product-arrow-prev.svg');
    background-size: contain;
    background-position: center;
}


.product__goods-next {
    background: no-repeat url('../svg/card-product-arrow-next.svg');
    background-size: contain;
    background-position: center;
}


.product__wr-info {
    padding-left: 2.53%;
}


@media(max-width: 961px) {
    .bread-crumbs__wrapper {
        margin-left: 5.4%;
        margin-top: 6.67vw;
    }
}