.burger__mobile-list {
    display: none;
}

/* навигация */
@media(max-width: 961px) {
    .burger__mobile-list {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;

        display: block;
      
        font-family: 'Play';

        background-color: #fff;

        transition: height 0.15s linear;
        
        z-index: 500;
    }
    
    .burger__mobile-list input { /*чекбоксы*/ 
        display: none;
    }
}

/* первый уровень */
@media(max-width: 961px) {
    .burger__mobile-item {
        display: flex;
        height: 0;
        width: 100%;
        
        transition: height 0.15s linear;

        overflow: hidden;
    }

    .burger__mobile-item-title {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        
        font-size: 4.27vw;
        font-weight: 700;

        color: #2F5F6D;
    }
}

/* второй уровень */
@media(max-width: 961px) {
    .burger__mobile-sub-item {
        display: flex;
        height: 0;
        width: 100%;

        transition: height 0.15s linear;

        overflow: hidden;
    }
}

@media(max-width: 961px) {
    .burger__mobile-sub-title {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        font-size: 4.27vw;
        font-weight: 700;
        
        color: #2F5F6D;
    }
}

/* непосредственно ссылки */
@media(max-width: 961px) {
    .burger__mobile-link-item {
        display: flex;
        height: 0;
        width: 100%;

        transition: height 0.15s linear;

        overflow: hidden;
    }

    .burger__mobile-link-item a {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        font-size: 4vw;
        font-weight: 400;

        color: #4D96AB;
    }
}

@media(max-width: 961px) {
    .burger__item_open {
        height: 10.67vw;

        border-bottom: 1px solid #268351;
    }

    .burger__item_open.burger__mobile-item:first-child {
        border-top: 0.54vw solid #268351;
    } 
}