.nav-cat__checkbox {
    display: none;
}

.nav-cat__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    transition: opacity 0.2s linear;

    opacity: 0;
    visibility: hidden;
}

.nav-cat__checkbox:checked + .nav-cat__wrapper {
    opacity: 1;
    visibility: visible;
}

.nav-cat__catalog-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.nav-cat__list {
    position: relative;
    z-index: 1;

    display: flex;
    height: 100%;
    max-height: 36.30vw;
    width: 21.5%;
    padding-left: 7.92vw;
    padding-top: 0.78vw;
    gap: 0.52vw;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
}

.nav-cat__item {
    padding-right: 1.20vw;

    cursor: pointer;
}

.nav-cat__link {
    display: inline-block;
    width: 100%;
    padding-left: 1.04vw;
    padding-top: 0.52vw;
    padding-bottom: 0.52vw;
    

    font-family: 'Play';
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;

    color: #2F5F6D;
    border-bottom: 1px solid transparent;
}

.nav-cat__item:hover > .nav-cat__link {
    border-bottom: 1px solid #671993;
}

.nav-cat__item:hover > .nav-cat__link {
    font-weight: 700;
}

.nav-cat__item-sub {
    position: absolute;
    right: 0;
    bottom: 0;
    
    height: 92.1%;
    min-width: 77%;

    box-shadow: inset 4px 0px 7px 0px rgba(0, 0, 0, 0.6);
    
    transition: opacity 0.2s linear;

    transform: translateX(100%);

    opacity: 0;
    visibility: hidden;
}

.nav-cat__item-sub:hover {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_coffee:hover ~ .nav-cat__item-sub_coffee {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_tea:hover ~ .nav-cat__item-sub_tea {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_syrups:hover ~ .nav-cat__item-sub_syrups {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_milk:hover ~ .nav-cat__item-sub_milk {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_water:hover ~ .nav-cat__item-sub_water {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_machines:hover ~ .nav-cat__item-sub_machines {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_accessories:hover ~ .nav-cat__item-sub_accessories {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_wmf:hover ~ .nav-cat__item-sub_wmf {
    opacity: 1;
    visibility: visible;
}

.nav-cat__item_different:hover ~ .nav-cat__item-sub_different {
    opacity: 1;
    visibility: visible;
}

.nav-cat__sub-list {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 1.72vw;
    padding-top: 0.83vw;
    padding-right: 4.32vw;
    flex-direction: column;
    gap: 1.04vw;

    background: rgba(255, 255, 255, 0.80);
    box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.25);
    /* box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.25),inset 3px 0px 7px 0px rgba(0, 0, 0, 0.17); */
}

.nav-cat__sub-title {
    font-family: 'Play';
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 700;

    color: #2F5F6D;
}

.nav-cat__sub-title:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.nav-cat__sub-catalog-link {
    font-family: 'Play';
    font-size: 0.78vw;
    font-style: normal;
    font-weight: 400;

    color: #2F5F6D;
}

.nav-cat__sub-catalog-link:hover {
    text-decoration: underline;
    text-underline-position: under;
}