
.favorites__heart_active {
    background: no-repeat url('../svg/favorites-heart-violet.svg');
    background-size: contain;
    background-position: center;
}



.scale1_1{
    transition: transform 0.15s linear;
}
.scale1_1:hover {
    transform: scale(1.1);
}



.scaleX1_1{
    transition: transform 0.15s linear;
}
.scaleX1_1:hover {
    transform: scaleX(1.1);
}

.scaleX1_2{
    transition: transform 0.15s linear;
}
.scaleX1_2:hover {
    transform: scaleX(1.2);
}



.stretch-to-right {
    transition: transform 0.2s linear;
}
.stretch-to-right:hover {
    transform: scaleX(1.26) translateX(10.4%);
}


.icon-scale-filter{
    transition: transform 0.15s linear, filter 0.15s linear;
}
@media(min-width: 962px) {
    .icon-scale-filter:hover {
        transform: scale(1.2);
        filter: drop-shadow(0px 0px 4px #fff);
    }
}


.hover-phone-footer {
    transition: transform 0.15s linear, filter 0.15s linear;
}
.hover-phone-footer:hover {
    filter: drop-shadow(0px 0px 4px #fff);
    transform: scale(1.07);
}



.animation-beat-heart:hover {
    animation: beating 0.5s linear;
}
@keyframes beating {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}