@font-face {
    font-family: 'Play';
    font-weight: 400;
    src: url('../fonts/play/Play-Regular.woff2') format('woff2'),
    url('../fonts/play/Play-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    font-weight: 700;
    src: url('../fonts/play/Play-Bold.woff2') format('woff2'),
    url('../fonts/play/Play-Bold.ttf') format('truetype');
    font-display: swap;
}


/* -------------------------------------------- */

@font-face { 
    font-family: 'SofiaSans';
    src: url('../fonts/sofia-sans/SofiaSansSemiCondensed-Light.woff2') format('woff2'), 
    url('../fonts/sofia-sans/SofiaSansSemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
} 

@font-face { 
    font-family: 'SofiaSans';
    src: url('../fonts/sofia-sans/SofiaSansSemiCondensed-Regular.woff2') format('woff2'),
     url('../fonts/sofia-sans/SofiaSansSemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
} 

@font-face { 
    font-family: 'SofiaSans';
    src: url('../fonts/sofia-sans/SofiaSansSemiCondensed-Bold.woff2') format('woff2'), 
    url('../fonts/sofia-sans/SofiaSansSemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
} 

/* -------------------------------------------- */

@font-face { 
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face { 
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
} 

@font-face { 
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
} 

@font-face { 
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
} 

/* -------------------------------------------- */

@font-face { 
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}