.header__wr-content {
    display: grid;

    height: 5.21vw;
    width: 100%;
    
    background: #2F5F6D;

    place-items: center;
}

.header__content {
    display: grid;
    width: 84%;

    grid-template-columns: min-content min-content 1fr;
    grid-template-rows: min-content;
    align-items: center;
}

.header__logo {
    position: relative;

    width: 9.69vw;
    height: 2.14vw;

    grid-column: 1;
    grid-row: 1;
}

.header__logo img {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;
}

.header__logo a {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.header__nav {
    display: flex;
    margin-left: 4.17vw;
    gap: 4.17vw;

    grid-column: 2;
    grid-row: 1;
}

.header__wr-catalog-button label {
    display: flex;
    width: 7.76vw;
    height: 2.97vw;
    gap: 0.36vw;
    justify-content: center;
    align-items: center;

    border: 1px solid #FAF8F1;

    transition: box-shadow 0.15s linear;

    cursor: pointer;
}

.header__wr-catalog-button a:hover {
    box-shadow: 0px 0px 0.52vw 0.10vw rgba(255, 255, 255, 0.25);
}

.header__catalog-icon {
    height: 1.04vw;
    width: 1.04vw;

    background: no-repeat url(../svg/catalog-icon.svg);
    background-position: center;
    background-size: contain;
}

.header__catalog-text {
    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;

    color: #fff;
}

.header__nav-list {
    display: flex;
    gap: 4.17vw;

    align-items: center;
}

.header__nav-item {
    position: relative;

    display: flex;

    font-family: 'Play';
    font-size: 1.04vw;
    font-weight: 400;

    color: #fff;

    justify-content: center;

    cursor: pointer;
}

.header__nav-item-underline {
    position: absolute;
    bottom: 0;

    height: 0.07vw;
    width: 0;

    background-color: #fff;

    transition: width 0.3s linear;

    translate: 0 0.78vw;
}

.header__nav-item:hover > .header__nav-item-underline {
    width: 115%;
}

.header__icons-group {
    display: flex;
    gap: 1.35vw;

    grid-row: 1;
    grid-column: 3;
    justify-self: end;
}

.header_wr-search {
    position: relative;

    width: 1.04vw; 
    height: 1.04vw;
}

.header__search-icon {
    display: block;
    height: 100%;
    width: 100%;

    background: no-repeat url('../svg/search-white.svg');
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

.header_wr-search input:checked ~ label {
    background: no-repeat url('../svg/close-white.svg');
    background-position: center;
    background-size: contain;
}

.header_wr-search [type="checkbox"] {
    display: none;
}

.header__search-line {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    color: #fff;

    transition: width 0.3s linear;

    transform: scaleX(1);
    translate: -100% 0;
    overflow: hidden;
}

.header_wr-search input:checked ~ .header__search-line {
    width: 500%;
}

.header__phone-icon {
    position: relative;

    width: 1.04vw; 
    height: 1.04vw;

    background: no-repeat url('../svg/phone-header-white.svg');
    background-position: center;
    background-size: contain;
}

.header__phone-icon a {
    position: absolute;
    top: 0;
    left: 0;
}

.header__favourite-icon {
    position: relative;

    width: 1.04vw; 
    height: 1.04vw;

    background: no-repeat url('../svg/favourites-white.svg');
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

.header__account-icon {
    position: relative;

    width: 1.04vw; 
    height: 1.04vw;

    background: no-repeat url('../svg/user-white.svg');
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

.header__basket-icon {
    position: relative;

    display: flex;
    width: 1.35vw; 
    height: 1.04vw;

    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__basket-icon_active svg path {
    fill: #6ae9fb;
}

.header__basket-counter {
    position: absolute;
    top: -39%;
    right: -23%;

    display: none;
    width: 0.94vw;
    height: 0.94vw;

    font-family: 'Play';
    font-size: 0.68vw;
    font-weight: 400;

    border-radius: 50%;
    background-color: #FF3C00;
    color: #ffffff;

}

.header__basket-icon_active > .header__basket-counter {
    display: flex;

    align-items: center;
    justify-content: center;
}





.header__wr-slider {
    position: relative;

    height: 36.30vw;

    background: #e9acd2;
}

.header__slider {
    height: 100%;
}

.header__checkbox-catalog {
    display: none;
}

.header__wr-catalog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    transition: opacity 0.2s linear;

    opacity: 0;
    visibility: hidden;
}

.header__checkbox-catalog:checked + .header__wr-catalog {
    opacity: 1;
    visibility: visible;
}

.header__wr-catalog-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.header__catalog-list {
    position: relative;
    z-index: 1;

    display: flex;
    height: 100%;
    width: 21.5%;
    padding-left: 7.92vw;
    padding-right: 1.20vw;
    padding-top: 0.78vw;
    gap: 0.52vw;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
}

.header__catalog-item {
    padding-left: 1.04vw;

    border-bottom: 1px solid transparent;

    cursor: pointer;
}

.header__catalog-item:hover {
    border-bottom: 1px solid #671993;
}

.header__catalog-link {
    display: inline-block;
    width: 100%;
    padding-top: 0.52vw;
    padding-bottom: 0.52vw;

    font-family: 'Play';
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;

    color: #2F5F6D;
}

.header__catalog-item:hover > .header__catalog-link {
    font-weight: 700;
}

.header__catalog-item-sub {
    position: absolute;
    right: 0;
    bottom: 0;
    
    height: 92.1%;
    
    transition: opacity 0.2s linear;

    transform: translateX(100%);

    opacity: 0;
    visibility: hidden;
}

.header__catalog-item_tea:hover ~ .header__catalog-item-sub-tea {
    opacity: 1;
    visibility: visible;
}

.header__sub-catalog-list {
    display: flex;
    width: fit-content;
    height: 100%;
    padding-left: 1.72vw;
    padding-top: 0.83vw;
    padding-right: 4.32vw;
    flex-direction: column;
    gap: 1.04vw;

    background: rgba(255, 255, 255, 0.80);
    box-shadow: 
        inset 3px 0px 7px 0px rgba(0, 0, 0, 0.17),
        3px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

.header__sub-catalog-title {
    font-family: 'Play';
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 700;

    color: #2F5F6D;
}

.header__sub-catalog-link {
    font-family: 'Play';
    font-size: 0.78vw;
    font-style: normal;
    font-weight: 400;

    color: #2F5F6D;
}