/* START ГЛАВНЫЙ СЛАЙДЕР */
.main__wr-slider {
    position: relative;

    height: 36.30vw;

    background: #fff;
}

.main__slider {
    height: 100%;
    width: 100%;
}

.main__slider-img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.main__slider-pagination {
    position: absolute;
    bottom: 3.80vw;
    left: 50%;
    z-index: 3;

    display: flex;
    gap: 1.04vw;

    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 0.78vw;
    height: 0.78vw;

    background: #FFF;
    border-radius: initial;

    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
}

.main__slider-arrow {
    width: 0.89vw;
    height: 1.77vw;

    cursor: pointer;
}

.main__slider-arrow.main__slider-prev {
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 2;

    transform: translateY(-50%);
}

.main__slider-arrow.main__slider-next {
    position: absolute;
    right: 10%;
    top: 50%;
    z-index: 2;

    transform: translateY(-50%);
}

/* END ГЛАВНЫЙ СЛАЙДЕР */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* START ТОВАР ДНЯ */

.goods-day {
    width: 84.87%;
    padding-top: 4.06vw;
}

.goods-day__wr-title h2 {
    font-family: 'Play';
    font-size: 1.88vw;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

.goods-day__content {
    display: flex;
    margin-top: 1.15vw;
    padding-top: 2.34vw;
    padding-right: 5.63vw;
    padding-bottom: 1.93vw;
    padding-left: 2.92vw;
    gap: 4%;

    border-radius: 0.52vw 0.52vw 0 0;
    background: #F5F5F5;
    box-shadow: 1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.goods-day__wr-img {
    position: relative;

    height: 24.53vw;
    width: 123%;
}

.goods-day__wr-img > img {
    height: 100%;
    width: 100%;

    box-shadow: 0px 0px 0.42vw 0.10vw rgba(0, 0, 0, 0.25);

    object-fit: cover;
    object-position: center;
}

.goods-day__wr-img > a {
    position: absolute;
    top: 0;
    left: 0;
}

.goods-day__wr-tm-name > h2 {
    font-family: 'Play';
    font-size: 3.33vw;
    font-style: normal;
    font-weight: 700;
    line-height: 0.68;
    text-transform: uppercase;

    color: #434343;
}

.goods-day__wr-tm-name > p {
    margin-top: 0.3vw;

    font-family: 'Play';
    font-size: 1.88vw;
    font-style: normal;
    font-weight: 700;
    
    color: #434343;
}

.goods-day__wr-tm-name > p:last-child {
    width: 45.4%;
    margin-top: 0.48vw;
    padding-top: 0.36vw;
    padding-bottom: 0.31vw;
    padding-left: 0.31vw;

    background: linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
    color: #fff;
}

.goods-day__text {
    display: flex;
    margin-top: 2.14vw;
    gap: 1.46vw;
    flex-direction: column;

    font-family: 'Play';
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;
    
    color: #615F5D;
}

/* END ТОВАР ДНЯ */


/* START ТОВАРЫ ПО АКЦИИ */

.goods-promo {
    width: 84.87%;
    padding-right: 2.92vw;
    padding-left: 2.92vw;

    border-radius: 0 0 0.52vw 0.52vw;
    background: #F5F5F5;
    box-shadow: 1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.goods-promo__wr-title > h2 {
    font-family: 'Play';
    font-size: 1.88vw;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

.goods-promo__wr-slider {
    margin-top: 1.98vw;
    padding-bottom: 1.82vw;
}

.goods-promo__slider {
    padding-top: 0.5%;
    padding-right: 0.55%;
    padding-left: 0.55%;
}

.goods-promo__slide {
    display: flex;
    padding: 1.30vw 1.30vw 2.19vw;
    /* margin-right: 15px; */

    box-shadow: 0px 0px 0.42vw 0.10vw rgba(0, 0, 0, 0.25);
}

.goods-promo__wr-slide-link > a {
    display: inline-block;
    width: 2.40vw; 
    height: 1.15vw;

    background: no-repeat url('../svg/arrow-promo-slider-link.svg');
    background-size: contain;
    background-position: center;
}

.goods-promo__wr-slide-img > img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.goods-promo__wr-slide-icons {
    margin-left: 0.99vw;
}

.goods-promo__slide-favorites {
    height: 1.56vw;
    width: 1.56vw;

    background: no-repeat url('../svg/favorites-heart-black.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.goods-promo__wr-slide-basket {
    height: 1.56vw;
    width: 1.56vw;
    margin-top: 1.25vw;

    background: no-repeat url('../svg/basket-black.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.goods-promo__slider-wr-arrows {
    display: flex;
    justify-content: center;
    gap: 0.73vw;
}

.goods-promo__slider-wr-arrows {
    margin-top: 2.19vw;
}

.goods-promo__arrow {
    width: 2.45vw;
    height: 0.78vw;

    cursor: pointer;
}

.goods-promo__arrow-prev {
    background: no-repeat url('../svg/arrow-promo-slider-prev.svg');
    background-size: 100% auto;
    background-position: center;
}

.goods-promo__arrow-next {
    background: no-repeat url('../svg/arrow-promo-slider-next.svg');
    background-size: 100% auto;
    background-position: center;
}

/* END ТОВАРЫ ПО АКЦИИ */


/* START С НАМИ УДОБНО */

.comfortable {
    width: 84.87%;
    margin-top: 5.68vw;
    padding-top: 1.04vw;
    padding-right: 6.88vw;
    padding-bottom: 3.96vw;
    padding-left: 6.88vw;

    background-color: #F5F5F5;
    background-image: url('../svg/comfortable-background-oasis.svg');
    background-repeat: no-repeat;
    background-size: auto 96.5%;
    background-position: center;
    border-radius: 0.52vw;
    border: 0.42vw solid #EFEEE9;
    box-shadow: 1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 
    0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.comfortable__title {
    font-family: 'Play';
    font-size: 1.88vw;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

.comfortable__content-list {
    display: flex;
    margin-top: 2.97vw;
    justify-content: space-between;
}

.comfortable__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.21vw;
}

.comfortable__content-icon {
    height: 8.13vw;
    width: 8.13vw;
}

.comfortable__icon-discount {
    background: no-repeat url('../svg/comfortable-discount.svg');
    background-size: contain;
    background-position: center;
}

.comfortable__icon-bonuses {
    background: no-repeat url('../svg/comfortable-bonuses.svg');
    background-size: contain;
    background-position: center;
}

.comfortable__icon-cashback {
    background: no-repeat url('../svg/comfortable-cashback.svg');
    background-size: contain;
    background-position: center;
}

.comfortable__icon-birthday {
    background: no-repeat url('../svg/comfortable-discount-for-birthday.svg');
    background-size: contain;
    background-position: center;
}

.comfortable__content-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Play';
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    
    color: #2F5F6D;
}

/* END С НАМИ УДОБНО */


/* START С НАМИ УДОБНО */

.sales-hits {
    width: 84.87%;
    margin-top: 4.17vw;

    margin-bottom: 8.59vw;
}

.sales-hits__title {
    font-family: 'Play';
    font-size: 1.88vw;
    font-style: normal;
    font-weight: 700;
    text-align: center;

    color: #2F5F6D;
}

.sales-hits__content {
    margin-top: 1.56vw;

    box-shadow: 
        1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06),
        0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.sales-hits__thumbs-list {
    height: 3.13vw;

    background: #E5E4E9;
}

.sales-hits__thumbs-slide {
    display: flex;
    min-width: 7.81vw;  
    width: auto !important;
    padding-left: 0.88vw;
    padding-right: 0.88vw;
    flex-direction: column;
    justify-content: center;

    font-family: 'Play';
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;

    color: #2F5F6D;

    transition: color 0.25s linear;

    cursor: pointer;
}

.sales-hits__thumbs-slide:hover {
    color: #fff;
    background: linear-gradient(270deg, rgba(47, 95, 109, 1) 0%, rgba(106, 233, 251, 1) 100%);
    background-repeat: no-repeat;
}

.sales-hits__thumbs-slide.swiper-slide-thumb-active {
    color: #fff;
    background: linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
}

.sales-hits__goods {
    overflow: visible;
}



/* -------------------------------------------------- */

.sales-hits__sub-slider {
    overflow: visible;
}

/* ---- */
.sales-hits__goods-list {    
    display: flex;
    flex-wrap: wrap;
    height: 36.67vw;

    background: #F5F5F5;
}

.sales-hits__sub-wrapper {
    /* display: flex;
    flex-wrap: wrap; */
    height: 36.67vw;

    background: #F5F5F5;
}
/* ---- */
/* ---- */
.sales-hits__goods-item {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 25%;

    background: #F5F5F5;

    transition: transform 0.2s linear, box-shadow 0.2s linear;

    cursor: pointer;
}

.sales-hits__sub-slide {
    /* position: relative;
    z-index: 1; */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50%; */
    /* width: 25%; */

    background: #F5F5F5;

    transition: transform 0.2s linear, box-shadow 0.2s linear !important;

    pointer-events: initial !important;
    cursor: pointer;
}

.sales-hits__goods-item:hover {
    z-index: 2;

    transform: scale(104%);

    box-shadow: 0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);
}

.sales-hits__sub-slide:hover {
    z-index: 2;

    transform: scale(104%);

    box-shadow: 0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);
}
/* ---- */
.sales-hits__goods-img {
    width: 28%;
    height: 62%;

    transition: width 0.2s linear;
}

.sales-hits__goods-item:hover > .sales-hits__goods-img {
    width: 35%;
}

.sales-hits__goods-img img {
    height: 100%;
    width: 100%;

    filter: drop-shadow(-0.5vw 0.7vw 0.7vw rgba(0, 0, 0, 0.2));

    object-fit: contain;
    object-position: bottom;
}

.sales-hits__goods-title {
    width: 80%;
    margin-top: 11%;

    transition: margin-top 0.2s linear;
}

.sales-hits__goods-item:hover > .sales-hits__goods-title {
    margin-top: 2.5%;
}

.sales-hits__goods-title h2 {
    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    color: #000;
}

.sales-hits__goods-price {
    margin-top: 2%;
    
    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400; 
    
    color: #8E8E8E;

    transition: margin-top 0.2s linear;
}

.sales-hits__goods-item:hover > .sales-hits__goods-price {
    margin-top: 0.2%;
}

.sales-hits__goods-description {
    height: 0;
    width: 42%;
    margin-top: 0.21vw;

    text-align: center;
    font-family: "SofiaSans";
    font-size: 0.73vw;
    font-style: normal;
    font-weight: 400;

    color: #505050;

    transition: height 0.2s linear, opacity 0.2s linear 0.2s;

    opacity: 0;
    overflow: hidden;
}

.sales-hits__goods-item:hover > .sales-hits__goods-description {
    height: 19%; /*14%*/

    opacity: 1;
}

.sales-hits__goods-icons {
    position: absolute;
    top: 5%;
    right: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.35vw;

    opacity: 0;

    transition: opacity 0.2s linear;
}

.sales-hits__goods-item:hover > .sales-hits__goods-icons {
    opacity: 1;
}

.sales-hits__goods-favourites {
    height: 1.25vw;
    width: 1.25vw;

    background: no-repeat url('../svg/favorites-heart-black.svg');
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

.sales-hits__goods-basket {
    width: 1.41vw;
    height: 1.15vw;
    
    background: no-repeat url('../svg/basket-black.svg');
    background-position: center;
    background-size: contain;

    cursor: pointer;
}


/* ---------------------------------------------------------------------- */


/* END С НАМИ УДОБНО */



/* START ГЛАВНЫЙ СЛАЙДЕР */

@media(max-width: 961px) {
    .main__wr-slider {
        height: 80.53vw;
    }
}

@media(max-width: 961px) {
    .main__slider-pagination {
        bottom: 5.33vw;

        gap: 4vw;
    }
}

@media(max-width: 961px) {
    .swiper-pagination-bullet {
        width: 2.67vw;
        height: 2.67vw;
    }
}

/* END ГЛАВНЫЙ СЛАЙДЕР */


/* START ТОВАР ДНЯ */

@media(max-width: 961px) {
    .goods-day {
        width: 100%;
        padding-top: 10.67vw;
    }
}

@media(max-width: 961px) {
    .goods-day__wr-title h2 {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .goods-day__content {
        margin-top: 5.07vw;
        padding-top: 9.60vw;
        padding-right: 4.80vw;
        padding-bottom: 12.80vw;
        padding-left: 4.80vw;
        flex-direction: column;
        gap: 4.53vw;

        border-radius: 0 0 0 0;
        box-shadow: none;
    }
}

@media(max-width: 961px) {
    .goods-day__wr-img {
        height: 65.87vw;
        width: 100%;
    }
}

@media(max-width: 961px) {
    .goods-day__wr-tm-name > h2 {
        font-size: 8.53vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .goods-day__wr-tm-name > p {
        font-size: 5.33vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .goods-day__wr-tm-name > p:last-child {
        width: 100%;
        margin-top: 1.07vw;
        padding-top: 1.87vw;
        padding-bottom: 1.87vw;
        padding-left: 0;
    }
}

@media(max-width: 961px) {
    .goods-day__text {
        margin-top: 3.20vw;
        gap: 5.33vw;

        font-size: 3.73vw;
        text-align: center;
    }
}

/* END ТОВАР ДНЯ */


/* START ТОВАРЫ ПО АКЦИИ */

@media(max-width: 961px) {
    .goods-promo {
        width: 100%;
        padding-right: 0;
        padding-left: 0;

        border-radius: 0 0 0 0;
        box-shadow: none; 
    }
}

@media(max-width: 961px) {
    .goods-promo__wr-title > h2 {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .goods-promo__wr-slider {
        margin-top: 9.33vw;
        padding-bottom: 10.87vw;
    }
}

@media(max-width: 961px) {
    .goods-promo__slider {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-right: 0;
        padding-left: 0;
    }
}

@media(max-width: 961px) {
    .goods-promo__slide {
        padding: 6.67vw 6.67vw 11.73vw;

        box-shadow: 0px 0px 2.13vw 0.53vw rgba(0, 0, 0, 0.25);
    }
}

@media(max-width: 961px) {
    .goods-promo__slide-favorites {
        height: 8.27vw;
        width: 8.27vw;
    }
}

@media(max-width: 961px) {
    .goods-promo__wr-slide-basket {
        height: 8.27vw;
        width: 8.27vw;
        margin-top: 6.40vw;
    }
}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {
    .goods-promo__wr-slide-icons {
        margin-left: 5.33vw;
    }
}

@media(max-width: 961px) {

}

@media(max-width: 961px) {
    .goods-promo__slider-wr-arrows {
        display: none;
    }
}

/* END ТОВАРЫ ПО АКЦИИ */

/* START С НАМИ УДОБНО */

@media(max-width: 961px) {
    .comfortable {
        display: flex;
        width: 90.67%;
        margin-top: 21.07vw;
        padding-top: 7.20vw;
        padding-right: 0;
        padding-bottom: 13.33vw;
        padding-left: 0;
        flex-direction: column;
        align-items: center;

        background-image: url('../svg/comfortable-background-oasis-mobile.svg');
        background-size: auto 97%;
        background-position: center;
        border-radius: 2.67vw;
        border: 2px solid #EFEEE9;
        box-shadow: none;
    }
}

@media(max-width: 961px) {
    .comfortable__title {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .comfortable__content-list {
        margin-top: 14.67vw;
        flex-direction: column;
        justify-content: initial;
        gap: 13.87vw;
    }
}

@media(max-width: 961px) {
    .comfortable__content-item {
        gap: 1.33vw;
    }
}

@media(max-width: 961px) {
    .comfortable__content-icon {
        height: 41.60vw;
        width: 41.60vw;
    }
}

@media(max-width: 961px) {
    .comfortable__content-text {
        font-size: 4.27vw;
    }
}

/* END С НАМИ УДОБНО */


/* START ХИТЫ ПРОДАЖ */

@media(max-width: 961px) {
    .sales-hits {
        width: 100%;
        margin-top: 13.87vw;
        margin-bottom: 28.27vw;
    }
}

@media(max-width: 961px) {
    .sales-hits__title {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .sales-hits__content {
        margin-top: 7.20vw;
        box-shadow: none;
    }
}

@media(max-width: 961px) {
    .sales-hits__thumbs-list {
        height: auto;
    }
}

@media(max-width: 961px) {
    .sales-hits__thumbs-slide {
        min-width: initial;  
        padding-top: 3.47vw;
        padding-right: 0;
        padding-bottom: 3.47vw;
        padding-left: 0;
        flex-direction: row;

        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .swiper.sales-hits__goods {
        margin-top: 5.87vw;
    }
}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}

@media(max-width: 961px) {

}