.main__wr-slider {
    position: relative;

    height: 36.30vw;

    background: #fff;
}

.main__slider {
    height: 100%;
    width: 100%;
}

.main__slider-img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.main__slider-pagination {
    position: absolute;
    bottom: 3.80vw;
    left: 50%;
    z-index: 3;

    transform: translateX(-50%);
}

.main__slider-pagination-bullets {
    display: flex;
    gap: 1.04vw;
}

.swiper-pagination-bullet {
    width: 0.78vw;
    height: 0.78vw;

    background: #FFF;
    border-radius: initial;

    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
}

.main__slider-arrow {
    width: 0.89vw;
    height: 1.77vw;

    cursor: pointer;
}

.main__slider-arrow.main__slider-prev {
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 2;

    transform: translateY(-50%);
}

.main__slider-arrow.main__slider-next {
    position: absolute;
    right: 10%;
    top: 50%;
    z-index: 2;

    transform: translateY(-50%);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goods-day {
    width: 84.87%;
    padding-top: 4.06vw;
}

.goods-day__wr-title h2 {
    font-family: 'Play';
    font-size: 1.88vw;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

.goods-day__content {
    display: flex;
    margin-top: 1.15vw;
    padding-top: 2.34vw;
    padding-right: 5.63vw;
    padding-bottom: 1.93vw;
    padding-left: 2.92vw;
    gap: 4%;

    border-radius: 0.52vw 0.52vw 0 0;
    background: #F5F5F5;
    box-shadow: 1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.goods-day__wr-img {
    position: relative;

    height: 24.53vw;
    width: 123%;
}

.goods-day__wr-img > img {
    height: 100%;
    width: 100%;

    box-shadow: 0px 0px 0.42vw 0.10vw rgba(0, 0, 0, 0.25);

    object-fit: cover;
    object-position: center;
}

.goods-day__wr-img > a {
    position: absolute;
    top: 0;
    left: 0;
}

.goods-day__wr-tm-name > h2 {
    font-family: 'Play';
    font-size: 3.33vw;
    font-style: normal;
    font-weight: 700;
    line-height: 0.68;
    text-transform: uppercase;

    color: #434343;
}

.goods-day__wr-tm-name > p {
    margin-top: 0.3vw;

    font-family: 'Play';
    font-size: 1.88vw;
    font-style: normal;
    font-weight: 700;
    
    color: #434343;
}

.goods-day__wr-tm-name > p:last-child {
    width: 45.4%;
    margin-top: 0.48vw;
    padding-top: 0.36vw;
    padding-bottom: 0.31vw;
    padding-left: 0.31vw;

    background: linear-gradient(270deg, #2F5F6D 0%, #6AE9FB 100%);
    color: #fff;
}

.goods-day__text {
    display: flex;
    margin-top: 2.14vw;
    gap: 1.46vw;
    flex-direction: column;

    font-family: 'Play';
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;
    
    color: #615F5D;
}

.goods-promo {
    width: 84.87%;
    padding-right: 2.92vw;
    padding-left: 2.92vw;

    border-radius: 0 0 0.52vw 0.52vw;
    background: #F5F5F5;
    box-shadow: 1.30vw 1.61vw 2.08vw 0px rgba(0, 0, 0, 0.06), 0.31vw 0.42vw 1.15vw 0px rgba(0, 0, 0, 0.07);
}

.goods-promo {
    margin-top: 1.93vw;
}

.goods-promo__wr-title > h2 {
    font-family: 'Play';
    font-size: 1.88vw;
    font-weight: 700;
    text-align: center;
    
    color: #2F5F6D;
}

.goods-promo__wr-slider {
    margin-top: 1.98vw;
    padding-bottom: 1.82vw;
}

.goods-promo__slide {
    display: flex;
    padding: 1.30vw 1.30vw 2.19vw;
    /* margin-right: 15px; */

    box-shadow: 0px 0px 0.42vw 0.10vw rgba(0, 0, 0, 0.25);
}

.goods-promo__wr-slide-link > a {
    display: inline-block;
    width: 2.40vw; 
    height: 1.15vw;

    background: no-repeat url('../svg/arrow-promo-slider-link.svg');
    background-size: 100% auto;
    background-position: center;
}

.goods-promo__wr-slide-img > img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.goods-promo__slider-wr-arrows {
    display: flex;
    justify-content: center;
    gap: 0.73vw;
}

.goods-promo__slider-wr-arrows {
    margin-top: 2.19vw;
}

.goods-promo__arrow {
    width: 2.45vw;
    height: 0.78vw;

    cursor: pointer;
}

.goods-promo__arrow-prev {
    background: no-repeat url('../svg/arrow-promo-slider-prev.svg');
    background-size: 100% auto;
    background-position: center;
}

.goods-promo__arrow-next {
    background: no-repeat url('../svg/arrow-promo-slider-next.svg');
    background-size: 100% auto;
    background-position: center;
}