include ../variable/phone-call
include ../variable/phone-social 
include ../variable/bread-crumbs
//- include ../variable/catalog

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="yandex-verification" content="68fb09cad51b9065")
    //- link(rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png")
    //- link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon/32.png")
    //- link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon/16.png")

    title Главная

  body

    //- ======================== START модалки ================================
    dialog.dialog
      .dialog__window
        .dialog__header
            .dialog__back
            .dialog__close
        .dialog__content
          //- <div class="dialog__wr-auth-title">
          //-   <h2 class="dialog__title">Регистрация в личном кабинете</h2>
          //- </div>
          //- <div class="dialog__icon dialog__auth-icon"></div>
          //- <form class="dialog__form dialog__form__reg2" name="form-reg2">
          //-   <label class="label-input__label">
          //-       <span class="label-input__label-text">Фамилия</span>
          //-       <span class="label-input__label-error"></span>
          //-       <input class="label-input__input dialog__input" type="text" name="second-name" required="">
          //-   </label>
          //-   <label class="label-input__label">
          //-       <span class="label-input__label-text">Имя</span>
          //-       <span class="label-input__label-error"></span>
          //-       <input class="label-input__input dialog__input" type="text" name="name" required="">
          //-   </label>
          //-   <label class="label-input__label">
          //-       <span class="label-input__label-text">Отчество</span>
          //-       <span class="label-input__label-error"></span>
          //-       <input class="label-input__input dialog__input" type="text" name="patronymic" required="">
          //-   </label>
          //-   <label class="label-input__label">
          //-       <span class="label-input__label-text">Почта</span>
          //-       <span class="label-input__label-error"></span>
          //-       <input class="label-input__input dialog__input" type="text" name="email" required="">
          //-   </label>
          //-   <label class="label-input__label">
          //-       <span class="label-input__label-text">Телефон</span>
          //-       <span class="label-input__label-error"></span>
          //-       <input class="label-input__input dialog__input" type="text" name="phone" required="">
          //-   </label>
          //- </form>
          //- <div class="dialog__wr-buttons dialog__wr-buttons_mb dialog__wr-reg2-buttons">
          //-     <button class="dialog__button dialog__button-login">Далее</button>
          //- </div>
          
    //- ======================== END модалки ================================

    .wrapper
      input#nav-mobile(type="checkbox")
      include ../modules/header

      main.main
        include ../components/nav-catalog.pug
        include ../components/nav-mobile
        include ../components/nav-catalog-burger-mobile
        block content

      include ../modules/footer

      include ../components/nav-bar-mobile