include ../variable/phone-call
include ../variable/phone-social 

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="yandex-verification" content="68fb09cad51b9065")
    link(rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon/32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon/16.png")

    title Главная

body
    input#nav-mobile(type="checkbox")
    include ../modules/header

    main.main
      include ../components/nav-catalog.pug
      include ../components/nav-mobile
      block content

    include ../modules/footer

    include ../components/nav-bar-mobile