block catalog_cards

    - 
        let brands_cards_data = [
            {
                title : 'tea',
                data : [
                    {
                        title: '',
                        path: './svg/brand-logo-niktea.svg',
                        text: 'ALTHAUS объединяет в себе высочайшее качество, обширные знания многовековых чайных традиций и современные методы производства, оригинальные чайные композиции и инновационный дизайн.',
                    }, {
                        title: '',
                        path: './svg/brand-logo-althaus.svg',
                        text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
                    }
                ]
            }, {
                title : 'coffee',
                data : [
                    {
                        title: '',
                        path: './svg/brand-logo-impassion-coffee.svg',
                        text: 'ALTHAUS объединяет в себе высочайшее качество, обширные знания многовековых чайных традиций и современные методы производства, оригинальные чайные композиции и инновационный дизайн.',
                    }, {
                        title: '',
                        path: './svg/brand-logo-r18.svg',
                        text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
                    }, {
                        title: '',
                        path: './svg/brand-logo-lavazza.svg',
                        text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
                    }, {
                        title: '',
                        path: './svg/brand-logo-oasis.svg',
                        text: 'ALTHAUS объединяет в себе высочайшее качество, обширные знания многовековых чайных традиций и современные методы производства, оригинальные чайные композиции и инновационный дизайн.',
                    }, {
                        title: '',
                        path: './svg/brand-logo-danesi-caffe.svg',
                        text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
                    }, {
                        title: '',
                        path: './svg/brand-logo-chocolate.svg',
                        text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
                    }
                ]
            }
        ]