block catalog_cards

    - 
        let brands_cards_data = [
            {
                title_class: 'niktea',
                title_card: '',
                path: './svg/brand-logo-niktea.svg',
                alt: 'чай Niktea',
                text: 'ALTHAUS объединяет в себе высочайшее качество, обширные знания многовековых чайных традиций и современные методы производства, оригинальные чайные композиции и инновационный дизайн.',
            }, {
                title_class: 'althaus',
                title_card: '',
                path: './svg/brand-logo-althaus.svg',
                alt: 'чай Althaus',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',

            }, {
                title_class: 'impassion',
                title_card: '',
                path: './svg/brand-logo-impassion-coffee.svg',
                alt: 'Impassion coffee',
                text: 'ALTHAUS объединяет в себе высочайшее качество, обширные знания многовековых чайных традиций и современные методы производства, оригинальные чайные композиции и инновационный дизайн.',
            }, {
                title_class: 'r18',
                title_card: '',
                path: './svg/brand-logo-r18.svg',
                alt: 'r18',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'lavazza',
                title_card: '',
                path: './svg/brand-logo-lavazza.svg',
                alt: 'Lavazza',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'oasis',
                title_card: '',
                path: './svg/brand-logo-oasis.svg',
                alt: 'Oasis',
                text: 'ALTHAUS объединяет в себе высочайшее качество, обширные знания многовековых чайных традиций и современные методы производства, оригинальные чайные композиции и инновационный дизайн.',
            }, {
                title_class: 'danesi',
                title_card: '',
                path: './svg/brand-logo-danesi-caffe.svg',
                alt: 'Danesi caffe',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'chocolate',
                title_card: '',
                path: './svg/brand-logo-chocolate.svg',
                alt: 'Шоколад',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'monin',
                title_card: '',
                path: './svg/brand-logo-monin.svg',
                alt: 'сиропы Monin',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'clavis',
                title_card: '',
                path: './svg/brand-logo-clavis.svg',
                alt: 'Сlavis',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'barbacks',
                title_card: '',
                path: './svg/brand-logo-barbacks.svg',
                alt: 'Barbacks',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'vedrenne',
                title_card: '',
                path: './svg/brand-logo-vedrenne.svg',
                alt: 'Сиропы и топинги Vedrenne',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'alternative-milk',
                title_card: 'Альтернативное молоко',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'natural-milk',
                title_card: 'Натуральное молоко',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'water with gas',
                title_card: 'Вода с газом',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'water without gas',
                title_card: 'Вода без газа',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'juice',
                title_card: 'Сок',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'kvass',
                title_card: 'Квас',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'cold-tea',
                title_card: 'Холодный чай',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'wmf',
                title_card: '',
                path: './svg/brand-logo-wmf.svg',
                alt: 'WMF',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'rancilio',
                title_card: '',
                path: './svg/brand-logo-rancilio.svg',
                alt: 'Rancilio',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'kaffit',
                title_card: '',
                path: './svg/brand-logo-kaffit.svg',
                alt: 'Kaffit',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'add-equipment',
                title_card: 'Дополнительное оборудование',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'accessories',
                title_card: 'Аксессуары',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'water-treat-clean',
                title_card: 'Водоподготовка и чистящие средства',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'bonomi',
                title_card: '',
                path: './svg/brand-logo-bonomi.svg',
                alt: 'Bonomi',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'accessories-bar',
                title_card: 'Аксессуары для бариста',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'childrens-kits',
                title_card: 'Детские наборы',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'wmf-tableware',
                title_card: 'Коллекции посуды WMF',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'wmf-cutlery-glasses',
                title_card: 'Столовые приборы и бокалы WMF',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'wmf-pots-pans',
                title_card: 'Кастрюли и сковородки WMF',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'accessories-wmf',
                title_card: 'Аксессуары WMF',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'broth',
                title_card: 'Бульон',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }, {
                title_class: 'sugar',
                title_card: 'Сахар',
                path: '#0',
                alt: '',
                text: 'Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов. Почувствуй чай - проNikнись разнообразием!',
            }
        ]