block catalog_cards

    - 
        let catalog_cards_data = [
            {
                title: 'Кофе',
                path: './svg/catalog-coffee.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Чай',
                path: './svg/catalog-tea.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Сиропы и кордиалы',
                path: './svg/catalog-syrups.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Молоко',
                path: './svg/catalog-milk.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Вода и напитки',
                path: './svg/catalog-water.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Кофемашины',
                path: './svg/catalog-coffee-machines.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Аксессуары',
                path: './svg/catalog-accessories.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Посуда WMF',
                path: './svg/catalog-dishes.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Подарочные наборы',
                path: './svg/catalog-gifts-sets.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            }, {
                title: 'Разное',
                path: './svg/catalog-different.svg',
                text: 'Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для экспериментов, ',
            },
        ]