
/* START ОБЩИЕ ДЛЯ МОДАЛОК СВОЙСТВА */
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50000;

    min-height: 100%;
    min-width: 100%;
    width: 100%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;

    border: 0;
    outline: 0;
    background-color: transparent;
    scrollbar-width: thin;

    overflow: overlay;
}
 
.dialog[open] {
    display: grid;
    place-items: center;
}

.dialog::backdrop {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
}

.dialog__window {
    /* position: absolute;
    top: 50%;
    left: 50%; */

    min-height: 28.44vw;
    width: 31.15vw;
    padding: 1.30vw 1.30vw 2.66vw;

    border-radius: 0.52vw;
    background: #FFF;
    box-shadow: 0px 0px 0.83vw 0.16vw rgba(0, 0, 0, 0.25),
     0px 0px 1.56vw 0.42vw rgba(0, 0, 0, 0.25);

    /* transform: translate(-50%, -50%); */
}

.dialog__header {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content;
}

.dialog__close {
    height: 1.56vw;
    width: 1.56vw;
    grid-row: 1;
    grid-column: 3;

    background: no-repeat url('../../svg/close-green.svg'); 
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.dialog__back {
    display: none;
    height: 1.56vw;
    width: 1vw;
    grid-row: 1;
    grid-column: 1;

    background: no-repeat url('../../svg/card-product-arrow-prev.svg');
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

.dialog__back_active {
    display: block;
}

.dialog__content {
    height: 100%;
    padding-right: 0.42vw;
    padding-left: 0.42vw;
}

.dialog__title {
    font-family: 'Play';
    font-size: 1.25vw;
    font-weight: 700;
    text-align: center;

    color: #2F5F6D;
}

.dialog__icon {
    height: 8.13vw;
    width: 8.13vw;
}

.dialog__text {
    font-family: 'Play';
    font-size: 0.83vw;
    text-align: center;

    color: #2F5F6D;
}

.dialog__form {
    display: flex;
    margin-top: 1.20vw;
    flex-direction: column;
    gap: 0.83vw;
}

.dialog__form__check {
    margin-top: 3.28vw;
}

.dialog__form__auth {
    margin-top: 1.20vw;
}

.dialog__timer {
    display: flex;
    justify-content: center;

    font-family: 'Play';
    font-size: 0.57vw;
    text-align: center;

    color: #2F5F6D;

    visibility: hidden;
}

.dialog__timer_active {
    visibility: visible;
}

.dialog__wr-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.68vw;
}

.dialog__wr-buttons_short {
    gap: 1.04vw;
}

.dialog__button {
    height: 2.60vw;
    width: 100%;

    font-family: 'Play';
    font-size: 0.83vw;
    color: #FFF;

    border: 0;
    border-radius: 0.42vw;
    background: #4D96AB;
    box-shadow: -0.21vw 0.21vw 0.47vw 0px #9AA4A7;

    cursor: pointer;
}

.dialog__button_short {
    width: 21.77vw;
}

.dialog__button_disabled {
    background: rgba(77, 150, 171, 0.60);
}

.dialog__wr-buttons_mb {
    margin-bottom: 2vw;
}

/* проверка номера телефона */
.dialog__wr-check-phone-title {
    margin-top: 1.98vw;
}

.dialog__wr-check-phone-text {
    margin-top: 2.97vw;
}

.dialog__timer {
    margin-top: 2.81vw;
}

.dialog__wr-check-phone-buttons {
    margin-top: 0.42vw;
}

/* проверка номера телефона */

/* успех */
.dialog__success-title {
    margin-top: 4.06vw;
}

.dialog__success-icon {
    margin: 2.86vw auto 0;

    background: no-repeat url('../../svg/success-with-dot.svg');
    background-size: contain;
    background-position: center;
}

.dialog__success-icon_mod {
    margin-top: 3.85vw;
}
/* успех */


/* ошибка */
.dialog__fail-title {
    margin-top: 4.06vw;
}

.dialog__fail-icon {
    margin: 4.32vw auto 0;

    background: no-repeat url('../../svg/fail.svg');
    background-size: contain;
    background-position: center;
}
/* ошибка */

/* END ОБЩИЕ ДЛЯ МОДАЛОК СВОЙСТВА */


/* --== START ACCOUNT ==-- */

/* удаление профиля */
.dialog__wr-del-profile-title {
    margin-top: 5.73vw;
}

.dialog__wr-del-profile-buttons {
    margin-top: 5.05vw;
}

/* удаление адреса */
.dialog__wr-del-address-title {
    margin-top: 5.73vw;
}

.dialog__wr-choose-address {
    display: flex;
    height: 1.56vw;
    margin-top: 1.77vw;
    justify-content: center;
}

.dialog__wr-del-address-buttons {
    margin-top: 5vw;
}
/* --== END ACCOUNT ==-- */




/* --== START AUTH ==-- */
.dialog__wr-auth-title {
    margin-top: 1.09vw;
}

.dialog__auth-icon {
    margin: 2.29vw auto 0;

    background: no-repeat url('../../svg/account-avatar.svg');
    background-size: contain;
    background-position: center;
}

/* auth */
.dialog__wr-auth-buttons {
    margin-top: 4.43vw;
}

/* login */
.dialog__forget {
    margin-top: 0.73vw;

    font-family: 'Play';
    font-size: 0.73vw;
    text-align: center;
    
    color: #2F5F6D;
}

.dialog__wr-login-buttons {
    margin-top: 3.65vw;
}

/* reg1 */
.dialog__rass-rules {
    display: flex;
    margin-top: 0.52vw;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Play';
    font-size: 0.63vw;

    color: #C1C1C1;
}

.dialog__wr-reg1-buttons {
    margin-top: 1.61vw;
}

/* reg2 */
.dialog__item-checkmarks {
    display: flex;
    width: 69.4%;
    margin-top: 1.98vw;
    gap: 0.78vw;
    flex-direction: column;
}

.dialog__checkmarks-label {
    display: flex;
    justify-content: space-between;
}

.dialog__checkmarks-input {
    display: none;
}

.dialog__checkmarks-text {
    display: flex;
    gap: 0.47vw;
    align-items: end;

    font-family: 'Play';
    font-size: 0.63vw;

    color: #615F5D;

    cursor: pointer;
}

.dialog__checkmarks-input:disabled + .dialog__checkmarks-text {
    cursor: default;
}

.dialog__checkmarks-text::before {
    content: "";

    display: inline-block;
    width: 1.30vw;
    height: 1.30vw;
    flex-shrink: 0;

    border-radius: 0.21vw;
    background-color: #EFEFEF;
    border: 1px solid #4D96AB;
}

.dialog__checkmarks-input_invalid + .dialog__checkmarks-text::before {
    border: 1px solid #F00;
}

.dialog__checkmarks-input:checked + .dialog__checkmarks-text::before {
    border: 1px solid #4D96AB;
    background-image: url('../../svg/checkmark-green.svg');
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center;
}

.dialog__reg2-doc {
    display: inline-block;
    width: 1.51vw;
    height: 1.35vw;
    flex-shrink: 0;

    background: no-repeat url('../../svg/icon-pdf.svg');
    background-size: contain;
    background-position: center;
}

.dialog__wr-reg2-buttons {
    margin-top: 3.02vw;
}
/* --== END AUTH ==-- */





/* --== START ОБЩИЕ ДЛЯ МОДАЛОК СВОЙСТВА ==-- */

@media(max-width: 961px) {
    .dialog__window {
        min-height: 86.40vw;
        width: 84.68%;
        padding: 6.67vw 6.67vw 8.27vw;
        
        border-radius: 2.67vw;
        box-shadow: 0px 0px 4.27vw 0.80vw rgba(0, 0, 0, 0.25), 0px 0px 8vw 2.13vw rgba(0, 0, 0, 0.25);
    }   
}

@media(max-width: 961px) {
    .dialog__back {
        height: 8vw;
        width: 4.9vw;
    }
}

@media(max-width: 961px) {
    .dialog__close {
        height: 8vw;
        width: 8vw;
    }
}

@media(max-width: 961px) {
    .dialog__content {
        padding-right: 0;
        padding-left: 0;
    }
}

@media(max-width: 961px) {
    .dialog__title {
        font-size: 5.33vw;
    }
}

@media(max-width: 961px) {
    .dialog__icon {
        height: 29.87vw;
        width: 29.87vw;
    }   
}

@media(max-width: 961px) {
    .dialog__text {
        font-size: 3.73vw;
    }
}

@media(max-width: 961px) {
    .dialog__form {
        margin-top: 4.53vw;
        gap: 2.67vw;
    }

    .dialog__form__check {
        margin-top: 14.40vw;
    }

    .dialog__form__auth {
        margin-top: 4.80vw;
    }
}

@media(max-width: 961px) {
    .dialog__input {
        height: 10.40vw;
    }
}

@media(max-width: 961px) {
    .dialog__timer {
        margin-top: 8vw;

        font-size: 2.93vw;
    }
}

@media(max-width: 961px) {
    .dialog__wr-buttons {
        gap: 4.27vw;
    }
}

@media(max-width: 961px) {
    .dialog__button {
        height: 10.67vw;
        width: 95.17%;

        font-size: 4.27vw;

        border-radius: 2.13vw;
    }
}

@media(max-width: 961px) {
    .dialog__wr-buttons_mb {
        margin-bottom: 0;
    }
}
/* --== END ОБЩИЕ ДЛЯ МОДАЛОК СВОЙСТВА ==-- */


/* --== START проверка номера телефона ==-- */
@media(max-width: 961px) {
    .dialog__wr-check-phone-title {
        margin-top: 11.20vw;
    }
}

@media(max-width: 961px) {
    .dialog__wr-check-phone-text {
        margin-top: 16.27vw;
    }
}

@media(max-width: 961px) {
    .dialog__wr-check-phone-buttons {
        margin-top: 1.33vw;
    }
}
/* --== END проверка номера телефона ==-- */

/* --== START успех ==-- */
@media(max-width: 961px) {
    .dialog__success-title {
        margin-top: 10.93vw;
    }
}

@media(max-width: 961px) {
    .dialog__success-icon {
        margin: 14.40vw auto 13vw;
    
        background: no-repeat url('../../svg/success-with-dot.svg');
        background-size: contain;
        background-position: center;
    }
}
/* --== END успех ==-- */


/* --== START ошибка ==-- */
@media(max-width: 961px) {
    .dialog__fail-title {
        margin-top: 10.93vw;
    }
}

@media(max-width: 961px) {
    .dialog__fail-icon {
        margin: 14.40vw auto 13vw;
    
        background: no-repeat url('../../svg/fail.svg');
        background-size: contain;
        background-position: center;
    }
}
/* --== END ошибка ==-- */


/* --== START ACCOUNT ==-- */

/* удаление профиля */
@media(max-width: 961px) {
    .dialog__wr-del-profile-title {
        margin-top: 10.93vw;
    }
}

@media(max-width: 961px) {
    .dialog__wr-del-profile-buttons {
        margin-top: 14.67vw;
    }
}
/* удаление адреса */
@media(max-width: 961px) {
    .dialog__wr-del-address-title {
        margin-top: 10.93vw;
    }
}

@media(max-width: 961px) {
    .dialog__wr-choose-address {
        height: 8vw;
        margin-top: 10.40vw;
    }
}

@media(max-width: 961px) {
    .dialog__wr-del-address-buttons {
        margin-top: 10.13vw;
    }
}
/* --== END ACCOUNT ==-- */




/* --== START AUTH ==-- */
@media(max-width: 961px) {
    .dialog__wr-auth-title {
        margin-top: 2.67vw;
    }
}

@media(max-width: 961px) {
    .dialog__auth-icon {
        margin: 9.60vw auto 0;
    }
}

/* auth */
@media(max-width: 961px) {
    .dialog__wr-auth-buttons {
        margin-top: 6.67vw;
    }
}

/* login */
@media(max-width: 961px) {
    .dialog__forget {
        margin-top: 4vw;
    
        font-family: 'Play';
        font-size: 3.73vw;
        text-align: center;
        
        color: #2F5F6D;
    }
}

@media(max-width: 961px) {
    .dialog__wr-login-buttons {
        margin-top: 7.73vw;
    }
}

/* reg1 */
@media(max-width: 961px) {
    .dialog__rass-rules {
        margin-top: 1.60vw;

        font-size: 2.93vw;
        text-align: center;
        white-space: nowrap;
    }
}

@media(max-width: 961px) {
    .dialog__wr-reg1-buttons {
        margin-top: 5.07vw;
    }
}

/* reg2 */
@media(max-width: 961px) {
    .dialog__item-checkmarks {
        width: 85.3%;
        margin-top: 9.07vw;
        gap: 4vw;
    }
}

@media(max-width: 961px) {
    .dialog__checkmarks-text {
        gap: 3.47vw;

        font-size: 3.20vw;
    }
}

@media(max-width: 961px) {
    .dialog__checkmarks-text::before {
        width: 6.2vw;
        height: 6.2vw;
        border-radius: 1.07vw;
    }
}

@media(max-width: 961px) {
    .dialog__reg2-doc {
        width: 7.73vw;
        height: 6.93vw;
    }   
}

@media(max-width: 961px) {
    .dialog__wr-reg2-buttons {
        margin-top: 13.87vw;
    }
}
/* --== END AUTH ==-- */

